@font-face {
  font-family: 'LoversQuarrel-Regular';
  src: url('../fonts/Lovers_Quarrel/LoversQuarrel-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: auto;
}
@mixin logo {
  font-family: 'LoversQuarrel-Regular', sans-serif;
}

@font-face {
  font-family: 'Caveat-Regular';
  src: url('../fonts/Caveat/Caveat-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: auto;
}

@mixin menu {
  font-family: 'Caveat-Regular', sans-serif;
}

@font-face {
  font-family: 'Cormorant-Regular';
  src: url('../fonts/Cormorant_Infant/CormorantInfant-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: auto;
}

@mixin reg {
  font-family: 'Cormorant-Regular', sans-serif;
}

@font-face {
  font-family: 'Cormorant-Bold';
  src: url('../fonts/Cormorant_Infant/CormorantInfant-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: auto;
}

@mixin bold {
  font-family: 'Cormorant-Bold', sans-serif;
}


@font-face {
  font-family: 'CormorantSC-Bold';
  src: url('../fonts/Cormorant_SC/CormorantSC-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: auto;
}

@mixin title {
  font-family: 'CormorantSC-Bold', sans-serif;
}
