*
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

body
  padding: 0
  margin: 0
  +reg
  background: $bgcolor
img
  max-width: 100%
a
  text-decoration: none
  color: #ffffff
ul
  list-style: none
  padding-left: 0
button
  outline: none
.container
  width: 1140px
  margin: auto
  @media (max-width: 1200px)
    width: 90%

.section
  text-align: center
  background-color: #ffffff
  &-title
    margin-bottom: 50px
    +title
  &-subtitle
    margin-bottom: 300px
  &-button
    text-transform: uppercase
    border: 1px solid red
    border-radius: 50px
    padding: 10px 50px
    +menu
.button
  padding: 0px 20px
  border-radius: 50px
  border: none
  text-transform: uppercase
  background: $primarycolor
  color: #ffffff
  &-close
    background: url('../img/modal/close.svg')
    width: 20px
    height: 20px
    border: none
    outline: none
.page
  text-align: center
  color: #ffffff
  +title
  @media (max-width: 1200px)
    padding: 50px 0
  &-title
    font-size: 60px
  &-subtitle
    font-size: 20px
@keyframes flip
  0%
    transform: rotateY(0deg)
  25%
    transform: rotateY(90deg)
  50%
    transform: rotateY(180deg)
  75%
    transform: rotateY(270deg)
  100%
    transform: rotateY(360deg)
    
.slick
  &-prev
    background: url('../img/greetings/left-arrow.svg') no-repeat
    background-position: center
    width: 80px
    border: none
  &-next
    background: url('../img/greetings/left-arrow.svg') no-repeat
    background-position: center
    transform: rotate(180deg)
    width: 80px
    border: none
.modal
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.7)
  z-index: 20
  &-dialog
    width: 600px
    height: 400px
    background-color: rgba(30, 37, 51, 1)
    margin: auto
    margin-top: 150px
    position: relative
    text-align: center
    @media (max-width: 786px)
      width: 300px
      height: 250px
    &__close
      position: absolute
      right: 0
      width: 25px
      @media (max-width: 786px)
        width: 15px
  &-title
    padding-top: 20px
    text-transform: uppercase
    color: #ffffff
    @media (max-width: 786px)
      font-size: 14px
  &-form
    display: flex
    flex-direction: column
    padding: 50px
    padding-top: 10px
    @media (max-width: 786px)
      padding: 0
    &__input
      width: 250px
      margin: auto
      margin-bottom: 20px
      border-radius: 10px
      border: none
      padding: 10px 20px
      outline: none
      @media (max-width: 786px)
        width: 150px
        font-size: 12px
        padding: 10px
        margin-bottom: 10px
        &::placeholder
          text-align: left
      &:nth-child(3)
        height: 100px
        @media (max-width: 786px)
          height: 50px

    &__button
      margin: auto
      padding: 20px 60px
      @media (max-width: 786px)
        padding: 10px 10px

.modalty
  // display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.9)
  z-index: 20
  &-dialog
    width: 250px
    height: 200px
    background-color: rgba(30, 37, 51, 1)
    margin: auto
    margin-top: 150px
    position: relative
    text-align: center
    &__close
      position: absolute
      right: 0
      width: 25px
  &-title
    color: #ffffff
    padding-top: 30px
    +title
    padding-left: 10px
    padding-right: 10px
  &-content
    color: #ffffff
    padding: 0 10px
    +menu
    font-size: 20px