@font-face {
  font-family: 'Nexa Script Regular';
  src: url('../fonts/NexaScript/');
  src: url('../fonts/NexaScript/?#iefix') format('embedded-opentype'),
    url('../fonts/NexaScript/NexaScript-Regular.woff') format('woff'),
    url('../fonts/NexaScript/NexaScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Century Gothic Italic';
  src: url('../fonts/CenturyGothic/CenturyGothic-Italic.eot');
  src: url('../fonts/CenturyGothic/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic/CenturyGothic-Italic.woff') format('woff'),
    url('../fonts/CenturyGothic/CenturyGothic-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Century Gothic Bold';
  src: url('../fonts/CenturyGothic/CenturyGothic-Bold.eot');
  src: url('../fonts/CenturyGothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff'),
    url('../fonts/CenturyGothic/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display Regular';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot');
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff'),
    url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Century Gothic Regular';
  src: url('../fonts/CenturyGothic/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
    url('../fonts/CenturyGothic/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Euroscript Pro Regular';
  src: url('../fonts/EuroscriptPro/EuroscriptPro.eot');
  src: url('../fonts/EuroscriptPro/EuroscriptPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EuroscriptPro/EuroscriptPro.woff') format('woff'),
    url('../fonts/EuroscriptPro/EuroscriptPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@mixin reg {
  font-family: 'Century Gothic Regular', sans-serif;
  font-weight: 400;
}
@mixin bold {
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: 700;
}
@mixin title {
  font-family: 'Playfair Display Regular', sans-serif;
  font-weight: 500;
}
@mixin sign {
  font-family: 'Euroscript Pro Regular', sans-serif;
  font-weight: 500;
}