* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include f-bold();
  color: #000000;
}
a {
  text-decoration: none;
  color: #000000;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
p {
  margin: 0;
  padding: 0;
}
// общие стили start
body.overflow-hidden {
  overflow: hidden;
}
.container {
  width: 1110px;
  margin: auto;
  @include max-large() {
    width: 90%;
  }
}
.menu {
  @include flexbox();
  justify-content: space-between;
  .link {
    font-size: 14px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #ECECEF;
  }
}
.button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  height: 48px;
  @include flexbox();
  justify-content: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ECECEF;
  border-radius: 4px;
}
.calc-button {
  background: transparent;
  border: 1px solid #ECECEF;
}
.feedback-button {
  background: #FD695A;
}
.section-title {
  text-align: center;
  span {
    @include f-x-bold();
    font-size: 30px;
    letter-spacing: -0.02em;
    color: #ECECEF;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin: 0px 0px 0px -40%;
      width: 80%;
      height: 1px;
      background: #B0B9C8;
    }
  }
}
// общие стили end
.header {
  background: #16162E;
  padding: 53px 0px 0px;
  @include max-small() {
    padding: 0;
  }
  .block {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 78px;
    @include max-small() {
      height: 100%;
    }
  }
  .block-l {
    @include max-small() {
      @include flexbox();
      align-items: center;
      width: 100%;
      height: 79px;
      
    }
    .burger {
          display: none;
          position: relative;
          width: 24px;
          height: 19px;
          margin: 0px -24px 0px 0px;
          @include max-small() {
            display: block;
          }
          span, span::before, span::after {
            position: absolute;
            top: 50%; margin-top: -1.5px;
            left: 50%; margin-left: -12px;
            width: 24px;
            height: 3px;
            background: #C4C4C4;
            border-radius: 2px;
            transition: 0.15s;
          }
          span::before, span::after {
            content: '';
          }
          span::before {
            transform: translateY(7px);
          }
          
          span::after {
            transform: translateY(-7px);
          }
      }
    .burger.active {
      span::before {
        transform: rotate(45deg);
      }
      span {
        height: 0px;
      }
      span::after {
        transform: rotate(-45deg);
      }
    }
    .header-logo {
      @include max-small() {
        @include flexbox();
        align-items: center;
        margin: auto;
      }
    }
  }
  .block-r {
    width: 64%;
    @include max-small() {
      display: none;
    }
  }
}
.header.active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  .block {
    flex-direction: column;
  }
  .block-l {
    .header-logo {
      display: none;
    }
  }
  .block-r {
    display: block;
    width: 100%;
    .menu {
      flex-direction: column;
      justify-content: center;
      margin: -20px auto;
      width: 30%;
      .menu-item {
        margin: 20px 0px;
        .link {
          font-size: 30px;
          letter-spacing: 0.01em;
        }
        &:first-child .link {
          color: #FD695A;
        }
      }
    }
  }
}
.hero {
  background: #16162E;
  padding: 74px 0px 145px;
  @include max-large() {
    padding: 13px 0px 150px;
  }
  .block {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    @include max-large() {
      flex-direction: column;
      position: relative;
    }
  }
  .block-l {
    @include max-large() {
      z-index: 4;
      padding: 68px 0px 0px;
    }
    .block-t {
      @include flexbox();
      flex-direction: column;
      position: relative;
      padding: 0px 0px 20px;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ffffff;
      }
      .title {
        @include f-x-bold();
        font-size: 84px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #ffffff;
        @include max-small() {
          font-size: 45px;
        }
      }
    }
    .block-b {
      @include flexbox();
      justify-content: space-between;
      width: 100%;
      margin: 43px 0px 0px;
      @include max-small() {
        flex-direction: column;
      }
      .button {
        width: 47%;
        @include max-small() {
          width: 100%;
          margin: 7px 0px;
        }
      }
    }
  }
  .block-r {
    @include max-large() {
      position: absolute;
      @include flexbox();
      justify-content: center;
      z-index: 3;
    }
    .hero-logo {
      @include max-small() {
        display: none;
      }
    }
    .hero-logo-resp {
      display: none;
      @include max-small() {
        display: block;
      }
    }
  }
}
.about {
  background: #2D2D42;
  padding: 45px 0px 170px;
  .block {
    @include flexbox();
    flex-direction: column;
  }
  .about-list {
    @include flexbox();
    flex-wrap: wrap;
    width: 100%;
    margin: -70px 0px;
    padding: 100px 0px 0px;
    .about-item {
      width: 33%;
      @include flexbox();
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 70px 0px;
      .count {
        font-size: 18px;
        letter-spacing: 0.015em;
        color: #FFFFFF;
        margin: 30px 0px;
      }
      .text {
        @include f-normal();
        font-size: 14px;
        letter-spacing: 0.06em;
        color: #ECECEF;
        max-width: 40%;
        text-align: center;
      }
    }
  }
}