//delete import googlefonts after implementing local on wordpress
@import 'fonts';
@import 'mixin';
:root {
  --page-bg: #F8FAF6;
  --page-gradient: linear-gradient(180deg, #283078 0%, rgba(40, 48, 120, 0) 80%);
  --accent-color: #EFB300;
  --text-color: #fff;
  --text-bg: linear-gradient(255.78deg, #FFC01E 13.44%, #E3281C 124.73%);
  --overlay-bg: #212733;
}
@keyframes floatingUp {
  0% {
    @include transform(translateY(0px));
  }
  50% {
    @include transform(translateY(-10px));
  }
  100% {
    @include transform(translateY(0px));
  }
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.46;
  color: #D9D9D9;
  @include manrope-regular();
}
html, body {
  height: 100%;
}
body {
  overflow-x: hidden;
}
body.overflow-hidden {
  overflow-y: hidden;
}
img {
  max-width: 100%;
}
ul,ol, li {
  @include list();
}
a {
  text-decoration: none;
  
  color: var(--accent-color);
  outline: none;
  @include max-medium() {
    -webkit-tap-highlight-color: transparent;
  }
}
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  @include min-medium() {
    max-width: 1170px;
    padding: 0;
  }
}

.main-title-big {
  font-size: 36px;
  line-height: 1;
  color: #FFFFFF;
  text-align: center;
  @include manrope-extrabold();

  @include min-medium() {
    font-size: 36px;
  }
}

.main-subtitle-medium, .main-title-medium {
  @include manrope-medium();
  font-size: 16px;
  line-height: 1.46;
  text-align: center;
  color: #787878;
}

.main-button {
  @include display-flex();
  @include justify-content-center();
  @include align-items-center();
  height: 50px;
  min-width: 183px;
  max-width: 183px;
  text-transform: uppercase;
  color: #fff;
  @include manrope-extrabold();
  font-size: 18px;
  line-height: 1.46;
  background: #F79F09;
  cursor: pointer;
  border: none;
  outline: none;

  @include min-medium() {
    @include transition(all .5s ease);
    @include transform(translateY(0px));

    &:hover {
      @include transform(translateY(-5px));
    }
  }
}

.header {
  @include transition(all .5s ease);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 101;
  &.active {
    height: 100%;
    @include transition(all .5s ease);
    .header-mobile {
      position: relative;
      height: 100%;
      @include transition(all .5s ease);
      .header-block {
        height: 100vh;
        max-height: 100%;
        background: #121212;
      }
      .header-bottom {
        @include display-flex();
        overflow-y: auto;
        @include transform(translateY(0%));
        height: 100%;
        max-height: 45vh;
        @include min-medium() {
          @include justify-content-center();
        }
      }
    }
  }
  .header-sign-up {
    .main-button {
      height: 48px;
    }
  }
  .container {
    z-index: 200;
  }
  .header-desktop {
    @include max-medium() {
      display: none;
    }
    .header-row {
      padding: 24px 0;
      @include display-flex();
      @include align-items-center();
      @include justify-content-space-between();
    }
  }
  .header-mobile {
    @include transition(all .5s ease);
    @include min-medium() {
      display: none;
    }
    .header-block {
      @include display-flex();
      flex-direction: column;
      padding: 0;
    }
    .header-top{
      @include display-flex();
      @include align-items-center();
      @include justify-content-space-between();
      width: 100%;
      min-height: 100px;
      max-height: 100px;
      z-index: 103;
      .header-logo{
        img {
          object-fit: contain;
          object-position: left;
          max-width: 240px;
          min-height: 55px;
          max-height: 55px;
        }
      }
      .burger {
        position: relative;
        width: 36px;
        height: 36px;
        cursor: pointer;
        @include transition(all .5s ease);
        @include max-medium() {
          -webkit-tap-highlight-color: transparent;
        }
        .burger-wrapper {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
          width: 36px;
          height: 36px;
          @include transition(all .5s ease);
          div {
            position: absolute;
            display: inline-block;
            left: 4px;
            height: 3px;
            background: #fff;
            border-radius: 100px;
            @include transition(all .5s ease);
          }
          .line-1 {
            width: 27px;
            top: 8px;
          }
          .line-2 {
            width: 27px;
            top: 17px;
          }
        }
        &.active {
          .burger-wrapper {
            width: 36px;
            height: 36px;
            div {
              width: 27px;
              top: 50%;
            }
            .line-1 {
              transform: rotate(-45deg);
            }
            .line-2 {
              transform: rotate(45deg);
            }
          }
        }
      }

    }

    .header-bottom{
      @include flex-direction-column();
      width: 100%;
      @include transition(all .5s ease);
      @include transform(translateY(-200%));

      .header-menu {
        width: 100%;
        @include flex-direction-column();
        align-items: center;
        margin: 0 0 25px;

        li {
          margin: 6px 0;

          a{
            font-size: 22px;
            line-height: 1.4;
            color: #fff;
            @include manrope-bold();

            &.active {
              @include manrope-extrabold();
              color: #EFB300;
              &::before {
                display: none;
              }
            }
          }
        }

        li.current-menu-item {
          a {
            @include manrope-extrabold();

            color: #EFB300;
            &::before {
              display: none;
            }
          }
        }
      }

      .header-sign {
        width: 100%;
        @include justify-content-center();
      }

      .header-sign-up {
        .main-button {
          margin: 0 auto;
        }
      }
    }
  }

  .header-menu {
    @include display-flex();
    @include flex-direction-column();
    @include min-medium() {
      @include flex-direction-row();
    }
    .menu-item {
      margin: 0 8.5px;
      a {
        text-transform: uppercase;
        @include manrope-bold();
        color: #fff;
        @include transition(all .5s ease);
        @include min-medium() {
          &:hover {
            color: var(--accent-color);
          }
        }
      }
      &.current-menu-item {
        a {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0;
            background: #EFB300;
            width: 100%;
            height: 2px;
          }
        }
      }
    }
  }
  .header-logo {
    @include display-flex();
    img {
      max-width: 160px;
      max-height: 65px;
      object-fit: contain;
      object-position: left;
      @include min-medium() {
        max-height: 65px;
        max-width: 190px;
      }
    }
  }
}
.header-empty {
  height: 74px;
  @include min-medium() {
    height: 97px;
  }
}

.announcement-bar {
  @include manrope-medium();
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  height: 32px;
  @include display-flex();
  @include justify-content-center();
  @include align-items-center();
  text-align: center;
  margin-bottom: 21px;
  @include min-medium() {
    display: none;
  }
  &:empty {
    display: none;
  }
}
.footer {
  @include display-flex();
  @include flex-direction-column();
  background: #121212;
  .footer-top {
    padding-top: 27px;
    padding-bottom: 28px;

    .footer-block {
      position: relative;

      .footer-logo {
        text-align: center;
        img {
          @include transition(all 0.4s ease);
          max-height: 65px;
          min-height: 65px;
          object-fit: contain;
        }
        @include min-medium() {
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
      .footer-info {
        //text-align: center;
        h2 {
          font-size: 20px;
          line-height: 1.46;
          color: #BDBDBD;
          strong {
            color: #BDBDBD;
            font-size: inherit;
            font-weight: 700;
            font-family: inherit;
          }
        }
        p {
          color: #BDBDBD;
          font-size: 14px;
          line-height: 1.46;
          strong {
            color: #BDBDBD;
            font-size: inherit;
            font-weight: 700;
            font-family: inherit;
          }
        }
        a {
          text-decoration: none;
          color: var(--accent-color);
          font-size: 14px;
          line-height: 1.46;
          strong {
            color: var(--accent-color);
            font-size: inherit;
            font-weight: 700;
            font-family: inherit;
          }
        }
      }
      .footer-info-1 {
        @include display-flex();
        @include justify-content-space-between();
        @include flex-direction-column();
        .disclaimer {
          margin-top: 24px;
          color: #ffffff;
          @include min-medium() {
            margin-top: 22px;
          }
          h2, p {
            color: #ffffff;
          }
          strong {
            color: #ffffff;
          }
          a {
            
          }
        }
        .description {
          margin-top: 16px;
          max-width: 861px;
          h2, p {
            color: #ffffff;
          }
          strong {
            font-weight: 700;
            font-family: inherit;
            color: #ffffff;
          }
          a {
            color: var(--accent-color);
          }
        }
      }
      .footer-info-2 {
        margin-top: 24px;
        @include min-medium() {
          margin-top: 40px;
        }
        .description {
          h2, p {
            color: #ffffff;
            font-size: 16px;
            line-height: 19px;
          }

          strong {
            font-weight: 700;
            font-family: inherit;
            color: #ffffff;
          }
          a {
            color: var(--accent-color);
            font-size: 16px;
            line-height: 19px;
            @include manrope-semibold();
          }
        }
      }
    }
    .footer-block-wrapper {
      @include min-medium() {
        flex-basis: 75%;
      }
    }
  }
  .footer-bottom {
    background: #121212;
    padding-bottom: 32px;

    @include max-medium() {
      padding-top: 55px;
    }
    @include min-medium() {
      padding-bottom: 64px;
    }
    .copyright {
      color: #fff;
      
      font-size: 18px;
      line-height: 22px;
      text-align: center;

      @include max-small {
        font-size: 14px;
      }

      strong {
        color: #fff;
        
        font-size: inherit;
        font-weight: 700;
      }
    }
  }
}

//common styles end
//homepage styles start
.hero {
  position: relative;
  z-index: 5;
  padding-top: 100px;
  padding-bottom: 40px;
  overflow: hidden;
  min-height: 600px;

  @include min-medium() {
    padding-top: 146px;
    padding-bottom: 110px;
    min-height: 710px;
  }

  .container {
    @include max-small {
      padding: 0;
    }
  }

  .hero-block {
    background-repeat: no-repeat;
    background-size: cover;
    @include display-flex();
    @include flex-direction-column();
    padding: 40px 17px 7px;
    background: #24292C;
    backdrop-filter: blur(6px);
    @include border-radius(0);

    @include min-medium() {
      padding: 64px 45% 64px 52px;
      min-height: 444px;
    }

    .hero-image-wrapper {
      max-width: 523px;
      margin: 0 auto;

      @include min-medium {
        max-width: 450px;
        position: absolute;
        right: -53px;
        top: 0px;
      }

      @include min-large {
        max-width: 523px;
        top: -40px;
      }

      img {
        width: 100%;
        height: auto;
        vertical-align: bottom;

      }
    }

    .hero-title-wrapper {
      @include min-medium() {
        flex-basis: 50%;
        @include display-flex();
        @include flex-direction-column();
        @include justify-content-center();
        max-width: 535px;
      }

      .hero-title {
        font-size: 36px;
        @include manrope-extrabold;
        line-height: 1;
        color: #EFB300;
        margin-bottom: 31px;

        @include min-medium() {
          font-size: 50px;
          max-width: 556px;
          margin-bottom: 24px;
        }
      }

      .hero-description {
        margin-bottom: 50px;
        @include manrope-medium;
        font-size: 14px;
        line-height: 1.5;
        color: #e0e0e0;

        @include min-medium() {
          max-width: 600px;
          margin-bottom: 24px;
        }
      }
    }

    .hero-button-wrapper {
      @include display-flex();
      @include flex-direction-column();
      @include align-items-center();

      @include min-ipad-pro() {
        @include flex-direction-row();
        @include align-items-center();
        @include justify-content-flex-start();
      }

      .hero-play-button, .hero-reg-button {
        @include justify-content-flex-start();

        @include min-ipad-pro() {
          margin-right: 20px;
        }

        @include max-ipad-pro() {
          margin-bottom: 20px;
        }
      }

      .hero-reg-button {
        .main-button {
          border: 1px solid transparent;
        }
      }

      .hero-contact-button {
        .main-button {
          background: transparent;
          border: 1px solid #fff;
        }
      }
    }
  }

  .hero-arrow {
    cursor: pointer;
    @include display-flex();
    @include justify-content-center();
  }
}

.content {
  z-index: 1;
  position: relative;
  padding-top: 17px;
  padding-bottom: 32px;

  @include min-medium() {
    padding-top: 48px;
    padding-bottom: 106px;
  }

  .content-block {
    .content-title {
      margin-bottom: 16px;
      text-align: center;

      @include min-medium() {
        margin-bottom: 22px;
      }
    }

    .content-description {
      margin-bottom: 40px;
      text-align: center;

      @include min-medium() {
        margin-bottom: 62px;
        max-width: 721px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .content-list {
      @include display-flex();
      @include flex-wrap-wrap();
      @include justify-content-center();

      @include max-ipad-pro() {
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
        @include flex-direction-column();
      }

      .content-list-item {
        margin-bottom: 59px;

        @include min-ipad-pro() {
          width: 33.33%;
        }

        @include max-medium() {
          margin-bottom: 88px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .content-list-item-wrapper {
        }

        &:nth-child(1) {
          .item-wrapper {
            .icon {
              &::before {
                background-image: url('../img/htp-1.svg');

                @include max-ipad-pro() {
                  min-height: 84px;
                  max-height: 84px;
                }
              }
            }
          }
        }

        &:nth-child(2) {
          .item-wrapper {
            .icon {
              &::before {
                background-image: url('../img/htp-2.svg');

                @include max-ipad-pro() {
                  min-height: 82px;
                  max-height: 82px;
                }
              }
            }
          }
        }

        &:nth-child(3) {
          .item-wrapper {
            .icon {
              &::before {
                background-image: url('../img/htp-3.svg');

                @include max-ipad-pro() {
                  min-height: 79px;
                  max-height: 79px;
                }
              }
            }
          }
        }

        .item-wrapper {
          @include display-flex();
          @include flex-direction-column();
          position: relative;
          padding-bottom: 116px;

          &:after {
            content: '';
            position: absolute;
            bottom: -27px;
            left: -4px;
            width: 0;
            height: 0;
            border-top: 42px solid transparent;
            border-bottom: 42px solid transparent;
            border-left: 42px solid var(--accent-color);
            transform: rotate(-225deg);
          }

          .icon {
            position: relative;
            width: 100%;
            min-height: 83px;
            margin-bottom: 30px;

            &::before {
              content: '';
              position: absolute;
              background-repeat: no-repeat;
              background-position: left center;
              background-size: contain;
              width: 100%;
              top: 0;
              left: 0;
              min-height: 83px;
            }
          }

          .title-wrapper {
            @include min-ipad-pro() {
              @include display-flex();
              @include flex-direction-column();
              @include justify-content-center();
            }
          }

          .title{
            @include manrope-bold();
            font-size: 36px;
            line-height: 1.15;
            color: #ffffff;
            text-align: left;
            margin-bottom: 46px;

            @include between-ipad-pro() {
              min-height: 90px;
            }
          }

          .subtitle{
            @include manrope-medium();
            font-size: 16px;
            line-height: 1.46;
            color: #787878;
            max-width: 80%;
            margin-left: 0;
            margin-right: auto;
            text-align: left;

            @include min-ipad-pro() {
              max-width: 272px;
            }
          }
        }
      }
    }
  }
}
.games, .related-posts {
  padding-bottom: 40px;

  @include min-medium() {
    padding-bottom: 90px;
  }

  .games-block {
    .games-title-wrapper {
      @include display-flex();
      @include justify-content-flex-start;
      margin-bottom: 37px;

      @include min-medium() {
        margin-bottom: 32px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      @include max-medium() {
        @include flex-direction-column();
        margin-bottom: 29px;
      }

      .games-title {
        @include display-flex();
        @include flex-direction-column();
        @include justify-content-center();

        .title {
          text-align: left;
          margin-bottom: 21px;

          @include min-medium() {
            margin-bottom: 20px;
            max-width: 400px;
          }
        }

        .description {
          text-align: left;
          max-width: 830px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .games-card-list {
    @include display-flex();
    @include flex-wrap-wrap();

    @include min-small() {
      margin: 0 -12px;
    }

    .game-card {
      width: 100%;
      outline: none;

      @media (max-width: 760px) {
        margin-bottom: 38px;
      }

      @include min-small() {
        padding: 12px;
      }

      @include min-medium() {
        @include transition(all .5s ease);
        width: 33.33%;

        &:hover {
          @include transform(translateY(-15px));
        }
      }

      .game-card-wrapper {
        @include display-flex();
        @include flex-direction-column();
        cursor: pointer;
        transition: all .5s ease;
        outline: none;
        position: relative;
        border: 1px solid #EFB300;

        .info-wrapper {
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: 0px;
          @include display-flex();
          @include flex-direction-column();
          @include justify-content-space-between();
          background: rgba(0, 0, 0, 0.7);
          backdrop-filter: blur(2px);
          padding: 23px 16px 19px;

          /*.title-wrapper {
            width: 100%;
            height: 100%;
          }*/
        }

        .image {
          min-height: 410px;
          max-height: 410px;

          img {
            width: 100%;
            object-fit: cover;
            min-height: 410px;
            max-height: 410px;
            @include border-radius(0);
          }
        }

        .title {
          @include manrope-bold;
          font-size: 24px;
          line-height: 1.15;
          color: #fff;
          margin-bottom: 8px;
          max-width: 80%;

          @include min-ipad-pro() {
            min-height: 70px;
          }
        }

        .title-wrapper {
          @include display-flex();
          @include flex-direction-column-reverse;
        }

        .rating {
          position: relative;
          max-width: 120px;

          .rating-inner {
            z-index: 4;
            overflow: hidden;
            position: relative;
          }

          .rating-outer {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
          }

          .rating-inner, .rating-outer {
            @include display-flex();

            .star {
              img {
                min-width: 26px;
                max-width: 26px;
                min-height: 24px;
                max-height: 24px;
              }
            }
          }
        }

        .button-wrapper {
          position: absolute;
          right: 20px;
          top: 50%;
          @include transform(translateY(-50%));

          @include max-small {
            right: 0;
          }
        }

        .card-button {
          width: 54px;
          height: 54px;
          background: url(../img/btn-play-icon.svg) no-repeat;
          background-size: 42px;
          background-position: center;
          font-size: 0;
          min-width: 54px;
          max-width: 54px;
        }

        .game-button, .play-now-btn {
          //height: 31px;
          //min-width: 149px;
        }
      }
    }
  }
}
.games {
  z-index: 1;
  position: relative;
  padding-top: 70px;
  padding-bottom: 40px;

  @include min-medium() {
    padding-top: 83px;
    padding-bottom: 130px;
  }
}

.related-posts {
  background: none;
  margin-top: 40px;
  padding: 0;

  @include min-medium() {
    margin-top: 80px;
  }

  .related-posts-title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 41px;
    color: #fff;

    @include min-medium() {
      margin-bottom: 46px;
      text-align: left;
      font-size: 42px;
      line-height: 48px;
    }
  }
}

.newsletter {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;

  @include min-medium() {
    padding-top: 32px;
    padding-bottom: 54px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url('../img/newsletter-bg-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;

    @include min-medium() {
      background-image: url('../img/newsletter-bg-desktop.png');
    }
  }

  .newsletter-block {
    position: relative;

    @include min-medium() {
      padding: 18px;
      max-width: 1017px;
      margin: 0 auto;
    }

    .newsletter-block-wrapper {
      @include display-flex();
      @include align-items-center();
      position: relative;

      @include max-medium() {
        @include flex-direction-column-reverse();
      }

      .newsletter-content {
        @include display-flex();
        @include flex-direction-column();
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0 58px;

        @include min-medium() {
          flex-basis: 41%;
          padding: 81px 0 34px;
          margin-right: 27px;
        }
      }
    }

    .newsletter-title-wrapper {
      @include display-flex();
      @include flex-direction-column();

      @include min-medium() {
        max-width: 469px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .newsletter-title {
      @include manrope-bold();
      color: #fff;
      font-size: 32px;
      line-height: 1.15;
      text-align: center;
      margin-bottom: 48px;

      @include min-medium() {
        font-size: 38px;
        margin-bottom: 34px;
      }
    }

    .newsletter-subtitle {
      color: #fff;
      margin: 0 0 15px;
      text-align: center;
    }

    .newsletter-form {
      @include display-flex();
      @include flex-direction-column();
      width: 100%;
      position: relative;

      @include min-medium() {
        max-width: 469px;
        margin-left: auto;
        margin-right: auto;
      }

      .newsletter-input {
        width: 100%;

        input {
          width: 100%;
          margin-bottom: 17px;
          outline: none;
          height: 50px;
          @include display-flex();
          padding-left: 35px;
          @include align-items-center();
          color: #6A6A6A;
          background: #04090D;
          border: 1px solid #B4B4B4;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

          @include min-medium() {
            padding-left: 34px;
          }
        }
      }

      .newsletter-button {
        max-width: 100%;
        height: 50px;
      }
    }
  }
}
//homepage styles end
//contact page styles start
.content__form {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 789px;
  padding: 71px 0 146px;

  .content-block {
    .content-title {
      text-align: center;
      margin-bottom: 32px;
      @include rubik-semibold();
      color: #EFB300;
      font-size: 46px;
      line-height: 1;

      @include max-medium() {
        margin-bottom: 25px;
        font-size: 32px;
      }
    }

    form {

      @include display-flex();
      @include flex-direction-column();

      @include max-medium() {
        border: none;
      }

      .form-block {
        @include display-flex();

        @include max-medium() {
          @include flex-direction-column();
        }

        .block-l{
          margin: 0 30.5px 0 0;
          flex-basis: 50%;
        }

        .block-r{
          flex-basis: 50%;
        }

        .form-group {
          margin: 0 0 20px;

          @include max-medium() {
            margin: 0 0 24px;
          }

          .label-wrapper{
            margin: 0 0 17px;
            padding-left: 13px;

            @include max-medium() {
              margin: 0 0 12px;
            }

            label{
              font-size: 18px;
              line-height: 22px;
              color: #fff;
              @include manrope-medium();
              display: none;
            }

            &.required {
              label {
                position: relative;
                &::before {
                  content: '*';
                  
                  position: absolute;
                  right: -10px;
                  top: -5px;
                  color: #fff;
                }
              }
            }
          }
          .input-wrapper {
            vertical-align: middle;
            position: relative;

            input {
              background: #fff;
              color: #6A6A6A;
              outline: none;
              width: 100%;
              height: 62px;
              padding: 0 0 0 20px;
              @include display-flex();
              @include align-items-center();
              @include transition(all .5s ease);
              border: 1px solid #E1E1E1;

              @include max-medium() {
                height: 48px;
                padding: 0 0 0 18px;
              }

              @include max-small {
                height: 40px;
              }

              @include min-medium() {
                &:hover {
                  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
                }
              }

              &:focus {
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
              }
            }

            textarea {
              resize: none;
              border: none;
              background: #fff;
              color: #6A6A6A;
              outline: none;
              width: 100%;
              height: 216px;
              padding: 27px 27px 0;
              border: 1px solid #E1E1E1;
              @include max-medium() {
                height: 150px;
              }
            }
          }
        }
      }
      .submit-block {
        @include display-flex();
        @include justify-content-center();
        margin-top: 30px;

        .form-submit-btn {
          height: 68px;
          width: 100%;
          max-width: 100%;
          font-size: 18px;
          line-height: 1.46;
          @include rubik-semibold();
          @include max-small {
            height: 56px;
          }
        }
      }
    }
  }
}
//contact page styles end
//register page styles start
.modal, .modal-2 {
  background: rgba(0,0,0,0.7);
  position: fixed!important;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  @include transition(all .3s ease-in-out);

  &.show {
    opacity: 1;
    visibility: visible;
    z-index: 102!important;

    .modal-wrapper {
      @include transform(translate(-50%, -50%));
      @include transition(all .4s ease-in-out);
      transition-delay: .3s;
      z-index: 9999;
      opacity: 1;
    }
  }

  .modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, 200%));
    @include transition(all .4s ease-in-out);
    opacity: 0;
    width: 100%;
    overflow-y: auto;
    height: 100vh;

    .modal-form {
      height: auto;
      min-height: 100%;
      @include display-flex();
      @include align-items-center();
      width: 100%;

      @include max-medium() {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      .modal-container {
        position: relative;
        width: 962px;
        margin: 20px auto;
        overflow: hidden;
        padding: 90px 196px 112px;
        background: #4E4988;
        @include border-radius(33px);

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          pointer-events: none;
          transform: translate(-50%, -50%);
          width: 90%;
          height: 90%;
          border: 1px solid rgba(255, 255, 255, 0.6);
          @include border-radius(37px);
        }

        @include between-ipad-pro() {
          padding-left: 40px;
          padding-right: 40px;
        }

        @media (max-width: 650px) {
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 60px;
          padding-bottom: 70px;
        }
      }

      .form-block {
        @include flex-direction-column();
      }

      .content-block {
        textarea {
          resize: none;
        }
      }
    }
  }
}
.content__form.register, .modal-form.content__form.register {
  //padding-top: 20px;
  form {
    .form-block {
      @include flex-wrap-wrap();
      @include flex-direction-column();
      width: 100%;

      .form-group {
        width: 100%;

        @include max-medium() {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.57);
  backdrop-filter: blur(11px);
  display: none;
  z-index: 10;

  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--overlay-bg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 119px 0 96px;

    .modal-close{
      position: absolute;
      top: 48px;
      display: none;
      right: 48px;
      cursor: pointer;
      outline: none;

      @include max-medium() {
        -webkit-tap-highlight-color: transparent;
      }

      @include max-medium() {
        top: 13px;
        right: 13px;
      }
    }

    .modal-content{
      min-width: 770px;
      @include display-flex();
      @include flex-direction-column();
      @include justify-content-center();
      @include align-items-center();

      @include max-medium() {
        min-width: 343px;
      }

      .decor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

      .modal-title {
        margin: 0 auto 51px;
        max-width: 375px;
        text-align: center;
        font-size: 22px;
        @include manrope-extrabold();
        color: #fff;

        @include max-medium() {
          margin: 0 auto 36px;
          max-width: 700px;
        }
      }

      .modal-btn {
        min-width: 240px;
        height: 50px;
        @include display-flex();
        @include align-items-center();
        @include justify-content-center();
        background: var(--accent-color);;
        text-transform: uppercase;
        cursor: pointer;
        color: #fff;
        @include rubik-bold();
      }
    }
  }
}
//register page styles end
.content__form.game {
  min-height: auto;
  @include transition(all .5s ease);
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  padding: 71px 0 0;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  .game-content {
    border-radius: 8px;
    padding: 20px;
    position: relative;

    iframe {
      width: 100%;
      min-height: 85vh;
      border: none;
      border-radius: 8px;
    }

    .game-close {
      position: absolute;
      right: 40px;
      top: 40px;
      z-index: 103;
      cursor: pointer;
    }
  }
}


body.page-template {
  p {
    margin-bottom: 20px;
    line-height: 1.5;
  }

  h2 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 1.1;
  }
}

// bg styles
.page-wrap{
  position: relative;
  background: var(--page-bg);
}
.page-bg{
  position: absolute;
  top: 124px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--page-bg);

  @include max-medium() {
    top: 65px;
  }
}
.page-content-bg{
  flex-grow: 1;
  background: linear-gradient(208.94deg, #EBEAF7 0%, #F6EEEA 29.69%, #F5EAEA 61.98%, #EAF7F4 100%);
}
.page-content {
  position: relative;
  z-index: 100;
  background: rgba(18,18,18,1);
}
.hero-bg img{
  width: 100%;
  vertical-align: top;
}
.footer-bg img{
  width: 100%;
  vertical-align: top;
}
// single game styles
.game-template-default{
  &.overlayed {
    .page__content, .footer {
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        background: rgba(0,0,0,0.85)!important;
        @include transition(all .5s ease);
      }
    }

    .header {
      position: absolute;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        background: rgba(0,0,0,0.85)!important;
        @include transition(all .5s ease);
      }
    }
  }

  .game-page-container {
    background: rgba(78, 73, 136, 0.83);
    backdrop-filter: blur(6px);
    @include border-radius(33px);

    @include min-medium() {
      padding: 70px 225px 80px;
    }
  }
  .page__content {
    position: relative;
    background: #121212;
    padding-top: 140px;
    padding-bottom: 120px;

    @include max-medium() {
      padding-top: 140px;
      padding-bottom: 60px;
      padding-left: 16px;
      padding-right: 16px;
    }

    .page__content-title {
      @include display-flex();
      @include align-items-center();
      @include flex-direction-column();
      @include min-medium() {
        position: relative;
        margin-bottom: 54px;
      }

      .game-image {
        margin: 0 auto 12px;
        max-width: 165px;
        text-align: center;

        @include min-medium() {
        }

        img {
          min-width: 153px;
          max-width: 153px;
          min-height: 153px;
          max-height: 153px;
          object-fit: contain;
          object-position: center;
        }
      }

      .game-info {
        .game-title {
          margin-bottom: 20px;
          font-size: 34px;
          line-height: 1;
          color: #fff;

          @include min-medium() {
            font-size: 50px;
          }
        }

        .game-subtitle {
          color: #fff;
          text-align: center;
          font-size: 22px;
          line-height: 28px;
        }
      }
    }
    .page__content-wrapper {
      @include display-flex();
      @include justify-content-space-between();
      @include flex-direction-column();

      .page__content-main {
        margin-bottom: 68px;
        max-width: 919px;
        @include max-medium() {
          margin-bottom: 35px;
        }

        h1, h2, h3, h4, h5, h6 {
          color: #fff;
          margin-bottom: 18px;
          @include manrope-bold();
        }

        p {
          color: #787878;
          margin-bottom: 40px;
          @include manrope-medium();
        }
      }

      .page__content-window {
        @include max-medium() {
          margin: 0 0 25px;
        }

        .game-window {
          margin: 0 auto;
          cursor: pointer;
          display: inline-flex;
          @include align-items-center();
          position: relative;
          width: 100%;
          @include max-medium() {
            width: 100%;
          }

          .game-button {
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
            z-index: 1;
            text-transform: uppercase;
            min-width: 214px;
            @include display-flex();
            @include justify-content-center();
            @include align-items-center();

            @include max-medium() {
              min-width: 220px;
            }
          }
          .game-background-image {
            overflow: hidden;
            position: relative;
            border: 4px solid #EFB300;
            width: 100%;
            @include max-medium() {
              width: 100%;
            }

            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.55);
              pointer-events: none;
            }

            img {
              display: block;
              width: 100%;
              object-fit: cover;
              height: 343px;

              @include min-medium() {
                max-width: 100%;
                height: 641px;
              }
            }
          }

          .game-image {
            position: absolute;
            bottom: 5px;
            left: 20px;
            max-width: 140px;

            img {
              min-width: 150px;
              max-width: 150px;
              min-height: 150px;
              max-height: 150px;
              object-fit: contain;
            }
          }

          .game-provider {
            position: absolute;
            top: 22px;
            left: 34px;

            img {
              min-width: 150px;
              max-width: 150px;
              min-height: 39px;
              max-height: 39px;
              object-fit: contain;
              object-position: left;
            }
          }
        }

        .game-disclaimer {
          margin-top: 14px;
          text-align: left;
          font-size: 14px;
          line-height: 19px;
          margin-bottom: 37px;
          color: #787878;
          @include manrope-medium();
        }
      }
    }
  }
}
.page-template-default {
  .page-content {
   background: rgba(18,18,18,1);
  }

  .page-wrap {
    background: none;
  }

  .page__content {
    padding-top: 120px;
    padding-bottom: 50px;

    @include max-medium() {
      padding-top: 150px;
      padding-bottom: 20px;
    }
  }

  section.page-template-default {
    .page__content-title, .page__content-block {
    }

    .container {
      background: #1A1A1A;
      @include max-small() {
        padding: 45px 30px;
      }
      padding: 45px 90px;
      @include min-large() {
        padding: 80px 167px 113px;
      }
    }
    .page__content-title {
      margin-bottom: 40px;
      color: #EFB300;
      @include rubik-semibold();
      @include max-medium() {
        margin-bottom: 25px;
      }
    }

    p, strong, span {
      color: #787878;
    }

    a {
      color: var(--accent-color);
    }
  }
}
.page-template-page-contact, .page-template-page-registration {

  .content__form.contact, .content__form.register {
    position: relative;
    padding-top: 150px;
    padding-bottom: 126px;
    background-color: #121212;
    z-index: 1;
    @include max-medium() {
      padding-top: 140px;
      padding-bottom: 40px;
    }
    .content-block:not(.modal-form) {
      background: #1A1A1A;
      padding-top: 90px;
      padding-bottom: 80px;
      padding-right: 112px;
      @include display-flex();
      @include justify-content-space-between();
      @include max-medium() {
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 60px;
        padding-right: 60px;
        @include justify-content-center();
      }

      @media (max-width: 550px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .content-image {
      @include display-flex();
      @include align-items-flex-end();
      @include max-medium() {
        display: none;
      }
    }
    .content-block.register {
      padding-left: 112px;
      padding-right: 38px;
      @include max-medium() {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
    .content-wrapper {
      @include max-medium() {
        width: 100%;
      }
      @include min-medium() {
        flex-basis: 50%;
      }
    }
  }
}
.page-template-page-contact {
  form {
    position: relative;
  }

  .form-decor {
    @include max-medium() {
      display: none;
    }

    .form-decor-item {
      animation-iteration-count: infinite;
      animation-name: sparkle;
      position: absolute;
      right: -150px;

      &.sparkle-big {
        animation-duration: 6s;
        top: -150px;
      }

      &.sparkle-small {
        animation-duration: 4s;
        right: -80px;
        top: -80px;
      }
    }
  }

  .page-content {
    .form-block-wrapper {
      @include display-flex();
      @include justify-content-space-between();
      @include flex-direction-column();

      .form-block {
        //flex-basis: 45%;
        @include display-flex();
        @include flex-direction-column();

        @include min-medium() {
          &:first-child {
            @include justify-content-space-between();

            .form-group {
              flex-basis: 45%;
            }
          }
        }
      }
    }

    .button {
      min-width: 233px;
      border: none;
    }
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  @include rubik-medium();
  color: #EFB300;
}
p {
  font-size: 16px;
  line-height: 1.46;
  @include manrope-medium();
  margin: 0px 0px 15px;
  padding: 0;

}
a {
  color: var(--accent-color);
  font-size: 16px;
  line-height: 1.46;
}
h1 {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 35px;
  @include min-medium() {
    font-size: 42px;
  }
}
h2 {
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 25px;

  @include min-medium() {
    font-size: 32px;
  }
}

h3 {
  font-size: 28px;
  line-height: 1.4;
  margin-bottom: 25px;

  @include min-medium() {
    font-size: 32px;
  }
}

h4 {
  font-size: 26px;
  line-height: 1.4;
  margin-bottom: 20px;

  @include min-medium() {
    font-size: 30px;
  }
}

h5 {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 20px;

  @include min-medium() {
    font-size: 28px;
  }
}

h6 {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 20px;
  @include min-medium() {
    font-size: 26px;
  }
}

strong {
  @include rubik-bold();
  color: inherit;
}
