.direct-contact {
    &__module {
        margin-bottom: 160px;
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        direction: rtl;
        grid-column-gap: 40px;
        grid-row-gap: 80px;

        &.white {
            h3, p {
                color: $msq_white;
            }
        }

        div:not(.direct-contact__items), h1, h2, h3, p, span {
            direction: ltr;
        }

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @media (max-width: 600px) {
            grid-template-columns: initial;
            grid-row-gap: 40px;
        }
    }

    &__main-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 1024px) {
            grid-row: 1;
            grid-column: span 2;
        }
        @media (max-width: 600px) {
            grid-row: 1;
            grid-column: initial;
        }
    }

    &__title {
        font-family: $satoshiRegular;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: black;
        margin: 0 0 24px;
        direction: ltr;
        @media (max-width: 1024px) {
            margin: 0 0 40px;
        }
    }

    &__desc {
        font-family: $satoshiRegular;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: black;
        margin: 0;
        position: relative;
        direction: ltr;
    }

    &__items {
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-column-gap: 40px;
        direction: rtl;

        & .employees__item:nth-child(even) {
            margin-right: 0;
        }

        @media (max-width: 1092px) {
            justify-content: center;
            max-width: 100%;
            & .employees__item {
                max-width: calc(100% / 2);
                display: flex;
                align-items: center;
                flex-direction: column;

                & .employees__img-wrapper {
                    max-width: 200px;
                }
            }
        }
        @media (max-width: 680px) {
            & .employees__item {
                max-width: 100%;
            }
        }
        @media (max-width: 415px) {
            & .employees__title {
                font-size: 1.7rem;
                margin: 10px 0;
            }
            & .employees__position {
                font-size: 1.4rem;
                margin: 10px 0;
            }
            & .employees__email {
                font-size: 1.4rem;
                margin: 0;
            }
        }
    }
}

.admin-popup-link {
    font-family: $satoshiRegular;
    //font-weight: 500;
    //font-size: 1.6rem;
    //line-height: 1.9rem;
    color: $msq_black;
    margin-top: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    width: fit-content;
    //background: #E1E1E1;
    padding: 4px 16px;
    border: 1px solid $msq_black;
    &:hover {
        font-style: italic;
    }
}

.admin-popup-wrapper {
    opacity: 0;
    display: none;
}

.admin-popup-wrapper-open {
    &:hover {
        .employees__img-wrapper {
            transform: none;

            & img {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    & .admin-popup-wrapper {
        opacity: 1;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(235, 227, 211, 0.75);
        padding: 0 50px;
        @media (max-width: 980px) {
            overflow: auto;
            padding: 20px 35px;
        }

        & .admin-popup {
            max-width: 700px;
            width: 100%;
            padding: 40px;
            background: $msq_black;
            display: flex;
            position: relative;
            flex-direction: column;
            //cursor: none;
            @media (max-width: 980px) {
                flex-direction: column;
                align-items: flex-start;
                padding: 40px 35px 40px 35px;
                //height: 100%;
                max-height: 83vh;
                overflow-y: auto;
            }

            & * {
                //cursor: none;
            }

            & .popup-close {
                position: absolute;
                top: 16px;
                right: 16px;
                width: 24px;
                height: 24px;
                background-image: url("../dest/images/sticky-menu-close.svg");
                background-repeat: no-repeat;
                cursor: pointer;
                @media (max-width: 980px) {
                    top: 40px;
                    right: 40px;
                }
                @media (max-width: 450px) {
                    top: 10px;
                    right: 10px;
                }
            }
            & .employees__pos-wrapper {
                margin: 0;
            }
            & .employees__img-wrapper {
                margin-bottom: 40px;
                display: flex;
                gap: 24px;
                align-items: flex-end;
                @media (max-width: 980px) {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-right: 0;
                    margin-bottom: 30px;
                    width: 100%;
                }

                .image__img {
                    width: 200px;
                    max-height: 200px;
                    flex: 0 0 auto;
                    @media (max-width: 980px) {
                        width: 256px;
                        margin: 0 auto;
                        max-height: 100%;
                    }
                    @media (max-width: 450px) {
                        width: 100%;
                    }
                }

                img {
                    max-height: 200px;
                    @media (max-width: 980px) {
                        width: 100%;
                        max-height: 100%;
                    }
                }
            }

            & .admin-popup-content {
                max-width: 620px;
                width: 100%;
                display: flex;
                flex-direction: column;
                position: relative;

                @media (max-width: 1080px) {
                    max-width: 470px;
                }
                @media (max-width: 980px) {
                    max-width: 100%;
                    //height: 100%;
                }

                & .employees__title {
                    font-family: $satoshiRegular;
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                    color: $msq_white;
                    margin: 0;
                    z-index: 5;
                }

                & .employees__position {
                    font-family: $satoshiRegular;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    color: $msq_white;
                    margin: 0;
                    text-transform: uppercase;
                }

                & .employees__editor {

                    & p {
                        font-family: $satoshiRegular;
                        font-weight: 400;
                        //font-size: 1.6rem;
                        //line-height: 2.4rem;
                        color: $msq_white;
                        margin: 0 0 10px;
                    }

                    & h2 {
                        font-family: $satoshiRegular;
                        font-size: 3.2rem;
                        line-height: 4rem;
                        font-weight: 800;
                        color: black;
                        margin: 16px 0;
                        @media(max-width: 426px) {
                            font-size: 2.7rem;
                        }
                        @media(max-width: 360px) {
                            font-size: 2.2rem;
                        }
                    }

                    & h3 {
                        font-family: $satoshiRegular;
                        font-size: 2.2rem;
                        line-height: 3.2rem;
                        font-weight: 700;
                        color: black;
                        margin: 16px 0;
                        @media(max-width: 360px) {
                            font-size: 2rem;
                        }
                    }

                    & ul {
                        list-style: unset;
                        padding-left: 19px;
                    }

                    & a {
                        color: #da8b67;

                        &:hover {
                            font-style: italic;
                        }
                    }


                    & .wp-caption {
                        margin: 55px auto;
                        position: relative;
                        width: 100% !important;

                        & img {
                            width: 100%;
                        }

                        & p {
                            margin: 8px 0 0 0;
                        }

                        &:after {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 1px;
                            background-color: #DA8B67;
                            bottom: -6px;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

.direct-contact__items {
    & .employees__item {
        &:hover .img-absolute {
            display: none;
        }

        &:hover .employees__hover-pos {
            display: none;
        }

        &:hover .employees__position.addhover {
            opacity: 1;
        }
    }

    @media (max-width: 1257px) {
        & .employees__item:not(:nth-child(4n+4)) {
            margin-right: 58px;
        }
        & .employees__item:nth-child(even) {
            margin-right: 0;
        }

    }
    @media (max-width: 1092px) {
        & .employees__item:not(:nth-child(4n+4)) {
            margin-right: 0;
        }
        & .employees__item:nth-child(even) {
            margin-right: 0;
        }
    }
}

.one-item {
    & .direct-contact__wrapper {
        @media (max-width: 1092px) {
            flex-direction: row;
        }
        @media (max-width: 762px) {
            flex-direction: column;
        }
    }

    & .direct-contact__items {
        & .employees__item {
            margin-right: 0;
            @media (max-width: 1092px) {
                max-width: 100%;
            }
        }

        @media (max-width: 1257px) {
            & .employees__item {
                margin-right: 0;
            }
        }
    }
}

.three-items {
    & .direct-contact__items {
        & .employees__item:nth-child(3) {
            margin-right: 0;
            @media (max-width: 1092px) {
                max-width: 100%;
            }
        }

        @media (max-width: 1257px) {
            & .employees__item:nth-child(3) {
                margin-right: 0;
            }
        }
    }
}

.direct-contact__items {
    .employees__item {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}

.employees__img-wrapper__info {
    .employees__title {
        color: $msq_white;
        margin: 0 0 16px;
        line-height: 1;
    }

    .employees__position {
        color: $msq_white;
    }
}

.employees__contacts {
    display: flex;
    flex-direction: column;
    a {

        color: $msq_white;
        font-family: $satoshiRegular;
        margin: 0 0 8px;
        //& ~ a {
        //    margin-top: 8px;
        //}
        &:last-child {
            margin: 0;
        }
    }
}

.latest-cases__links_wrapper {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    align-items: center;
    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .latest-cases__link {
        padding: 0 !important;
        margin: 0 !important;
        position: relative;

        &:first-of-type {
            &:after {
                content: '';
                width: 8px;
                height: 2px;
                background-color: #151515;
                position: absolute;
                right: -8px;
                transform: translate(100%, -50%);
                top: 50%;
                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }
    }
}