.editor {
    &__module {
        margin-bottom: 80px;
    }

    & .hero__title {
        max-width: 800px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-column-gap: 40px;
        @media (max-width: 768px) {
            margin-bottom: 70px;
            display: initial;
        }
    }

    &__content {
        grid-column: 3 / span 8;
        max-width: 940px;
        margin: 0 auto;
        @media (max-width: 768px) {
            grid-column: initial;
        }

        &.white {
            p {
                color: #fff;
            }
        }

        & h2 {
            font-family: $satoshiRegular;
            font-size: 3.2rem;
            line-height: 4rem;
            font-weight: 800;
            color: black;
            margin: 16px 0;
            @media(max-width: 426px) {
                font-size: 2.7rem;
            }
            @media(max-width: 360px) {
                font-size: 2.2rem;
            }
        }

        & h3 {
            font-family: $satoshiRegular;
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: 700;
            color: black;
            margin: 16px 0;
            @media(max-width: 360px) {
                font-size: 2rem;
            }
        }

        & p, & li {
            font-family: $satoshiRegular;
            font-size: 2.2rem;
            line-height: 3.2rem;
            font-weight: 400;
            color: black;
            margin: 0;
        }

        & ul {
            list-style: unset;
            padding-left: 19px;
        }

        & a {
            color: #da8b67;

            &:hover {
                font-style: italic;
            }
        }


        & .wp-caption {
            margin: 55px auto;
            position: relative;
            width: 100% !important;

            & img {
                width: 100%;
            }

            & p {
                margin: 8px 0 0 0;
            }

            &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                background-color: #DA8B67;
                bottom: -6px;
                left: 0;
            }
        }
    }

    &__share {
        margin-top: 56px;
    }

    &__share-title {
        font-family: $satoshiRegular;
        font-size: 2.2rem;
        line-height: 3.2rem;
        font-weight: 700;
        color: black;
        margin: 0 0 16px 0;
    }

    &__share-content {
        display: flex;
        justify-content: space-between;
        @media (max-width: 483px) {
            flex-direction: column;
        }
    }

    &__share-desc {
        font-family: $satoshiRegular;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;
        color: $black;
        margin: 0;

    }

    &__share-list {
        display: flex;
        list-style: none !important;
        @media (max-width: 483px) {
            justify-content: flex-end;
        }

        & li {
            &:not(:last-child) a {
                margin-right: 14px;
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 1px;
                    right: -9.5px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #DA8B67;
                }
            }
        }
    }

    &__share-item {
        font-family: $satoshiRegular;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 600;
        color: #DA8B67;
        margin: 0;
        padding: 0;

        &:hover {
            font-style: italic;
        }
    }
}


.editor__share-content {
    & .editor__share-desc {
        @media (max-width: 483px) {
            margin-bottom: 16px;
        }
    }
}
