*
  box-sizing: border-box
  padding: 0
  margin: 0
  color: $maincolor
  +reg
img
  max-width: 100%
ul
  list-style: none
a
  text-decoration: none
.container
  width: 980px
  margin: auto
  @media (max-width: 1200px)
    width: 90%
  