//delete import googlefonts after implementing local on wordpress
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700&display=swap');
@import 'mixin';

$header_bg: #FFFFFF;
$header_link: #3D3D3D;
$header_link__active: #399FBF;
$color__bg: #1D2545;
$htp_icon__bg: #1C1D2E;
$footer_bg: #FFFFFF;
$footer_text: #232439;
$subscribe_text: #78A1E7;

//common styles start
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: #fff;
}

html, body {
  height: 100%;
  @include f-normal;
}

body.overflow-hidden {
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol, li {
  @include list();
}

a {
  text-decoration: none;
  outline: none;
}

body {
  background: #0D0210;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  @include min-large() {
    max-width: 1170px;
    padding: 0;
  }
}

.header {
  background: $header_bg;
  @include transition(all .5s ease);

  &.active {
    height: 100%;
    @include transition(all .5s ease);

    .header-mobile {
      position: relative;
      height: 100%;
      @include transition(all .5s ease);
      .header-block {
        height: 85vh;
      }
      .header-bottom {
        @include flexbox();
        overflow-y: auto;
        //position: absolute;
        //top: 50%;
        //transform: translate(0, -50%);
      }
    }
  }

  .header-block {
    padding: 25px 0;
    @include flexbox();
    @include align-items-center();
    @include justify-content-space-between;
    width: 100%;

    .header-logo {
      height: auto;


      img {
        transition: all 0.4s ease;
        height: auto;
        width: 200px;
        max-height: 50px;
        object-fit: contain;
        object-position: left;
      }

      @include min-large() {
        height: auto;

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    .header-menu {
      @include flexbox();
      gap: 16px;

      li {
        a {
          @include f-normal;
          font-size: 14px;
          line-height: 19px;
          color: #0D0210;
          border

          &.active {
            border-bottom: 1px solid #0D0210;
          }

          &:hover {
            border-bottom: 1px solid #0D0210;
          }
        }
      }

      li.current-menu-item {
        a {
          position: relative;
          border-bottom: 1px solid #0D0210;
        }
      }
    }

    .header-sign {

      @include flexbox();
      @include justify-content-flex-end();

      .btn {
        position: relative;
        min-width: 184px;

        .name {
          font-size: 20px;
          margin-top: -2px;
        }
      }
    }
  }

  .header-desktop {
    display: none;
    @include min-large() {
      display: block;
    }
  }

  .header-mobile {
    @include transition(all .5s ease);
    @include min-large() {
      display: none;
    }

    .header-block {
      @include flexbox();
      padding: 15px 0;
      flex-direction: column;
    }

    .header-top {
      @include flexbox();
      @include justify-content-space-between();
      @include align-items-center;
      width: 100%;
      padding: 0 16px;

      .header-logo {
        img{
          width: 184px;
        }
      }

      .burger {
        position: relative;
        width: 48px;
        height: 48px;
        cursor: pointer;
        @include max-large() {
          -webkit-tap-highlight-color: transparent;
        }

        .burger-wrapper {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 28px;
          height: 0;

          div {
            position: absolute;
            display: inline-block;
            height: 3px;
            background: #232439;
            @include border-radius(100px);
            @include transition(all .5s ease);
          }

          .line-1, .line-2 {
            width: 100%;
          }

          .line-1 {
            top: -7px;
          }

          .line-2 {
            bottom: -7px;
          }
        }

        &.active {
          .burger-wrapper {

            div {
              width: 40px;
              top: 50%;
            }

            .line-1 {
              transform: rotate(-45deg);
            }

            .line-2 {
              transform: rotate(45deg);
            }
          }
        }
      }
    }

    .header-bottom {
      display: none;
      @include flex-direction-column();
      width: 100%;
      @include transition(all .5s ease);

      .header-menu {
        width: 100%;
        @include flex-direction-column();
        align-items: center;
        margin: 0 0 40px;

        li {
          margin: 12px 0;

          a {
            font-size: 22px;
            line-height: 28px;

            &.active {
              &::before {
                display: none;
              }
            }
          }
        }

        li.current-menu-item {
          a {
            &::before {
              display: none;
            }
          }
        }
      }

      .header-sign {
        width: 100%;
        @include justify-content-center();
      }
    }
  }
}

.footer {
  .footer-top {
    position: relative;
    @include min-large {
      &:before {
        background-image: url("../img/footer-top-bg.png");
        background-repeat: no-repeat;
        @include background-size(cover);
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
      }
    }
    .footer-block {
      h1, h2, h3, h4, h5, h6, p {
        margin-bottom: 10px;
      }
      .footer-info {
        @include flexbox;
        @include flex-direction-column;
        @include max-small() {
          text-align: center;
        }
        .info-wrapper {
          @include flexbox;
          @include justify-content-space-between;
          @include max-small {
            @include flex-direction-column;
          }
          p {
            margin-bottom: 30px;
          }
          .description {
            flex-basis: 48%;
            @include max-small {
              flex-basis: 100%;
            }
          }
        }
        p {
          font-size: 14px;
          line-height: 19px;
          color: #FFFFFF;
          @include max-small {
            text-align: center;
          }
        }
        .disclaimer {
          flex-basis: 48%;
          @include max-small {
            flex-basis: 100%;
            text-transform: uppercase;
          }
        }
        .description {
          flex-basis: 48%;
          &.contact {
            @include flexbox;
            @include justify-content-center;
            @include align-items-center;
            margin-bottom: 100px;
            @include max-small {
              @include flex-direction-column;
              margin-bottom: 40px;
              img {
                margin-bottom: 15px;
              }
            }
            @include min-small {
              img {
                margin-right: 15px;
              }
            }
            p {
              @include f-medium;
              font-weight: 500;
              font-size: 18px;
              line-height: 25px;
              text-transform: uppercase;
              color: #FFFFFF;
            }
          }
          a {
            color: #C2FFAD;
            cursor: pointer;
            @include f-semibold();
          }
        }
      }
    }
  }
  .footer-bottom {
    background: #FFFFFF;
    text-align: center;
    padding: 26px 56px;

    .copyright {
      @include f-normal;
      font-size: 14px;
      line-height: 19px;
      color: #0D0210;
    }
  }
}

//common styles end
//homepage styles start

main {
}

.content-section {
  padding: 100px 0;
  position: relative;
  @include min-large {
    &:before {
      background-image: url("../img/main-bg.png");
      background-repeat: no-repeat;
      @include background-size(cover);
      content: '';
      width: 100%;
      height: 1000px;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }
  @include max-small {
    padding: 40px 0 50px;
  }
  .content-block {
    @include flexbox;
    @include flex-wrap-wrap;
    @include justify-content-space-between;
    .content-header {
      flex-basis: 32%;
      @include max-small {
        order: 1;
        flex-basis: 100%;
      }
      .title {
        @include f-bold;
        font-size: 30px;
        line-height: 41px;
        text-transform: uppercase;
        color: #C2FFAD;
        margin-bottom: 20px;
        @include max-small {
          text-align: center;
        }
      }
      .subtitle {
        @include f-medium;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        @include max-small {
          text-align: center;
        }
      }
    }
    .content-list {
      flex-basis: 62%;
      @include max-small {
        order: 3;
        flex-basis: 100%;
      }
      .content-list-item {
        @include flexbox;
        margin-bottom: 20px;
        @include max-small {
          margin-bottom: 30px;
          @include flex-direction-column;
        }
      }
      .icon {
        max-width: 60px;
        max-height: 60px;
        margin-right: 20px;
        @include max-small {
          max-width: 90px;
          max-height: 90px;
          margin: 0 auto;
          margin-bottom: 20px;
        }
      }
      .title {
        @include f-medium;
        font-size: 20px;
        line-height: 27px;
        text-transform: uppercase;
        color: #C2FFAD;
        margin-bottom: 10px;
        @include max-small {
          text-align: center;
        }
      }
      .subtitle {
        @include f-normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        @include max-small {
          text-align: center;
        }
      }
    }
    .content-description {
      flex-basis: 100%;
      padding-top: 100px;
      @include max-small {
        order: 2;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .title {
        @include f-semibold;
        font-size: 40px;
        line-height: 54px;
        text-transform: uppercase;
        color: #C2FFAD;
        margin-bottom: 20px;
        @include max-small {
          font-size: 26px;
          line-height: 35px;
          text-align: center;
        }
      }
      .subtitle {
        @include f-normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        @include max-small {
          text-align: center;
        }
      }
    }
  }
}

.games {
  .title {
    @include f-semibold;
    font-size: 40px;
    line-height: 54px;
    text-transform: uppercase;
    color: #C2FFAD;
    margin-bottom: 40px;
    @include max-small {
      font-size: 26px;
      line-height: 35px;
      text-align: center;
    }
  }
  .subtitle {
    @include f-normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    @include max-small {
      text-align: center;
    }
  }
  &.related {
    .games-block {
      .games-card-list {
        @include min-large {
          @include flexbox();
          @include flex-wrap-wrap();
        }
        .game-card {
          width: 290px;
          @include max-small {
            width: 100%;
          }
          @include min-large {
            &.game0 {
              height: 360px;
              .wrapper {
                height: 70px;
                .title {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  .games-block {
      .games-card-list {
        margin-top: 40px;
        @include flexbox();
        @include flex-wrap-wrap();
        @include max-small() {
          margin-top: 30px;
          @include flex-direction-column();
        }

        @include min-large {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(3, 1fr);
          grid-column-gap: 0;
          grid-row-gap: 0;

          .game0 {
            grid-area: 1 / 1 / 3 / 3;
          }

          .game1 {
            grid-area: 1 / 3 / 2 / 4;
          }

          .game2 {
            grid-area: 1 / 4 / 2 / 5;
          }

          .game3 {
            grid-area: 2 / 3 / 3 / 4;
          }

          .game4 {
            grid-area: 2 / 4 / 3 / 5;
          }

          .game5 {
            grid-area: 3 / 1 / 4 / 3;
          }

          .game6 {
            grid-area: 3 / 3 / 4 / 5;
          }
        }

        .game-card {
          width: 25%;
          position: relative;

          @include max-large() {
            width: 33.33%;
          }
          @include max-small() {
            width: 100%;
          }
          @include min-large {
            width: 100%;
            height: 360px;

            &.game0 {
              height: 720px;
              .wrapper {
                height: 120px;
                .title {
                  font-size: 20px;
                }
              }
            }
          }
          .game-card-wrapper {
            padding: 5px;
            height: 100%;
            position: relative;
          }
          .image {
            display: block;
            height: 320px;
            overflow: hidden;

            @include min-large {
              height: 100%;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .wrapper {
            @include flexbox;
            @include flex-direction-column;
            @include justify-content-center;
            position: absolute;
            bottom: 5px;
            left: 5px;
            right: 0;
            width: calc( 100% - 10px );
            height: 70px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #FFFFFF;
            @include max-small() {

            }

            .card-title {
              @include f-medium;
              color: #0D0210;
              font-size: 18px;
              line-height: 120%;
              text-transform: uppercase;
              margin-bottom: 3px;
            }
          }
        }
      }
    }
}

.rating {
  position: relative;
  max-width: 70px;
  @include min-medium() {
    max-width: 66px;
  }
  .rating-inner {
    z-index: 4;
    overflow: hidden;
    position: relative;
  }

  .rating-outer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .rating-inner, .rating-outer {
    @include flexbox();
    .star {
      img {
        min-width: 14px;
        max-width: 14px;
        min-height: 14px;
        max-height: 14px;
        @include min-medium() {
          min-width: 12.9px;
          max-width: 12.9px;
          min-height: 12.3px;
          max-height: 12.3px;
        }
      }
    }
  }
}

.newsletter {
  margin-bottom: 60px;
  .newsletter-block {
    @include flexbox();
    @include flex-direction-column();
    position: relative;
    padding-top: 60px;
    padding-bottom: 89px;
    @include max-medium() {
      padding-bottom: 0;
    }
    .newsletter-title {
      text-align: center;
      @include f-medium();
      margin: 0 auto 20px;
      font-size: 20px;
      line-height: 27px;
      text-transform: uppercase;
      color: #C2FFAD;
      text-shadow: 0 2px 10px rgba(9, 49, 183, 0.3);
      max-width: 713px;
    }
    .newsletter-subtitle {
      text-align: center;
      @include f-normal();
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
      margin: 0 auto 32px;
      max-width: 713px;
    }
    .newsletter-form {
      @include flexbox();
      max-width: 713px;
      margin: 0 auto;
      width: 100%;
      @include max-medium() {
        @include flex-direction-column();
      }
      .newsletter-input {
        flex-grow: 1;
        margin-right: 10px;
        @include max-medium() {
          margin-right: 0;
          margin-bottom: 10px;
        }
        input {
          background: #fff;
          width: 100%;
          height: 57px;
          @include flexbox();
          @include align-items-center();
          padding-left: 33px;
          padding-right: 33px;
          border: none;
          outline: none;
          font-size: 14px;
          line-height: 19px;
          color: #0D0210;
          @include max-small {
            width: 100%;
            text-align: center;
          }
        }
      }
      .newsletter-button {
        @include max-small {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.min-small {
  display: none;

  @include min-small {
    display: block;
  }
}
//homepage styles end
//contact page styles start
.content__form {
  padding: 100px 0 40px;
  @include max-small{
    padding-top: 60px;
  }
  .container{
    @include min-large{
      max-width: 1259px;
    }
  }
  .content-block {
    .content-title {
      @include f-semibold;
      font-size: 40px;
      line-height: 54px;
      text-align: center;
      margin: 0 0 20px;
      color: #C2FFAD;
      @include max-large() {
        font-size: 26px;
        line-height: 35px;
        text-align: start;
      }
    }

    .form-wrapper {
      form {
        padding: 50px 83px;
        @include flexbox();
        @include flex-direction-column();
        @include max-large() {
          border: none;
        }
        @include max-small{
          padding: 40px 0;
        }
        .form-block-wrapper {
          margin: 0 0 16px;
        }
        .form-block {
          @include flexbox();
          margin-bottom: 20px;
          @include max-large() {
            @include flex-direction-column();
            @include border-radius(8px);
          }

          .block-l {
            margin: 0 120px 0 0;
            flex-basis: 50%;
            @include max-small{
              margin: 0;
            }
          }

          .block-r {
            flex-basis: 50%;
          }

          .form-group {
            margin: 0 0 40px;
            @include max-large() {
              margin: 0 0 24px;
            }

            .label-wrapper {
              margin: 0 0 17px;
              padding: 0 0 0 10px;
              @include max-large() {
                margin: 0 0 12px;
              }

              label {
                font-size: 14px;
                line-height: 19px;
                color: #fff;
                font-weight: 700;
              }

              &.required {
                label {
                  position: relative;

                  &::before {
                    content: '*';
                    position: absolute;
                    right: -10px;
                    top: -5px;
                    color: #FFB432;
                  }
                }
              }
            }

            .input-wrapper {
              vertical-align: middle;
              position: relative;

              input {
                @include f-normal;
                background: transparent;
                border: none;
                color: rgba(#FFFFFF, 0.5);
                outline: none;
                width: 100%;
                height: 77px;
                font-size: 14px;
                line-height: 19px;
                padding: 0 0 0 20px;
                @include flexbox();
                @include align-items-center();
                @include transition(all .5s ease);
                border-bottom: 1px solid #C2FFAD;
                @include max-large() {
                  height: 48px;
                  padding: 0 0 0 18px;
                }
                @include min-large() {
                  &:hover {
                  }
                }
                &:focus {
                }
              }

              textarea {
                background: transparent;
                @include f-normal;
                resize: none;
                @include border-radius(8px);
                border: none;
                color: rgba(#FFFFFF, 0.5);
                outline: none;
                width: 100%;
                height: 77px;
                padding: 27px;
                font-size: 14px;
                line-height: 19px;
                border-bottom: 1px solid #C2FFAD;
                @include max-large() {
                  height: 48px;
                }
              }
            }
          }
        }

        .submit-block {
          @include flexbox();
          @include justify-content-center();
          color: #fff;


          .ajax-loader {
            position: absolute;
            transform: translate(0, 65px);
          }

          .submit-btn, .btn {
            background: #C2FFAD;
            color: #0D0210;
            height: 58px;

            @include min-large() {
              &:hover {
                //opacity: 0.8;
              }
            }
          }
        }

        .wpcf7-not-valid-tip {
          color: #EE6B73;
          font-size: 14px;
          min-width: 200px;
          position: absolute;
          left: 0;
        }

        .wpcf7-response-output {
          border: none !important;
          color: #EE6B73;
          font-size: 14px;
          text-align: center;

        }
      }
    }
  }
}
.content__form.contact {
  .form-wrapper {
    form {
      .form-block {
        @include flex-wrap-wrap;
        .block-l {
          margin: 0 120px 0 0;
          flex-basis: 44%;
          @include max-small{
            margin: 0;
          }
        }

        .block-r {
          flex-basis: 45%;
        }
        .block-b {
          flex-basis: 100%;
        }
      }
    }
  }
}
//contact page styles end
//register page styles start
.content__form.register {
  form {
    padding: 50px 0px 50px 32px;
    @include max-large() {
      padding: 43px 20px 56px;
    }

    .form-block {
      @include flex-wrap-wrap();
      width: 100%;

      .form-group {
        width: 50%;
        padding: 0 31.5px 0 0;
        @include max-large() {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;

  .modal-window {
    @include absolute-max;
    background-image: url("../img/form-bg.png");
    background-color: #0D0210;
    background-repeat: no-repeat;
    @include background-size(cover);
    @include flexbox;

    @include max-small {
      background-image: url("../img/form-bg-mobile.png");
    }

    .btns-wrapper {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 1;
      @include flexbox;
      gap: 20px;

      .modal-fullscreen {
        height: 24px;
        width: 24px;
        background-image: url("../img/fullscreen.png");
        @include background-size(contain);
      }

      .modal-close {
        position: relative;
        top: 0;
        right: 0;
      }
    }

    .modal-close {
      position: absolute;
      top: 26px;
      right: 26px;
      width: 35px;
      height: 35px;
      z-index: 1;
      background: url('../img/close-modal.svg');
      @include background-size(cover);

      cursor: pointer;
      @include max-medium() {
        top: 13px;
        right: 13px;
        width: 25px;
        height: 25px;
      }
    }

    .modal-content {
      width: 100%;
      z-index: 0;
      @include flexbox();
      @include flex-direction-column();
      @include justify-content-center();
      @include align-items-center();

      .modal-title {
        font-size: 40px;
        line-height: 54px;
        text-align: center;
        font-weight: 700;
        color: #C2FFAD;
        max-width: 380px;
        @include max-medium() {
          max-width: 250px;
          font-size: 26px;
          line-height: 35px;
        }
      }

      .modal-btn {
        width: 100%;
        max-width: 190px;
        height: 57px;
        margin: 0 auto;

        .name {
          text-transform: uppercase;
          @include f-semibold();
          font-size: 18px;
        }
      }
    }
  }
}

//register page styles end
.content__form.game {
  min-height: auto;

  .game-content {
    background: #F6F6FE;
    border: 8px solid #FFFFFF;
    @include border-radius(8px);
    padding: 20px;

    iframe {
      width: 100%;
      min-height: 85vh;
      border: none;
      @include border-radius(8px);
    }
  }
}

button, .btn {
  background: linear-gradient(265.72deg, #2E7EF7 0%, #622EF7 100%);
  color: #FFFFFF;
  font-size: 18px;
  padding: 14px 45px;
  cursor: pointer;
  @include f-bold;
  @include button;
  @include flexbox;
  @include justify-content-center;
  @include align-items-center;
  transition: all 0.2s;
  text-transform: capitalize;

  &:hover {
    opacity: 0.9;
  }
}

section.single-game {
  padding-top: 100px;
  @include max-small {
    padding-top: 40px;
  }
  .single-game-top {
    @include flexbox;
    @include flex-direction-row;
    @include align-items-center;
    padding-bottom: 100px;
    @include max-small {
      padding-bottom: 40px;
      @include flex-direction-column;
    }
    .content-header {
      @include flexbox;
      @include flex-direction-column;
      @include align-items-center;
      margin-top: 20px;
      @include min-small {
        @include align-items-flex-start;
        margin-left: 60px;
      }
    }
  }
  .single-game-content{
    margin: 0 auto;
  }

  h1,h3 {
    @include f-bold;
    font-size: 30px;
    line-height: 41px;
    color: #C2FFAD;
    text-shadow: 0 2px 10px rgba(9, 49, 183, 0.3);
  }
  h2, h4, h5 {
    @include f-medium;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  .game {
    position: relative;
    margin: 0 0 20px;
    @include min-small {
      max-width: 800px;
      max-height: 500px;
      margin: 0 0 40px;
    }
    @include max-small{
      height: auto;
      margin: 0;
    }

    .provider, .logo {
      @include absolute-max;
      top: 22px;
      left: 32px;
    }

    img.bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .play {
      min-width: 340px;
      transition: all .5s ease;
      @include absolute-max;
      top: unset;
      left: 50%;
      transform: translate(-50%, -100%);
      @include max-small {
        min-width: 211px;
        transform: translate(-50%, -50%);
      }
      @include min-large() {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .game-disclaimer{
    @include f-medium;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #C2FFAD;
    padding: 20px 0 0;
    @include min-small {
      text-align: start;
      padding: 40px 0 0;
    }
  }
  .content {
    padding: 40px 0;
    @include max-small {
      padding: 20px 0;
    }
    p {
      @include f-normal;
      margin: 0 0 27px;
      font-size: 14px;
      line-height: 19px;
      color: #E0E0E0;
    }
  }
}

section.related {
  margin-bottom: 40px;
  .games-title {
    @include f-bold;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #C2FFAD;
    @include min-small {
      text-align: start;
      font-size: 40px;
      line-height: 54px;
    }
  }
}

.modal-overlay.game-modal {

  .modal-window {
    padding: 0;
    max-width: 90%;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;

    @include min-large {
      max-width: 1170px;
      margin: 0 auto;
    }

    &.fullscreen {
      max-width: 100%;
    }

    .btns-wrapper {
      z-index: 1;
    }

    .modal-content {
      @include aspect-ratio(16, 9);
      max-height: 100vh;
      min-width: auto;

      iframe {
        @include absolute-max;
        width: 100%;
        height: 100%;
      }
    }
  }
}


iframe {
  border: none;
}

section.static {
  margin-top: 100px;
  @include max-small {
    margin-top: 40px;
  }
  strong {
    @include f-bold;
  }
  h1, h2, h3 {
    @include f-semibold;
    font-size: 40px;
    line-height: 54px;
    color: #C2FFAD;
    margin-top: 25px;
    @include max-small {
      font-size: 26px;
      line-height: 35px;
      @include f-bold;
    }
  }
  h4, h5, h6 {
    @include f-semibold;
    font-size: 30px;
    line-height: 38px;
    color: #C2FFAD;
    margin-top: 20px;
    @include max-small {
      font-size: 22px;
      line-height: 29px;
      @include f-bold;
    }
  }
  p {
    @include f-normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 20px 0 0;
  }
  .content {
    h2 {
      font-size: 36px;
      line-height: 1.4;
      @include max-small() {
        font-size: 28px;
      }
    }
    h3 {
      font-size: 32px;
      line-height: 1.4;
      @include max-small() {
        font-size: 26px;
      }
    }
    h4 {
      font-size: 28px;
      line-height: 1.4;
      @include max-small() {
        font-size: 24px;
      }
    }
    h5 {
      font-size: 26px;
      line-height: 1.4;
      @include max-small() {
        font-size: 22px;
      }
    }
    h6 {
      font-size: 24px;
      line-height: 1.4;
      @include max-small() {
        font-size: 20px;
      }
    }
  }
}
.page-template-default {
  section.static {
    margin-bottom: 30px;
    @include min-medium() {
      margin-bottom: 100px;
    }
  }
}
.game-template-default {
  &.overlayed {
    .modal-overlay.game-modal {
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -5;
        background: rgba(0,0,0,0.85)!important;
        @include transition(all .5s ease);
      }
    }
    .game-modal {
      display: flex!important;
      @include align-items-center();
      @include justify-content-center();
      .modal-window {
        position: relative;
        min-height: 55vh;
      }
    }
  }
}