.footer
  &-section
  &-block
    display: inline-block
    margin: 0px 20px
    &:first-child
      .footer-list
        flex-direction: column
      
  &-title
    margin-top: 0
  &-list
    display: flex
    padding-left: 0
    &__item
      width: 40px
      margin: 0 5px
