.header
  &-section
    padding: 40px 0
.navbar
  display: flex
  +menu
  &-logo
    position: relative
    width: 200px
    height: 50px
    &-card
      position: absolute
      width: 100%
      height: 100%
      transform-style: preserve-3d
      animation-name: flip
      animation-duration: 4s
      animation-timing-function: ease-in
      animation-iteration-count: infinite
      &__first
        position: absolute
        width: 100%
        height: 100%
        backface-visibility: hidden
        background: transparent
        color: #ffffff
        font-size: 42px
        +logo
        text-align: center
        transform: rotateY(0deg)
      &__second
        position: absolute
        width: 100%
        height: 100%
        backface-visibility: hidden
        background: transparent
        color: #ffffff
        font-size: 42px
        +logo
        text-align: center
        transform: rotateY(180deg)
      &__third
        position: absolute
        width: 100%
        height: 100%
        backface-visibility: hidden
        background: transparent
        color: #ffffff
        font-size: 42px
        +logo
        text-align: center
        transform: rotateY(270deg)
  &-phonelist
    margin: 0 50px
    font-size: 20px
    +bold
    &__item
      margin: 15px 0px
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0
  &-button
    margin: 5px 0px
    cursor: pointer
    +bold
    position: relative
    background: transparent
    border: 5px solid $primarycolor
    img
      display: none
    &__burger
      display: none
    &:hover
      box-shadow: 0px 0px 15px 0px $primarycolor
  &-list
    display: flex
    flex-wrap: wrap
    font-size: 18px
    position: absolute
    right: 10px
    z-index: 10
    &__item
      margin: 0 10px
      text-transform: uppercase
      +title
      position: relative
      a
        &:hover
          color: $primarycolor
          
          &::before
            transform: scaleX(1)
          &::after
            transform: scaleX(1)
        &::before
          content: ''
          display: block
          width: 100%
          height: 2px
          transform: scaleX(0)
          background-color: yellow
          transition: all 0.4s
          position: absolute
          top: -10px
          box-shadow: 0px 20px 30px 3px $primarycolor
        &::after
          content: ''
          display: block
          width: 100%
          height: 2px
          transform: scaleX(0)
          background-color: yellow
          transition: all 0.4s
          position: absolute
          bottom: -10px
@media (max-width: 1200px)
  .navbar
    justify-content: space-between
    flex-wrap: wrap
    &-list
      display: none
      &_active
        display: flex
        position: static
        margin: auto
        margin-top: 50px
        font-size: 26px
    &-button
      &:hover
        box-shadow: 0px 0px 0px 0px $primarycolor
      &__burger
        display: block
        width: 60px
        height: 60px
        background-color: $primarycolor
        border-radius: 50%
        position: relative
        margin-top: 7px
        
        span
          position: absolute
          top: 50%
          margin-top: -1px
          left: 50%
          margin-left: -15px
          width: 30px
          height: 2px
          background-color: #ffffff
          &::before
            content: ''
            position: absolute
            background-color: #ffffff
            width: 30px
            height: 2px
            top: 50%
            margin-top: -1px
            left: 50%
            margin-left: -15px
            transform: translateY(-8px)
            transition: 0.5s
          &::after
            content: ''
            position: absolute
            background-color: #ffffff
            width: 30px
            height: 2px
            top: 50%
            margin-top: -1px
            left: 50%
            margin-left: -15px
            transform: translateY(8px)
            transition: 0.5s
        &__active
          span
            height: 0
            &::before
              transform: rotate(35deg)
            &::after
              transform: rotate(-35deg)

          
@media (max-width: 768px)
  .navbar
    &-phonelist
    &-button
      padding: 5px
      margin-right: 165px
      img
        display: block
        width: 40px
      span
        display: none
      background-color: $primarycolor
      display: block
      
// @media (max-width: 470px)
//   .navbar
//     justify-content: center
//     &-button



  