.main
  &-title
    padding-bottom: 20px
    text-transform: uppercase
    color: #ffffff
    background: $bgcolor
    margin-bottom: 0
    @media (max-width: 786px)
      font-size: 18px
  &-form
    margin: auto
    padding: 50px 0
    @media (max-width: 786px)
      padding: 20px 0
    &__input
      padding: 15px 0
      padding-left: 10px
      border-radius: 5px
      outline: none
      border: none
      width: 300px
      margin: 30px
      @media (max-width: 1200px)
        width: 500px
      @media (max-width: 786px)
        width: 250px
        margin: 10px 0
      &:last-child
        height: 150px
        width: 90%
        &::placeholder
          text-align: center
    &__button
      margin: auto
      padding: 20px 100px      
      

.greetings
  &-section
    background: $secondbgcolor
  &-menu
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 700px
    margin: auto
    padding: 20px 0
    @media (max-width: 786px)
      width: auto
    &-item
      background: $bgcolor
      margin: 10px
      opacity: 0.9
      border-radius: 20px
      border: 7px solid #ffffff
      &:hover
        opacity: 1
      &__image
        width: 300px
        height: 200px
        border-top-left-radius: 10px
        border-top-right-radius: 10px
      &__title
        text-transform: uppercase
        +title
.bestseller
  &-section
    background: $secondbgcolor
  &-title
  &-slider
    display: flex
    &-item

      &__image
        border-radius: 50px
.offer
  &-section
  &-title
  &-slider
    margin-top: 0
    display: flex 
    justify-content: center
    &__item
      &__image
        width: 800px
        margin: auto

.form
  &-section
    padding-bottom: 50px
    background: $secondbgcolor