.greetings
  &-section
    background: $primarycolor
  &-menu
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 700px
    margin: auto
    padding: 20px 0
    &-item
      background: $bgcolor
      margin: 10px
      opacity: 0.9
      &:hover
        opacity: 1
      &__image
        width: 300px
        height: 200px
      &__title
        text-transform: uppercase
        +title
.bestseller
  &-section
    background: $bgcolor
  &-title
    text-transform: uppercase
    color: #ffffff
  &-slider
    display: flex
    &-item

      &__image
        border-radius: 50px