.greetings
  &-section
    background: $secondbgcolor
  &-menu
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 700px
    margin: auto
    padding: 20px 0
    &-item
      background: $bgcolor
      margin: 10px
      opacity: 0.9
      border-radius: 20px
      &:hover
        opacity: 1
      &__image
        width: 300px
        height: 200px
        border-top-left-radius: 20px
        border-top-right-radius: 20px
      &__title
        text-transform: uppercase
        +title
.bestseller
  &-section
    background: $secondbgcolor
  &-title
    margin-top: 0
    text-transform: uppercase
    color: #ffffff
    background: $bgcolor
  &-slider
    display: flex
    &-item

      &__image
        border-radius: 50px