.subscribe
  &-section
    padding: 50px 0
  &-title
    font-size: 30px
  &-form
    border: 1px solid #ffffff
    border-radius: 50px
    padding: 10px 20px
    width: 320px
    display: flex
    margin: auto
    background-color: #ffffff
    &__input
      border: none
  &-button
    border: none
    border-radius: 50px
    padding: 10px 20px
    
