.teenwatch
  &-section
    padding: 150px 0
    position: relative
    overflow: hidden
    &:before
      position: absolute
      z-index: -1
      left: 0
      top: 0
      content: url('../img/greetings/teenwatch-bg.jpg')
      // transform: scale()
      opacity: 0.5