.womenwatch
  &-section
    padding: 150px 0
    position: relative
    overflow: hidden
    &:before
      position: absolute
      z-index: -1
      left: 0
      top: 0
      content: url('../img/greetings/womenwatch-bg.jpg')
      transform: scale(1.5)
      opacity: 0.5