* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1140px;
  margin: auto;
}

body {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

@font-face {
  font-family: Anastasia;
  src: url(../fonts/18487.ttf);
}

.title {
  background-color: #ffffff;
  text-align: center;
  font-size: 30px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header-section {
  background: #487943;
}

.header-title {
  padding: 20px 0;
  background: transparent;
  color: #f9da63;
  font-size: 51px;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
  font-family: 'Anastasia', sans-serif;
}

.navbar {
  padding: 20px 0;
  padding-left: 100px;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar-list__item {
  margin-right: 10px;
  border-right: 2px solid black;
  padding: 0 15px;
  text-transform: uppercase;
}

.navbar-list__item:last-child {
  border-right: none;
}

.self-section {
  background-color: #487943;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.self-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.self-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
}

.self-description__image {
  margin-left: 50px;
  width: 500px;
  border-radius: 50px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.self-description__image img {
  border-radius: 50px;
  border: 2px solid #ffffff;
}

.self-text {
  font-size: 18px;
  margin-left: 30px;
}

.self-text__title {
  font-family: 'Caveat', cursive;
  margin: 0px 10px;
  padding: 0;
  font-size: 30px;
  text-align: right;
  margin-right: 50px;
  color: #000000;
}

.self-text__list {
  border-radius: 20px;
  border: 2px solid #ffffff;
  opacity: 0.8;
  background: #ECECE4;
  padding: 50px;
  padding-top: 10px;
  color: #1C571C;
  font-size: 32px;
  margin-top: 50px;
  margin-right: 50px;
}

.self-text__list__title {
  margin: 20px 0;
}

.self-text__list__item {
  color: #000000;
  font-size: 22px;
}

.self-text__sublist__item {
  margin-left: 50px;
  color: #000000;
}

.self-content {
  padding: 20px 10px;
  padding-top: 100px;
}

.self-content__title {
  font-size: 30px;
  text-align: center;
  color: #E8DA0C;
  font-size: 72px;
}

.self-content__subtitle {
  text-align: center;
  margin: 10px 0;
  color: #ffffff;
}

.self-slider {
  list-style: none;
  margin-bottom: 50px;
}

.self-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.self-card__description__list {
  border-radius: 20px;
  border: 5px solid #ffffff;
  margin: 0px 5px;
  background: #ECECE4;
  opacity: 0.7;
  padding: 10px 50px;
  color: #1C571C;
  font-size: 34px;
}

.self-card__description__list__item {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
  list-style-type: disc;
}

.self-card__description__sublist {
  margin-top: 50px;
}

.self-card__image {
  width: 2000px;
  margin-right: 10px;
}

.self-card__image img {
  width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
}

.self-card__title {
  font-size: 28px;
  color: #ffffff;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
}

.arrow {
  width: 50px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 140px;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.footer {
  padding: 20px 0 10px 0;
  background: #487943;
  text-align: center;
  font-size: 22px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.footer p {
  margin-bottom: 10px;
}

.footer a {
  margin: 0px 0;
  color: #E8DA0C;
}

.footer a:last-child {
  color: #000000;
}

.project-section {
  background-image: url("../img/project-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-section {
  background-image: url("../img/about-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-section {
  background-image: url("../img/contact-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-block {
  color: white;
}

.contact-links {
  list-style: none;
}

.contact-links__item {
  width: 200px;
  margin: 0 10px;
  padding: 20px;
  border-right: 5px solid white;
}

.main {
  background-image: url("../img/adminpage-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.links-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-block__main {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-block__study {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.links-block__etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.links-chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-subtitle img {
  width: 100px;
}

.links-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-list__study {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.links-list__item a img {
  margin: auto;
  width: 50px;
}

.links-list__item input {
  width: 100px;
  margin-right: 5px;
}

.links-list__item button {
  background: none;
  border: none;
}

.button-copy img {
  width: 20px;
}
/*# sourceMappingURL=style.css.map */