@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@import "reset";

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    background: #f1f3f4;
}

.container {
    width: 940px;
    margin: 0 auto;
    @media (max-width: 991px) {
        width: 100%;
        padding: 0 15px;
    }
}

.header {
    background: #30d580;
    box-shadow: 0px 5px 15px rgba(22, 191, 153, 0.25);
    height: 68px;
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    .header-logo {
        display: inline-block;
        font-size: 34px;
        font-weight: 800;
        color: #ffffff;
        text-decoration: none;
    }
    @media (max-width: 991px) {
        .header-logo {
            font-size: 28px;
        }
    }
}

.banner {
    margin-top: 68px;
    background: linear-gradient(0deg, #bff2e3, #bff2e3), #34a3be;
    .container {
        min-height: 385px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 0 150px;
    }
    &-content {
        position: relative;
        z-index: 4;
    }
    &-image {
        position: absolute;
        right: 0px;
        transform: translate(calc(-0% - -150px), calc(-0% - -4px));
        bottom: 0;
        z-index: 1;
    }
    &-title {
        font-size: 36px;
        font-weight: 800;
        color: #ff780b;
        margin: 0 0 28px;
    }
    &-description {
        margin: 0 0 34px;
        font-size: 14px;
        line-height: 1.71;
    }
    &-button {
        .btn {
            min-width: 205px;
            height: 48px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(180deg, #ffcd31 0%, #ff780b 100%);
            box-shadow: 0px 4px 12px rgba(255, 120, 11, 0.25);
            border-radius: 50px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 800;
            color: #ffffff;
        }
    }

    @media (max-width: 991px) {
        .container {
            padding: 48px 15px 220px;
        }
        &-image {
            right: 0;
            width: 90%;
            img {
                max-width: 100%;
            }
        }
    }
}

.cards {
    padding: 88px 0 144px;
    &-title {
        margin: 0 0 28px;
        text-align: center;
        font-size: 22px;
        font-weight: 800;
    }
    @media (max-width: 991px) {
        padding: 72px 0;
        &-title {
            padding: 0 10%;
        }
    }
}

.card {
    display: flex;
    background: #fff;
    margin: 0 0 28px;
    &:last-of-type {
        margin: 0;
    }
    &-image {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-content {
        padding: 13px 36px 17px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-info {
        &-list {
            li {
                font-size: 12px;
                margin: 0 0 10px;
                display: flex;
                align-items: center;
                line-height: 1;
                &:before {
                    content: "";
                    margin: 0 8px 0 0;
                    width: 18px;
                    height: 18px;
                    display: block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(../images/ok_mark.svg);
                }
                &:last-of-type {
                    margin: 0;
                }
            }
        }
    }
    &-title {
        font-size: 14px;
        margin: 0 0 14px;
        font-weight: 700;
    }
    &-button {
        .btn {
            background: linear-gradient(0deg, #30d580, #30d580);
            box-shadow: 0px 4px 12px rgba(50, 187, 116, 0.25);
            border-radius: 5px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 205px;
            min-height: 48px;
            color: #ffffff;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 800;
            text-decoration: none;
            line-height: 1;
            transition: 0.15s;
            &:hover {
                @media (min-width: 992px) {
                    background: #0BC565;
                }
            }
        }
        @media (min-width: 992px) {
            &.card-button-mobile {
                display: none;
            }
        }
        @media (max-width: 992px) {
            &:not(.card-button-mobile) {
                display: none;
            }
        }
    }
    @media (max-width: 991px) {
        flex-wrap: wrap;
        align-items: center;
        padding: 24px 15px;
        margin: 0 -15px 24px;
        &:last-of-type {
            margin: 0 -15px;
        }
        &-image {
            width: 140px;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        &-content {
            flex: 1;
            padding: 0 0 0 24px;
        }
        &-button {
            width: 100%;
            padding-top: 24px;
            .btn {
                font-size: 16px;
                width: 100%;
                min-height: 56px;
            }
        }
    }
}

.footer {
    background: #30d580;
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 68px;
        &-icon {
            margin: 0 20px 0 0;
        }
        &-text {
            font-size: 14px;
            line-height: 1.71;
            color: #ffffff;
        }
    }
}
