@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: #f1f3f4;
}

.container {
  width: 940px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.header {
  background: #30d580;
  -webkit-box-shadow: 0px 5px 15px rgba(22, 191, 153, 0.25);
          box-shadow: 0px 5px 15px rgba(22, 191, 153, 0.25);
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.header .header-logo {
  display: inline-block;
  font-size: 34px;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 991px) {
  .header .header-logo {
    font-size: 28px;
  }
}

.banner {
  margin-top: 68px;
  background: -webkit-gradient(linear, left bottom, left top, from(#bff2e3), to(#bff2e3)), #34a3be;
  background: linear-gradient(0deg, #bff2e3, #bff2e3), #34a3be;
}

.banner .container {
  min-height: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0 150px;
}

.banner-content {
  position: relative;
  z-index: 4;
}

.banner-image {
  position: absolute;
  right: 0px;
  -webkit-transform: translate(calc(-0% - -150px), calc(-0% - -4px));
          transform: translate(calc(-0% - -150px), calc(-0% - -4px));
  bottom: 0;
  z-index: 1;
}

.banner-title {
  font-size: 36px;
  font-weight: 800;
  color: #ff780b;
  margin: 0 0 28px;
}

.banner-description {
  margin: 0 0 34px;
  font-size: 14px;
  line-height: 1.71;
}

.banner-button .btn {
  min-width: 205px;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcd31), to(#ff780b));
  background: linear-gradient(180deg, #ffcd31 0%, #ff780b 100%);
  -webkit-box-shadow: 0px 4px 12px rgba(255, 120, 11, 0.25);
          box-shadow: 0px 4px 12px rgba(255, 120, 11, 0.25);
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
}

@media (max-width: 991px) {
  .banner .container {
    padding: 48px 15px 220px;
  }
  .banner-image {
    right: 0;
    width: 90%;
  }
  .banner-image img {
    max-width: 100%;
  }
}

.cards {
  padding: 88px 0 144px;
}

.cards-title {
  margin: 0 0 28px;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
}

@media (max-width: 991px) {
  .cards {
    padding: 72px 0;
  }
  .cards-title {
    padding: 0 10%;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin: 0 0 28px;
}

.card:last-of-type {
  margin: 0;
}

.card-image {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-content {
  padding: 13px 36px 17px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-info-list li {
  font-size: 12px;
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.card-info-list li:before {
  content: "";
  margin: 0 8px 0 0;
  width: 18px;
  height: 18px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/ok_mark.svg);
}

.card-info-list li:last-of-type {
  margin: 0;
}

.card-title {
  font-size: 14px;
  margin: 0 0 14px;
  font-weight: 700;
}

.card-button .btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#30d580), to(#30d580));
  background: linear-gradient(0deg, #30d580, #30d580);
  -webkit-box-shadow: 0px 4px 12px rgba(50, 187, 116, 0.25);
          box-shadow: 0px 4px 12px rgba(50, 187, 116, 0.25);
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 205px;
  min-height: 48px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  line-height: 1;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

@media (min-width: 992px) {
  .card-button .btn:hover {
    background: #0BC565;
  }
}

@media (min-width: 992px) {
  .card-button.card-button-mobile {
    display: none;
  }
}

@media (max-width: 992px) {
  .card-button:not(.card-button-mobile) {
    display: none;
  }
}

@media (max-width: 991px) {
  .card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 15px;
    margin: 0 -15px 24px;
  }
  .card:last-of-type {
    margin: 0 -15px;
  }
  .card-image {
    width: 140px;
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .card-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 0 0 24px;
  }
  .card-button {
    width: 100%;
    padding-top: 24px;
  }
  .card-button .btn {
    font-size: 16px;
    width: 100%;
    min-height: 56px;
  }
}

.footer {
  background: #30d580;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 68px;
}

.footer .copyright-icon {
  margin: 0 20px 0 0;
}

.footer .copyright-text {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */