@import '../fonts/stylesheet.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

html, body {
  height: 100%;
  font-family: "Avenir", cursive;
  font-weight: 400;
  font-size: 16px;
}

body.overflow-hidden {
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  outline: none;
  transition: opacity 0.2s;
}
a:not(.btn):hover {
  opacity: 0.8;
}
@media only screen and (max-width: 1240px) {
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 2px 2px 0 #ff0052;
}

h1 {
  font-size: 40px;
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 58px;
  }
}

h2 {
  font-size: 32px;
}
@media only screen and (min-width: 992px) {
  h2 {
    font-size: 52px;
  }
}

h3 {
  font-size: 26px;
}
@media only screen and (min-width: 992px) {
  h3 {
    font-size: 48px;
  }
}

h4 {
  font-size: 21px;
}
@media only screen and (min-width: 992px) {
  h4 {
    font-size: 32px;
  }
}

h5 {
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  h5 {
    font-size: 24px;
  }
}

h6 {
  font-size: 16px;
}
@media only screen and (min-width: 992px) {
  h6 {
    font-size: 21px;
  }
}

button, .btn {
  position: relative;
  background: #FFFFFF;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  color: #111742;
  font-size: 18px;
  padding: 14px 44px;
  cursor: pointer;
  font-family: "Avenir", cursive;
  font-weight: 800;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 3px 3px 0 #FF0052;
}
button:hover, .btn:hover {
  box-shadow: 2px 2px 5px 0 #FF0052;
}

.rating {
  position: relative;
  width: 94px;
}
.rating .rating-inner {
  z-index: 4;
  overflow: hidden;
  position: relative;
}
.rating .rating-outer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.rating .rating-inner, .rating .rating-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
}
.rating .rating-inner .star, .rating .rating-outer .star {
  flex-shrink: 0;
}
.rating .rating-inner .star img, .rating .rating-outer .star img {
  width: 18px;
}

input {
  border: none;
  outline: none;
  padding: 20px 15px;
  background: #111742;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  font-size: 16px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: none;
}

.hide {
  display: none;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 1241px) {
  .container {
    max-width: 1200px;
    padding: 0;
  }
}

.header {
  background: rgba(17, 23, 66, 0.8);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 62px;
}
@media only screen and (min-width: 1241px) {
  .header {
    height: auto;
    min-height: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.header .header-mobile {
  height: 62px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header.active {
  height: 100%;
}
.header.active .header-mobile {
  position: relative;
  height: 100%;
}
.header.active .header-mobile .header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  max-height: 100%;
  overflow: auto;
  padding: 30px 0;
}
@media screen and (orientation: landscape) {
  .header.active .header-mobile .header-bottom {
    padding: 124px 0 30px;
  }
}
.header .header-block {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (min-width: 1241px) {
  .header .header-block {
    height: 125px;
    z-index: 1;
  }
}
.header .header-block .header-logo {
  height: auto;
}
.header .header-block .header-logo img {
  transition: all 0.4s ease;
  height: auto;
  width: 200px;
}
@media only screen and (min-width: 1241px) {
  .header .header-block .header-logo {
    height: auto;
  }
  .header .header-block .header-logo:hover img {
    transform: scale(1.1);
  }
}
.header .header-block .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 1241px) {
  .header .header-block .header-menu {
    gap: 30px;
  }
}
.header .header-block .header-menu li a {
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.2s;
  color: #FFFFFF;
}
.header .header-block .header-menu li a.active {
  color: #FF0052;
}
.header .header-block .header-menu li a:hover {
  color: #FF0052;
}
.header .header-block .header-menu li.current-menu-item a {
  position: relative;
  color: #FF0052;
}
.header .header-block .header-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.header .header-block .header-sign .btn {
  position: relative;
  text-transform: uppercase;
  color: #FF0052;
}
.header .header-desktop {
  display: none;
}
@media only screen and (min-width: 1241px) {
  .header .header-desktop {
    display: block;
    width: 100%;
    z-index: 1;
    background: rgba(17, 23, 66, 0.8);
  }
}
.header .header-mobile {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #111742;
  z-index: 1;
}
@media only screen and (min-width: 1241px) {
  .header .header-mobile {
    display: none;
  }
}
.header .header-mobile .header-block {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.header .header-mobile .header-top {
  background-color: rgba(17, 23, 66, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px 16px;
  width: 100%;
  z-index: 1;
}
.header .header-mobile .header-top .header-logo img {
  width: 104px;
}
.header .header-mobile .header-top .burger {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
@media only screen and (max-width: 1240px) {
  .header .header-mobile .header-top .burger {
    -webkit-tap-highlight-color: transparent;
  }
}
.header .header-mobile .header-top .burger .burger-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 0;
}
.header .header-mobile .header-top .burger .burger-wrapper div {
  position: absolute;
  display: inline-block;
  height: 3px;
  background: #FF0052;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .header-mobile .header-top .burger .burger-wrapper .line-1, .header .header-mobile .header-top .burger .burger-wrapper .line-2, .header .header-mobile .header-top .burger .burger-wrapper .line-3 {
  width: 100%;
}
.header .header-mobile .header-top .burger .burger-wrapper .line-1 {
  top: -12px;
}
.header .header-mobile .header-top .burger .burger-wrapper .line-2 {
  top: -4px;
}
.header .header-mobile .header-top .burger .burger-wrapper .line-3 {
  bottom: -7px;
  width: 50%;
  right: 0;
}
.header .header-mobile .header-top .burger.active .burger-wrapper div {
  top: 50%;
}
.header .header-mobile .header-top .burger.active .burger-wrapper .line-1 {
  transform: rotate(-45deg);
}
.header .header-mobile .header-top .burger.active .burger-wrapper .line-2 {
  transform: rotate(45deg);
}
.header .header-mobile .header-top .burger.active .burger-wrapper .line-3 {
  display: none;
}
.header .header-mobile .header-bottom {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .header-mobile .header-bottom .header-menu {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px;
}
.header .header-mobile .header-bottom .header-menu li {
  margin: 12px 0;
}
.header .header-mobile .header-bottom .header-menu li a {
  font-size: 22px;
  line-height: 28px;
}
.header .header-mobile .header-bottom .header-menu li a.active::before {
  display: none;
}
.header .header-mobile .header-bottom .header-menu li.current-menu-item a::before {
  display: none;
}
.header .header-mobile .header-bottom .header-sign {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer {
  background: linear-gradient(0deg, rgb(17, 23, 66), rgb(17, 23, 66));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .footer {
    position: relative;
    background: url("../img/footer-bg.jpg") center center no-repeat;
  }
  .footer .footer-info .info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media only screen and (min-width: 768px) and (min-width: 992px) {
  .footer .footer-info .info-wrapper {
    gap: 80px;
  }
}
@media only screen and (min-width: 768px) {
  .footer .footer-info .subscribe {
    margin-top: 8px;
  }
}
@media only screen and (min-width: 768px) {
  .footer .footer-top, .footer .footer-bottom {
    background: linear-gradient(0deg, rgba(17, 23, 66, 0.8), rgba(17, 23, 66, 0.8));
  }
}
.footer .footer-top .container p {
  color: #FFFFFF;
}
.footer .footer-top .footer-block {
  padding-top: 50px;
  padding-bottom: 22px;
}
@media only screen and (min-width: 768px) {
  .footer .footer-top .footer-block {
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .footer .footer-top .footer-block .img {
    flex-shrink: 0;
    max-width: 300px;
  }
}
.footer .footer-top .footer-block .footer-info {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer .footer-top .footer-block .footer-info .disclaimer {
  flex-shrink: 0;
  margin-bottom: 20px;
}
.footer .footer-top .footer-block .footer-info .description.contact p {
  font-family: "Avenir", cursive;
  font-weight: 500;
  font-size: 18px;
}
.footer .footer-top .footer-block .footer-info .description p {
  margin: 0 0 20px;
}
.footer .footer-top .footer-block .footer-info .description a {
  color: #FF0052;
  cursor: pointer;
  text-decoration: underline;
  font-family: "Avenir", cursive;
  font-weight: 500;
  font-size: 18px;
}
.footer .footer-top .footer-block .logo img {
  width: 220px;
  height: auto;
}
.footer .footer-bottom {
  text-align: center;
  padding: 40px 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .footer-bottom .copyright {
  font-size: 14px;
}

section {
  background: linear-gradient(259.25deg, #070D39 53.38%, #390208 124.97%);
  margin-top: -1px;
}
section.bg {
  background: #070D39;
}

main.static section {
  background: #111742;
}
main .title {
  padding: 40px 0 20px;
  font-family: "Avenir", cursive;
  font-weight: 800;
  text-shadow: 2px 2px 0 #FF0052;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 1241px) {
  main .title {
    padding-top: 100px;
    padding-bottom: 10px;
  }
}
main .subtitle {
  text-align: center;
}
main .subtitle.hero {
  font-family: "Avenir", cursive;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  main .subtitle {
    text-align: left;
  }
}

.content.bg {
  position: relative;
}
.content.bg .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: calc(100% + 125px);
  background: url("../img/bg.png") center bottom;
  bottom: 0;
  top: auto;
  z-index: 0;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  opacity: 0.6;
}
@media only screen and (min-width: 768px) {
  .content.bg .bg {
    opacity: 1;
    -webkit-filter: none;
    filter: none;
  }
}
@media only screen and (min-width: 1241px) {
  .content.bg .bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media only screen and (min-width: 1241px) {
  .content.bg .title {
    padding-top: 134px;
  }
  .content.bg .subtitle {
    padding-bottom: 190px;
  }
}
.content .content-block {
  padding: 0;
  position: relative;
}
.content .content-block .wrapper {
  max-width: 610px;
}
.content .content-block .wrapper > img {
  margin-left: auto;
  max-width: 343px;
}
@media only screen and (min-width: 1241px) {
  .content .content-block .wrapper > img {
    max-width: 614px;
  }
}
.content .content-block .wrapper > div > img {
  margin: 0 auto;
  max-width: 343px;
}
@media only screen and (min-width: 768px) {
  .content .content-block .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .content .content-block .wrapper .title {
    margin-top: 0;
    text-align: left;
  }
}
.content .content-block .gamer {
  margin: 0 0 -14px 25px;
  text-align: center;
}
@media only screen and (max-width: 1240px) {
  .content .content-block .gamer {
    margin: 0 0 -34px -95px;
    text-align: left;
  }
}
@media only screen and (max-width: 620px) {
  .content .content-block .gamer {
    margin: 0 0 -31px -95px;
  }
}
.content .content-block h3.content-list__title {
  font-family: "Avenir", cursive;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-top: 80px;
}
.content.how-it-works-content {
  padding-bottom: 50px;
}
.min-small {
  display: none;
}
@media only screen and (min-width: 768px) {
  .min-small {
    display: block;
  }
}

.max-small {
  display: none;
}
@media only screen and (max-width: 767px) {
  .max-small {
    display: block;
  }
}

.content-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1240px) {
  .content-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 768px) {
  .content-list {
    margin-top: 60px;
  }
}
.content-list .content-list-item {
  width: 33.33%;
  padding: 0 15px;
  z-index: 1;
}
@media only screen and (max-width: 1240px) {
  .content-list .content-list-item {
    width: 50%;
    padding: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .content-list .content-list-item {
    width: 100%;
    padding: 20px 0;
  }
}
.content-list .content-list-item .item-wrapper {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  padding: 220px 60px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: linear-gradient(221.68deg, #343C78 0%, #232A5C 100%);
}
.content-list .content-list-item .item-wrapper::before, .content-list .content-list-item .item-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% - 16px);
  height: 100%;
  bottom: -8px;
  left: 8px;
  background: linear-gradient(221.68deg, #A5AFF7 0%, #232A5C 100%);
  opacity: 0.5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.content-list .content-list-item .item-wrapper::after {
  width: calc(100% - 26px);
  left: 13px;
  bottom: -14px;
}
.content-list .content-list-item .item-wrapper .icon {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%, 0);
}
.content-list .content-list-item .item-wrapper .icon img {
  height: 150px;
}
.content-list .content-list-item .item-wrapper .title {
  overflow: hidden;
  padding: 0;
  font-size: 20px;
  font-family: "Avenir", cursive;
  font-weight: 800;
  text-shadow: none;
  text-align: center;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
.content-list .content-list-item .item-wrapper .subtitle {
  text-align: center;
  min-height: 88px;
  max-height: 132px;
  overflow-y: auto;
}
@media only screen and (max-width: 1240px) {
  .content-list .content-list-item .item-wrapper .subtitle {
    max-width: 300px;
    padding: 0;
    margin: 0 auto;
    min-height: 66px;
    max-height: 100%;
  }
}

.games {
  padding-bottom: 40px;
  position: relative;
  background-color: #111742;
}
.games::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/games-bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.1;
  z-index: 0;
}
.games .container .subtitle {
  margin: 0 auto 47px;
  max-width: 526px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .games .container .subtitle {
    max-width: 90%;
    margin-bottom: 22px;
  }
}
.games .container .games-block .games-card-list {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .games .container .games-block .games-card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.games .container .games-block .games-card-list .game-card {
  width: 25%;
  padding: 15px 0;
}
@media only screen and (min-width: 768px) {
  .games .container .games-block .games-card-list .game-card {
    padding: 15px;
  }
}
@media only screen and (max-width: 1240px) {
  .games .container .games-block .games-card-list .game-card {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .games .container .games-block .games-card-list .game-card {
    width: 100%;
  }
}
.games .container .games-block .games-card-list .game-card .game-card-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.games .container .games-block .games-card-list .game-card .game-card-wrapper::before, .games .container .games-block .games-card-list .game-card .game-card-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% - 16px);
  height: 100%;
  bottom: -8px;
  left: 8px;
  background: linear-gradient(221.68deg, #A5AFF7 0%, #232A5C 100%);
  opacity: 0.5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.games .container .games-block .games-card-list .game-card .game-card-wrapper::after {
  width: calc(100% - 26px);
  left: 13px;
  bottom: -14px;
}
.games .container .games-block .games-card-list .game-card .game-card-wrapper .inner-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #111742;
  opacity: 0.95;
  width: calc(100% - 20px);
  height: calc(100% - 24px);
}
.games .container .games-block .games-card-list .game-card .game-card-wrapper .image {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  overflow: hidden;
}
.games .container .games-block .games-card-list .game-card .game-card-wrapper .image:hover {
  opacity: 1;
}
.games .container .games-block .games-card-list .game-card .game-card-wrapper .image img {
  width: 100%;
  object-position: center 75%;
  object-fit: cover;
  height: 303px;
}
@media only screen and (max-width: 1240px) {
  .games .container .games-block .games-card-list .game-card .game-card-wrapper .image img {
    object-position: center 81%;
  }
}
@media only screen and (max-width: 767px) {
  .games .container .games-block .games-card-list .game-card .game-card-wrapper .image img {
    width: 100%;
  }
}
.games .container .games-block .games-card-list .game-card .game-card-wrapper .title {
  padding: 0 0 10px;
  text-shadow: none;
  font-family: "Avenir", cursive;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.games .container .games-block .games-card-list .game-card .game-card-wrapper .rating {
  margin: 0 auto 20px;
}
.games .container .games-block .games-card-list .game-card .game-card-wrapper .play-now-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.games .container .games-block .games-card-list .game-card .game-card-wrapper .play-now-btn a {
  margin: 0 auto;
}
@media only screen and (min-width: 1241px) {
  .games .container .games-block .games-card-list .game-card .game-card-wrapper .inner-wrapper {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .games .container .games-block .games-card-list .game-card .game-card-wrapper:hover .inner-wrapper {
    opacity: 0.95;
    visibility: visible;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
  background-color: #111742;
  background-image: url("../img/modal-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.modal-overlay .modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 119px 0 96px;
  max-width: 978px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .modal-overlay .modal-window {
    max-width: 90%;
  }
}
.modal-overlay .modal-window .btns-wrapper {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.modal-overlay .modal-window .btns-wrapper .modal-fullscreen {
  height: 24px;
  width: 24px;
  background-image: url("../img/fullscreen.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.modal-overlay .modal-window .btns-wrapper .modal-close {
  position: relative;
  top: 0;
  right: 0;
}
.modal-overlay .modal-window .modal-close {
  position: absolute;
  top: 26px;
  right: 26px;
  width: 25px;
  height: 25px;
  z-index: 1;
  background: url("../img/close-modal.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .modal-overlay .modal-window .modal-close {
    top: 13px;
    right: 13px;
    width: 25px;
    height: 25px;
  }
}
.modal-overlay .modal-window .modal-content {
  width: 100%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal-overlay .modal-window .modal-content .modal-title {
  line-height: normal;
  margin: 0 auto;
  text-align: center;
  font-family: "Avenir", cursive;
  font-weight: 800;
  font-size: 26px;
  font-style: italic;
  color: #FF0052;
  max-width: none;
  text-shadow: none;
}
@media only screen and (min-width: 1241px) {
  .modal-overlay .modal-window .modal-content .modal-title {
    font-size: 96px;
  }
}
.modal-overlay .modal-window .modal-content .modal-btn {
  width: 100%;
  max-width: 190px;
  height: 57px;
  margin: 0 auto;
}
.modal-overlay .modal-window .modal-content .modal-btn .name {
  text-transform: uppercase;
  font-family: "Avenir", cursive;
  font-weight: 600;
  font-size: 18px;
}

.content__form {
  padding: 0 0 50px;
}
@media only screen and (min-width: 1241px) {
  .content__form .container {
    max-width: 1200px;
  }
}
.content__form .content-block .form-wrapper form {
  padding: 50px 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block .form-wrapper form {
    border: none;
  }
}
@media only screen and (max-width: 767px) {
  .content__form .content-block .form-wrapper form {
    padding: 0;
  }
}
.content__form .content-block .form-wrapper form .form-block-wrapper {
  margin: 0 0 16px;
}
.content__form .content-block .form-wrapper form .form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content__form .content-block .form-wrapper form .form-block .block-l, .content__form .content-block .form-wrapper form .form-block .block-r {
  gap: 80px;
}
.content__form .content-block .form-wrapper form .form-block .block-l {
  flex-basis: 50%;
}
@media only screen and (max-width: 767px) {
  .content__form .content-block .form-wrapper form .form-block .block-l {
    margin: 0;
  }
}
.content__form .content-block .form-wrapper form .form-block .block-r {
  flex-basis: 50%;
}
.content__form .content-block .form-wrapper form .form-block .form-group {
  margin: 0 0 40px;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block .form-wrapper form .form-block .form-group {
    margin: 0 0 24px;
  }
}
.content__form .content-block .form-wrapper form .form-block .form-group .label-wrapper {
  margin: 0 0 17px;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block .form-wrapper form .form-block .form-group .label-wrapper {
    margin: 0 0 12px;
  }
}
.content__form .content-block .form-wrapper form .form-block .form-group .label-wrapper.required label {
  position: relative;
}
.content__form .content-block .form-wrapper form .form-block .form-group .label-wrapper.required label::before {
  content: "*";
  position: absolute;
  right: -10px;
  top: -5px;
  color: #FF0052;
}
.content__form .content-block .form-wrapper form .form-block .form-group .input-wrapper {
  vertical-align: middle;
  position: relative;
}
.content__form .content-block .form-wrapper form .form-block .form-group .input-wrapper input {
  width: 100%;
  border: none;
}
.content__form .content-block .form-wrapper form .form-block .form-group .input-wrapper textarea {
  height: 130px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 20px 15px;
  opacity: 0.5;
  background-color: #111742;
  color: #FFFFFF;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
}
.content__form .content-block .form-wrapper form .form-block .form-group .input-wrapper textarea:-webkit-autofill, .content__form .content-block .form-wrapper form .form-block .form-group .input-wrapper textarea:-webkit-autofill:hover, .content__form .content-block .form-wrapper form .form-block .form-group .input-wrapper textarea:-webkit-autofill:focus, .content__form .content-block .form-wrapper form .form-block .form-group .input-wrapper textarea:-webkit-autofill:active {
  -webkit-box-shadow: none;
}
@media only screen and (min-width: 1241px) {
  .content__form .content-block .form-wrapper form .form-block {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }
  .content__form .content-block .form-wrapper form .form-block .block-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
  }
  .content__form .content-block .form-wrapper form .form-block .block-l .form-group {
    width: 100%;
  }
}
.content__form .content-block .form-wrapper form .submit-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
}
.content__form .content-block .form-wrapper form .submit-block .ajax-loader {
  position: absolute;
  transform: translate(0, 65px);
}
.content__form .content-block .form-wrapper form .submit-block .submit-btn, .content__form .content-block .form-wrapper form .submit-block .btn {
  min-width: 162px;
}
@media only screen and (max-width: 767px) {
  .content__form .content-block .form-wrapper form .submit-block .submit-btn, .content__form .content-block .form-wrapper form .submit-block .btn {
    min-width: 100%;
  }
}
.content__form .content-block .form-wrapper form .wpcf7-not-valid-tip {
  color: #EE6B73;
  font-size: 14px;
  min-width: 200px;
  position: absolute;
  left: 0;
}
.content__form .content-block .form-wrapper form .wpcf7-response-output {
  border: none !important;
  color: #EE6B73;
  font-size: 14px;
  text-align: center;
}
.content__form .modal-overlay .modal-window {
  background-color: #FFFFFF;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
}
.content__form .modal-overlay .modal-window .modal-close {
  top: -60%;
  right: 0;
}
@media only screen and (min-width: 1241px) {
  .content__form .modal-overlay .modal-window .modal-close {
    top: -45%;
    right: -13%;
  }
}

@media only screen and (min-width: 1241px) {
  .content__form.register .form-block .block-r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content__form.register .form-block .block-r .form-group {
    width: 100%;
  }
}

.content__form.game {
  min-height: auto;
}
.content__form.game .game-content {
  background: #F6F6FE;
  border: 8px solid #FFFFFF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  padding: 20px;
}
.content__form.game .game-content iframe {
  width: 100%;
  min-height: 85vh;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

section.newsletter .subscribe {
  padding-bottom: 40px;
}
section.newsletter .subscribe .subtitle {
  margin-bottom: 20px;
}
section.newsletter .subscribe input {
  width: 100%;
  margin-bottom: 20px;
}
section.newsletter .subscribe input.placeholder {
  color: #FFFFFF;
}
section.newsletter .subscribe input:-moz-placeholder {
  color: #FFFFFF;
}
section.newsletter .subscribe input::-moz-placeholder {
  color: #FFFFFF;
}
section.newsletter .subscribe input::-webkit-input-placeholder {
  color: #FFFFFF;
}
section.newsletter .subscribe button {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  section.newsletter .subscribe button {
    width: auto;
    margin: 0 auto;
  }
}
section.newsletter .subscribe .img img {
  margin: 41px auto 0;
}
@media only screen and (min-width: 768px) {
  section.newsletter .subscribe .img {
    min-width: 323px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  section.newsletter .subscribe .img img {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  section.newsletter .title {
    padding-bottom: 40px;
  }
  section.newsletter .subtitle, section.newsletter form {
    max-width: 552px;
    margin: 0 auto;
  }
  section.newsletter .subtitle {
    margin-bottom: 40px;
  }
  section.newsletter input {
    text-align: center;
  }
}

section.single-game::after {
  display: none;
}
@media only screen and (min-width: 1241px) {
  section.single-game h2.title {
    font-size: 68px;
  }
}
@media only screen and (min-width: 768px) {
  section.single-game .single-game-content .game-wrapper strong {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  section.single-game .single-game-content .game-wrapper .game {
    max-width: 600px;
    margin: 0 auto;
  }
}
section.single-game .single-game-content .content h3 {
  text-shadow: none;
}
section.single-game .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
section.single-game .container .img-l {
  width: 100px;
  margin: 0 auto;
}
section.single-game .container .img-l img {
  width: 100%;
}
section.single-game .container .img {
  max-width: 101px;
  width: 100%;
  margin: 0;
}
section.single-game .container .img img {
  width: 100%;
}
section.single-game .container .game {
  position: relative;
  height: 375px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  overflow: hidden;
}
section.single-game .container .game + p {
  margin-top: 30px;
  font-family: "Avenir", cursive;
  font-weight: 400;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  section.single-game .container .game + p {
    max-width: 636px;
    text-align: center;
    font-family: "Avenir", cursive;
    font-weight: 500;
    font-size: 18px;
  }
}
section.single-game .container .game .provider, section.single-game .container .game .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 22px;
  left: 32px;
}
section.single-game .container .game .provider {
  height: 34px;
}
section.single-game .container .game .logo {
  display: none;
}
@media only screen and (min-width: 768px) {
  section.single-game .container .game .logo {
    height: 164px;
    top: auto;
    bottom: 5px;
    opacity: 0.7;
  }
}
section.single-game .container .game img.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.single-game .container .game .play {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 221px;
  height: 48px;
  transition: all 0.5s ease;
  font-family: "Avenir", cursive;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 1241px) {
  section.single-game .container .game .play:hover {
    opacity: 0.8;
  }
}
section.single-game .container .single-game-top .title {
  margin: 10px 0 50px;
  padding: 0;
}
section.single-game .container .single-game-top .img {
  max-width: 165px;
  width: 100%;
  margin: 0 auto;
}
section.single-game .container .single-game-top .img img {
  width: 100%;
}
section.single-game .container .single-game-top > div {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  section.single-game .container .single-game-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  section.single-game .container .single-game-top .title {
    margin: 10px 0 50px;
  }
}
section.single-game .container p {
  margin: 20px 0;
}
section.single-game .container .btn {
  min-width: 226px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
section.single-game strong.title, section.single-game h3 {
  display: block;
  font-size: 20px;
  text-align: left;
}
section.single-game strong.title {
  margin: 40px 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  section.single-game strong.title {
    text-align: center;
  }
}

section.related {
  margin-top: 0;
}
section.related.games::after {
  display: none;
}
section.related .container {
  background: transparent;
  padding: 0 20px;
  margin: 0 auto;
}
section.related .container .games-block {
  padding-bottom: 0;
}
@media only screen and (max-width: 767px) {
  section.related .container .games-block {
    max-width: 100%;
  }
}
section.related .container .games-block .title {
  padding-top: 0;
}
section.related .container .games-block .games-card-list {
  margin-top: 30px;
}
section.related .games-card-list {
  justify-content: center;
  margin-top: 30px;
}
@media only screen and (min-width: 1241px) {
  section.related .container .games-block .games-card-list {
    gap: 30px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 1241px) {
  section.related .container .games-block .games-card-list .game-card {
    width: 100%;
    padding: 0;
  }
}
section.related .game-card-wrapper {
  position: relative;
  height: 100%;
}
section.related .game-related-content {
  position: absolute;
  bottom: 13px;
  left: 20px;
  right: 20px;
  pointer-events: none;
}

.modal-overlay.game-modal .modal-window {
  padding: 0;
  max-width: 90%;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}
@media only screen and (min-width: 1241px) {
  .modal-overlay.game-modal .modal-window {
    max-width: 1170px;
  }
}
.modal-overlay.game-modal .modal-window.fullscreen {
  max-width: 100%;
}
.modal-overlay.game-modal .modal-window .btns-wrapper {
  z-index: 1;
}
.modal-overlay.game-modal .modal-window .modal-content {
  position: relative;
  max-height: 100vh;
  min-width: auto;
}
.modal-overlay.game-modal .modal-window .modal-content:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: calc((9 / 16) * 100%);
}
.modal-overlay.game-modal .modal-window .modal-content > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-overlay.game-modal .modal-window .modal-content iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border: none;
}

section.static {
  padding-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  section.static {
    padding-bottom: 100px;
  }
}
section.static .container h3 {
  text-align: left;
}
section.static .container .content {
  max-width: 90%;
}
@media only screen and (max-width: 767px) {
  section.static .container .content {
    max-width: 100%;
  }
}
section.static .container .content strong {
  font-weight: 700;
  font-style: italic;
}
section.static .container .content h1, section.static .container .content h2, section.static .container .content h3, section.static .container .content h4, section.static .container .content h5 {
  font-weight: 700;
  font-style: italic;
}
section.static .container .content h1 {
  font-size: 44px;
}
@media only screen and (max-width: 767px) {
  section.static .container .content h1 {
    font-size: 34px;
  }
}
section.static .container .content h2 {
  font-size: 40px;
}
@media only screen and (max-width: 767px) {
  section.static .container .content h2 {
    font-size: 32px;
  }
}
section.static .container .content h3 {
  font-size: 36px;
}
@media only screen and (max-width: 767px) {
  section.static .container .content h3 {
    font-size: 30px;
  }
}
section.static .container .content h4 {
  font-size: 30px;
}
@media only screen and (max-width: 767px) {
  section.static .container .content h4 {
    font-size: 28px;
  }
}
section.static .container .content p {
  padding: 10px 0;
  line-height: 1.5;
}

.game-template-default .content {
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
