@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&family=Oxanium&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 1240px) {
  * {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
  background: #232133;
}

body.overflow-hidden {
  overflow: hidden;
}

img {
  max-width: 100%;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  outline: none;
}
@media only screen and (max-width: 1240px) {
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  margin: 0 0 16px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
  margin: 0 0 16px;
}

h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
  margin: 0 0 16px;
}

strong {
  font-size: 16px;
  line-height: 148.5%;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 16px;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 1241px) {
  .container {
    max-width: 1242px;
    padding: 0;
  }
}

.button {
  cursor: pointer;
  height: 56px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  line-height: 146.4%;
  position: relative;
  padding: 0 62px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: linear-gradient(85.32deg, #CB0668 -2.4%, #F3254C 84.45%);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.button span {
  -moz-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}
@media only screen and (min-width: 1241px) {
  .button:hover {
    -webkit-box-shadow: 0px 4px 31px rgba(203, 6, 104, 0.3);
    -moz-box-shadow: 0px 4px 31px rgba(203, 6, 104, 0.3);
    box-shadow: 0px 4px 31px rgba(203, 6, 104, 0.3);
  }
}
.button .name {
  color: #fff;
  font-size: 20px;
}

.header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #171717;
}
.header.active {
  background: #232133;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 101;
}
.header.active .header-mobile {
  position: relative;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header.active .header-mobile .header-block {
  height: 85vh;
}
.header.active .header-mobile .header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow-y: auto;
}
.header .header-block {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.header .header-block .header-logo {
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .header .header-block .header-logo {
    max-width: 70%;
  }
}
@media only screen and (min-width: 1241px) {
  .header .header-block .header-logo:hover {
    transform: scale(1.1);
  }
}
.header .header-block .header-logo img {
  object-fit: contain;
  min-height: 55px;
  max-height: 55px;
  object-position: left;
}
.header .header-block .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-block .header-menu li {
  margin: 0 12px 0 0;
}
.header .header-block .header-menu li:last-child {
  margin: 0;
}
.header .header-block .header-menu li a {
  position: relative;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #FFFFFF;
}
@media only screen and (min-width: 992px) {
  .header .header-block .header-menu li a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header .header-block .header-menu li a:hover {
    color: #D60F61;
  }
}
.header .header-block .header-menu li.current-menu-item a {
  color: #D60F61;
}
.header .header-block .header-menu li.current-menu-item a:before {
  content: url("../img/menu-arrow.svg");
  position: absolute;
  top: -10px;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header .header-block .header-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.header .header-block .header-sign .button-wrapper {
  position: relative;
  background: linear-gradient(180deg, #FEB745 0%, #FE903B 100%);
  box-shadow: 0px 8px 4px rgba(255, 167, 65, 0.09), 0px 3px 0px rgba(139, 139, 139, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 184px;
  max-width: 184px;
  height: 49px;
}
@media only screen and (min-width: 1241px) {
  .header .header-block .header-sign .button-wrapper:hover .decor img {
    transform: translateY(-5px);
  }
}
.header .header-block .header-sign .button-wrapper .decor {
  position: absolute;
  top: 50%;
  left: -26px;
  transform: translate(0, -50%);
  min-width: 223px;
  max-width: 223px;
}
.header .header-block .header-sign .button-wrapper .decor img {
  transform: translateY(0px);
  transition: all 0.5s ease;
}
.header .header-block .header-sign .button-wrapper .name {
  font-size: 20px;
  line-height: 25px;
}
.header .header-desktop {
  display: none;
}
@media only screen and (min-width: 1241px) {
  .header .header-desktop {
    display: block;
  }
}
.header .header-mobile {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 1241px) {
  .header .header-mobile {
    display: none;
  }
}
.header .header-mobile .header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.header .header-mobile .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}
.header .header-mobile .header-top .burger {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 1240px) {
  .header .header-mobile .header-top .burger {
    -webkit-tap-highlight-color: transparent;
  }
}
.header .header-mobile .header-top .burger .burger-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 48px;
  height: 17px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .header-mobile .header-top .burger .burger-wrapper div {
  position: absolute;
  display: inline-block;
  height: 4px;
  background: #CB0668;
  border-radius: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .header-mobile .header-top .burger .burger-wrapper .line-1 {
  width: 48px;
}
.header .header-mobile .header-top .burger .burger-wrapper .line-2 {
  width: 48px;
  bottom: 0;
  right: 0;
}
.header .header-mobile .header-top .burger.active .burger-wrapper {
  width: 38px;
  height: 38px;
}
.header .header-mobile .header-top .burger.active .burger-wrapper div {
  width: 40px;
  top: 50%;
}
.header .header-mobile .header-top .burger.active .burger-wrapper .line-1 {
  transform: rotate(-45deg) translate(0, -50%);
}
.header .header-mobile .header-top .burger.active .burger-wrapper .line-2 {
  transform: rotate(45deg) translate(0, -50%);
}
.header .header-mobile .header-bottom {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .header-mobile .header-bottom .header-menu {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px;
}
.header .header-mobile .header-bottom .header-menu li {
  margin: 12px 0;
}
.header .header-mobile .header-bottom .header-menu li a {
  font-size: 28px;
  line-height: 1.4;
}
.header .header-mobile .header-bottom .header-menu li a.active::before {
  display: none;
}
.header .header-mobile .header-bottom .header-menu li.current-menu-item a::before {
  display: none;
}
.header .header-mobile .header-bottom .header-sign {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer .decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 0%;
  left: 50%;
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  width: 1220px;
  z-index: 0;
}
@media only screen and (max-width: 991px) {
  .footer .decor {
    width: 1220px;
  }
}
@media only screen and (max-width: 767px) {
  .footer .decor {
    top: 15%;
    width: 970px;
  }
}
.footer .footer-top {
  background: #171717;
}
.footer .footer-top .footer-block {
  padding-top: 38px;
  padding-bottom: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 727px;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  .footer .footer-top .footer-block {
    padding-top: 72px;
  }
}
.footer .footer-top .footer-block .footer-logo {
  display: block;
  text-align: center;
}
.footer .footer-top .footer-block .footer-logo img {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  min-height: 70px;
  max-height: 70px;
  object-position: left;
  object-fit: contain;
}
@media only screen and (min-width: 1241px) {
  .footer .footer-top .footer-block .footer-logo:hover img {
    transform: scale(1.1);
  }
}
.footer .footer-top .footer-block .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer .footer-top .footer-block .footer-info .disclaimer {
  margin-top: 24px;
}
@media only screen and (min-width: 992px) {
  .footer .footer-top .footer-block .footer-info .disclaimer {
    margin-top: 22px;
  }
}
.footer .footer-top .footer-block .footer-info .disclaimer p {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
@media only screen and (min-width: 992px) {
  .footer .footer-top .footer-block .footer-info .disclaimer p {
    font-size: 18px;
    line-height: 27px;
  }
}
.footer .footer-top .footer-block .footer-info .disclaimer a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #FAE100;
}
@media only screen and (min-width: 992px) {
  .footer .footer-top .footer-block .footer-info .disclaimer a {
    font-size: 18px;
    line-height: 27px;
  }
}
.footer .footer-top .footer-block .footer-info .description {
  margin-top: 16px;
}
.footer .footer-top .footer-block .footer-info .description p {
  font-size: 17px;
  line-height: 23px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer .footer-top .footer-block .footer-info .description a {
  font-size: 17px;
  line-height: 23px;
  color: #FAE100;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
.footer .footer-top .footer-block .footer-info-2 {
  margin-top: 24px;
}
@media only screen and (min-width: 992px) {
  .footer .footer-top .footer-block .footer-info-2 {
    margin-top: 32px;
  }
}
.footer .footer-top .footer-block .footer-info-2 .description p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  .footer .footer-top .footer-block .footer-info-2 .description p {
    font-size: 18px;
    line-height: 25px;
  }
}
.footer .footer-top .footer-block .footer-info-2 .description a {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #F3254D;
  text-decoration: underline;
}
@media only screen and (min-width: 992px) {
  .footer .footer-top .footer-block .footer-info-2 .description a {
    font-size: 18px;
    line-height: 25px;
  }
}
.footer .footer-bottom {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 32px 0;
}
@media only screen and (max-width: 1240px) {
  .footer .footer-bottom {
    padding: 32px 16px;
  }
}
.footer .footer-bottom .copyright {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.hero {
  background: transparent;
  padding-top: 50px;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .hero {
    padding-top: 77px;
  }
}
.hero .hero-block {
  background-image: linear-gradient(26.05deg, #3A1839 19.24%, #048263 161%);
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px 12px 0;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .hero .hero-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 64px 60px 100px;
  }
}
@media only screen and (max-width: 991px) {
  .hero .hero-block {
    min-height: 700px;
  }
}
.hero .hero-block .hero-title-wrapper {
  padding: 0 16px;
  z-index: 1;
}
@media only screen and (min-width: 992px) {
  .hero .hero-block .hero-title-wrapper {
    padding: 0 47px;
    flex-basis: 70%;
  }
}
.hero .hero-block .hero-title-wrapper .hero-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 24px;
  color: #fff;
}
@media only screen and (min-width: 992px) {
  .hero .hero-block .hero-title-wrapper .hero-title {
    font-size: 62px;
    line-height: 67px;
    margin-bottom: 26px;
  }
}
.hero .hero-block .hero-title-wrapper .hero-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 27px;
  max-width: 510px;
}
@media only screen and (min-width: 992px) {
  .hero .hero-block .hero-title-wrapper .hero-description {
    margin-bottom: 32px;
  }
}
.hero .hero-block .hero-image-wrapper {
  position: absolute;
  bottom: -6px;
  right: 0;
}
@media only screen and (max-width: 767px) {
  .hero .hero-block .hero-image-wrapper {
    position: relative;
    margin-top: 60px;
  }
  .hero .hero-block .hero-image-wrapper img {
    width: 120%;
    max-width: 120%;
    position: relative;
    left: -20%;
  }
}

.content {
  background: transparent;
  padding-bottom: 95px;
}
.content .content-block {
  padding: 80px 0 0;
}
@media only screen and (min-width: 992px) {
  .content .content-block {
    padding: 100px 0 0;
  }
}
.content .content-block .content-title {
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .content .content-block .content-title {
    margin-bottom: 16px;
  }
}
.content .content-block .content-title h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  color: #FFFFFF;
  text-align: center;
  font-style: italic;
  width: 100%;
}
.content .content-block .content-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 146.4%;
  text-align: center;
  color: #BDBDBD;
  max-width: 600px;
  margin: 0 auto;
}
.content .content-block .content-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 110px;
}
@media only screen and (max-width: 1240px) {
  .content .content-block .content-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 140px;
  }
}
@media only screen and (max-width: 767px) {
  .content .content-block .content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 180px;
  }
}
.content .content-block .content-list .content-list-item {
  width: calc(33.33% - 14px);
  height: 440px;
  margin-right: 14px;
}
.content .content-block .content-list .content-list-item:last-child {
  width: 33.33%;
  margin-right: 0;
}
@media only screen and (max-width: 1240px) {
  .content .content-block .content-list .content-list-item {
    width: calc(50% - 14px);
    margin-bottom: 15px;
  }
  .content .content-block .content-list .content-list-item:last-child {
    width: 50%;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .content .content-block .content-list .content-list-item {
    width: 100%;
    height: 395px;
    margin-bottom: 80px;
    margin-right: 0;
  }
  .content .content-block .content-list .content-list-item:last-child {
    width: 100%;
    margin-bottom: 0;
  }
}
.content .content-block .content-list .content-list-item .item-wrapper {
  position: relative;
  height: 100%;
  background: linear-gradient(26.05deg, #3A1839 19.24%, #048263 161%);
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.content .content-block .content-list .content-list-item .item-wrapper .icon {
  margin-bottom: 64px;
}
@media only screen and (max-width: 767px) {
  .content .content-block .content-list .content-list-item .item-wrapper .icon {
    margin-bottom: 48px;
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.content .content-block .content-list .content-list-item .item-wrapper .title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 114.8%;
  margin-bottom: 12px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 2px 10px rgba(9, 49, 183, 0.3);
}
.content .content-block .content-list .content-list-item .item-wrapper .subtitle {
  color: #E0E0E0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 148.5%;
  min-height: 66px;
  text-align: center;
  padding: 0 15px;
}
.content .content-block .content-list .content-list-item:nth-child(2) {
  height: 500px;
}
@media only screen and (max-width: 1240px) {
  .content .content-block .content-list .content-list-item:nth-child(2) {
    height: 440px;
  }
}
@media only screen and (max-width: 767px) {
  .content .content-block .content-list .content-list-item:nth-child(2) {
    height: 450px;
  }
}
.content .content-block .content-list .content-list-item:nth-child(2) .icon {
  margin-bottom: 75px;
}
@media only screen and (max-width: 1240px) {
  .content .content-block .content-list .content-list-item:nth-child(2) .icon {
    margin-bottom: 64px;
  }
}

.games, .related-posts {
  background: transparent;
  overflow-x: hidden;
  padding-bottom: 60px;
}
@media only screen and (min-width: 992px) {
  .games, .related-posts {
    padding-bottom: 150px;
  }
}
.games .games-block .games-title-wrapper, .related-posts .games-block .games-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 64px;
}
@media only screen and (max-width: 1240px) {
  .games .games-block .games-title-wrapper, .related-posts .games-block .games-title-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px;
  }
}
.games .games-block .games-title-wrapper .games-title, .related-posts .games-block .games-title-wrapper .games-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-basis: 70%;
}
@media only screen and (max-width: 991px) {
  .games .games-block .games-title-wrapper .games-title, .related-posts .games-block .games-title-wrapper .games-title {
    margin-bottom: 16px;
  }
}
.games .games-block .games-title-wrapper .games-title .title, .related-posts .games-block .games-title-wrapper .games-title .title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 114.8%;
  font-style: italic;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.games .games-block .games-title-wrapper .games-title .description, .related-posts .games-block .games-title-wrapper .games-title .description {
  max-width: 515px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 146.4%;
  color: #BDBDBD;
}
.games .games-block .games-title-wrapper .slider-navigation, .related-posts .games-block .games-title-wrapper .slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 107px;
  height: 52px;
  border: 1px solid #FF0099;
  border-radius: 4px;
  margin-top: auto;
}
.games .games-block .games-title-wrapper .slider-navigation .slice, .related-posts .games-block .games-title-wrapper .slider-navigation .slice {
  height: 100%;
  border-right: 1px solid #FF0099;
}
.games .games-block .games-title-wrapper .slider-navigation .slider-button-prev, .related-posts .games-block .games-title-wrapper .slider-navigation .slider-button-prev {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 15px;
}
.games .games-block .games-title-wrapper .slider-navigation .slider-button-next, .related-posts .games-block .games-title-wrapper .slider-navigation .slider-button-next {
  margin-left: 15px;
}
.games .games-block .games-title-wrapper .slider-navigation img, .related-posts .games-block .games-title-wrapper .slider-navigation img {
  max-height: 35px;
}
.games .games-block .games-title-wrapper .slider-navigation .slider-button-prev, .games .games-block .games-title-wrapper .slider-navigation .slider-button-next, .related-posts .games-block .games-title-wrapper .slider-navigation .slider-button-prev, .related-posts .games-block .games-title-wrapper .slider-navigation .slider-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  max-height: 35px;
}
.games .games-block .games-title-wrapper .slider-navigation .slider-button-prev.swiper-button-disabled, .games .games-block .games-title-wrapper .slider-navigation .slider-button-next.swiper-button-disabled, .related-posts .games-block .games-title-wrapper .slider-navigation .slider-button-prev.swiper-button-disabled, .related-posts .games-block .games-title-wrapper .slider-navigation .slider-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.games .games-slider, .related-posts .games-slider {
  position: relative;
  overflow: hidden;
  padding: 0 0 40px;
}
.games .swiper-pagination-bullets.swiper-pagination-horizontal, .related-posts .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}
.games .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet, .related-posts .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 0, 153, 0.25);
}
.games .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active, .related-posts .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  background: #FF0099;
}
.games .games-card-list .game-card, .related-posts .games-card-list .game-card {
  outline: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  height: auto;
}
.games .games-card-list .game-card .game-card-wrapper, .related-posts .games-card-list .game-card .game-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.games .games-card-list .game-card .game-card-wrapper:before, .related-posts .games-card-list .game-card .game-card-wrapper:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 64.1%);
  opacity: 0.8;
}
.games .games-card-list .game-card .game-card-wrapper .game-card-image, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-image {
  width: 100%;
  object-fit: cover;
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 26px 28px;
}
@media only screen and (max-width: 767px) {
  .games .games-card-list .game-card .game-card-wrapper .game-card-bottom, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom {
    padding: 25px 26px;
  }
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-card-icon, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-card-icon {
  margin-right: 16px;
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-card-info, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-card-info {
  position: relative;
  top: -15px;
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating {
  position: relative;
  max-width: 160px;
  margin: 0 0 8px;
}
@media only screen and (max-width: 1240px) {
  .games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating {
    margin: 0 0 8px;
  }
}
@media only screen and (max-width: 767px) {
  .games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating {
    max-width: 295px;
  }
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner {
  z-index: 4;
  overflow: hidden;
  position: relative;
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner, .games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner .star, .games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer .star, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner .star, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer .star {
  margin-right: 8px;
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner .star:last-child, .games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer .star:last-child, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner .star:last-child, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer .star:last-child {
  margin-right: 0;
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner .star img, .games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer .star img, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner .star img, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer .star img {
  min-width: 23.53px;
  max-width: 23.53px;
  min-height: 24.74px;
  max-height: 24.74px;
}
@media only screen and (max-width: 1240px) {
  .games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner .star img, .games .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer .star img, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-inner .star img, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .rating .rating-outer .star img {
    min-width: 28.53px;
    max-width: 28.53px;
    min-height: 29.74px;
    max-height: 29.74px;
  }
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-rating, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-rating {
  margin-bottom: 7px;
  margin-left: -3px;
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-rating img, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-rating img {
  min-width: 23.53px;
  max-width: 23.53px;
  min-height: 24.74px;
  max-height: 24.74px;
}
@media only screen and (max-width: 1240px) {
  .games .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-rating img, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-rating img {
    min-width: 28.53px;
    max-width: 28.53px;
    min-height: 29.74px;
    max-height: 29.74px;
  }
}
.games .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-card-title, .related-posts .games-card-list .game-card .game-card-wrapper .game-card-bottom .game-card-title {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 115.9%;
}

.related-posts {
  background: none;
  margin-top: 90px;
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .related-posts {
    margin-top: 120px;
  }
}
.related-posts .related-posts-title {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 38px;
  font-size: 42px;
  line-height: 47px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .related-posts .related-posts-title {
    font-size: 46px;
    line-height: 68px;
    margin-bottom: 40px;
  }
}
.related-posts .games-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .related-posts .games-card-list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.related-posts .games-card-list .game-card {
  width: 100%;
  margin-bottom: 40px;
  position: relative;
  height: 350px;
}
@media only screen and (min-width: 768px) {
  .related-posts .games-card-list .game-card {
    width: 45%;
    height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  .related-posts .games-card-list .game-card {
    width: 30%;
    height: auto;
  }
}
.related-posts .games-card-list .game-card .title {
  min-height: 76px;
}

.newsletter {
  margin-bottom: 110px;
}
.newsletter .newsletter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 60px 160px 70px;
  background: linear-gradient(26.05deg, #3A1839 19.24%, #048263 161%);
  border-radius: 27px;
}
@media only screen and (max-width: 991px) {
  .newsletter .newsletter-block {
    padding: 60px 60px 70px;
  }
}
@media only screen and (max-width: 767px) {
  .newsletter .newsletter-block {
    padding: 50px 16px 410px;
  }
}
.newsletter .newsletter-block .newsletter-decor {
  position: absolute;
  left: 65px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (max-width: 991px) {
  .newsletter .newsletter-block .newsletter-decor {
    left: -65px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media only screen and (max-width: 767px) {
  .newsletter .newsletter-block .newsletter-decor {
    -moz-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
    left: -35px;
  }
}
.newsletter .newsletter-block .newsletter-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-align: center;
  font-style: italic;
  font-size: 32px;
  line-height: 114.8%;
  color: #fff;
  max-width: 275px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.newsletter .newsletter-block .newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 404px;
  width: 100%;
  margin: 0 0 0 auto;
}
@media only screen and (max-width: 767px) {
  .newsletter .newsletter-block .newsletter-form {
    margin: 0 auto;
  }
}
.newsletter .newsletter-block .newsletter-form .newsletter-input {
  flex-grow: 1;
  margin-bottom: 15px;
}
.newsletter .newsletter-block .newsletter-form .newsletter-input input {
  color: #171717;
  background: #fff;
  width: 100%;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  line-height: 19px;
}
.newsletter .newsletter-block .newsletter-form .newsletter-button {
  border: none;
  transform: unset;
  border-radius: 8px;
}
.newsletter .newsletter-block .newsletter-form .newsletter-button span {
  transform: unset;
}

.content__form {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 789px;
  padding: 71px 0 146px;
}
.content__form .content-block .content-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 62px;
  line-height: 100%;
  margin-bottom: 30px;
  text-transform: capitalize;
}
@media only screen and (min-width: 992px) {
  .content__form .content-block .content-title {
    font-size: 60px;
    line-height: 67px;
    margin-bottom: 44px;
  }
}
.content__form .content-block form {
  padding: 50px 32px;
  background: linear-gradient(109.06deg, #471F66 13.62%, #1E227A 82.56%);
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block form {
    border: none;
  }
}
.content__form .content-block form .form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block form .form-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 8px;
  }
}
.content__form .content-block form .form-block .block-l {
  margin: 0 30.5px 0 0;
  flex-basis: 50%;
}
.content__form .content-block form .form-block .block-r {
  flex-basis: 50%;
}
.content__form .content-block form .form-block .form-group {
  margin: 0 0 40px;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block form .form-block .form-group {
    margin: 0 0 24px;
  }
}
.content__form .content-block form .form-block .form-group .label-wrapper {
  margin: 0 0 17px;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block form .form-block .form-group .label-wrapper {
    margin: 0 0 12px;
  }
}
.content__form .content-block form .form-block .form-group .label-wrapper label {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.content__form .content-block form .form-block .form-group .label-wrapper.required label {
  position: relative;
}
.content__form .content-block form .form-block .form-group .label-wrapper.required label::before {
  content: "*";
  position: absolute;
  right: -10px;
  top: -5px;
  color: #EE6B73;
}
.content__form .content-block form .form-block .form-group .input-wrapper {
  vertical-align: middle;
  position: relative;
}
.content__form .content-block form .form-block .form-group .input-wrapper input {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: none;
  background: #fff;
  color: #6A6A6A;
  outline: none;
  width: 100%;
  height: 77px;
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block form .form-block .form-group .input-wrapper input {
    height: 48px;
    padding: 0 0 0 18px;
  }
}
@media only screen and (min-width: 1241px) {
  .content__form .content-block form .form-block .form-group .input-wrapper input:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
  }
}
.content__form .content-block form .form-block .form-group .input-wrapper input:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
}
.content__form .content-block form .form-block .form-group .input-wrapper textarea {
  resize: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: none;
  background: #fff;
  color: #6A6A6A;
  outline: none;
  width: 100%;
  height: 234px;
  padding: 27px 27px 0;
}
@media only screen and (max-width: 991px) {
  .content__form .content-block form .form-block .form-group .input-wrapper textarea {
    height: 150px;
  }
}
.content__form .content-block form .submit-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content__form .content-block form .submit-block .submit-btn {
  background: #30EE83;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 133px;
  box-shadow: 0px 8px 4px rgba(255, 167, 65, 0.09), 0px 3px 0px rgba(139, 139, 139, 0.1);
  outline: none;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px #078F59;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  min-width: 240px;
  max-width: 240px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}
@media only screen and (min-width: 1241px) {
  .content__form .content-block form .submit-block .submit-btn:hover {
    border-bottom: 2px solid transparent;
    background: #0CC47C;
  }
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block form .submit-block .submit-btn {
    margin: 24px 0 0;
    border: 2px solid #FFFFFF;
    -webkit-tap-highlight-color: transparent;
  }
}
.content__form .content-block form .wpcf7-not-valid-tip {
  color: #EE6B73;
  font-size: 14px;
  min-width: 200px;
  position: absolute;
  left: 0;
}
.content__form .content-block form .wpcf7-response-output {
  border: none !important;
  color: #EE6B73;
  font-size: 14px;
  text-align: center;
}

.content__form.register {
  background: transparent;
}
.content__form.register form {
  padding: 50px 0px 50px 32px;
}
@media only screen and (max-width: 1240px) {
  .content__form.register form {
    padding: 43px 20px 56px;
  }
}
.content__form.register form .form-block {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.content__form.register form .form-block .form-group {
  width: 50%;
  padding: 0 31.5px 0 0;
}
@media only screen and (max-width: 1240px) {
  .content__form.register form .form-block .form-group {
    width: 100%;
    padding: 0;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 33, 51, 0.57);
  backdrop-filter: blur(11px);
  display: none;
  z-index: 2;
}
.modal-overlay .modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/popup.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 119px 0 96px;
  border-radius: 15px;
}
.modal-overlay .modal-window .modal-close {
  position: absolute;
  top: 48px;
  right: 48px;
  cursor: pointer;
  outline: none;
}
@media only screen and (max-width: 1240px) {
  .modal-overlay .modal-window .modal-close {
    -webkit-tap-highlight-color: transparent;
  }
}
@media only screen and (max-width: 991px) {
  .modal-overlay .modal-window .modal-close {
    top: 13px;
    right: 13px;
  }
}
.modal-overlay .modal-window .modal-content {
  min-width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .modal-overlay .modal-window .modal-content {
    min-width: 343px;
  }
}
.modal-overlay .modal-window .modal-content .decor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.modal-overlay .modal-window .modal-content .modal-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 46px;
  line-height: 57px;
  margin: 0 auto 51px;
  max-width: 380px;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .modal-overlay .modal-window .modal-content .modal-title {
    margin: 0 auto 36px;
    max-width: 261px;
    font-size: 32px;
    line-height: 40px;
  }
}
.modal-overlay .modal-window .modal-content .modal-btn {
  min-width: 230px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000;
  background: #fff;
  -webkit-border-radius: 61px;
  -moz-border-radius: 61px;
  -ms-border-radius: 61px;
  border-radius: 61px;
  cursor: pointer;
}

.content__form.game {
  min-height: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.content__form.game.show {
  visibility: visible;
  opacity: 1;
}
.content__form.game .game-content {
  border-radius: 8px;
  padding: 20px;
  position: relative;
}
.content__form.game .game-content iframe {
  width: 100%;
  min-height: 85vh;
  border: none;
  border-radius: 8px;
}
.content__form.game .game-content .game-close {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 103;
  cursor: pointer;
}

.content__form.contact {
  background: transparent;
}

body.page-template p {
  margin-bottom: 20px;
  line-height: 1.5;
}
body.page-template h2 {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 1.1;
}

.page-wrap {
  position: relative;
}

.page-bg {
  position: absolute;
  top: 138px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .page-bg {
    top: 150px;
  }
}

.page-content-bg {
  flex-grow: 1;
  background: #301b65;
  /* Old browsers */
  background: -moz-linear-gradient(top, #301b65 0%, #211c5c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #301b65 0%, #211c5c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #301b65 0%, #211c5c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#301b65", endColorstr="#211c5c", GradientType=0);
}

.page-content {
  position: relative;
}

.game-template-default .page-wrap .page-bg .hero-bg, .game-template-default .page-wrap .page-bg .page-content-bg, .page-template-default .page-wrap .page-bg .hero-bg, .page-template-default .page-wrap .page-bg .page-content-bg, .page-template-page-registration .page-wrap .page-bg .hero-bg, .page-template-page-registration .page-wrap .page-bg .page-content-bg, .page-template-page-contact .page-wrap .page-bg .hero-bg, .page-template-page-contact .page-wrap .page-bg .page-content-bg {
  display: none;
}
.game-template-default .page-wrap .page-bg .footer-bg, .page-template-default .page-wrap .page-bg .footer-bg, .page-template-page-registration .page-wrap .page-bg .footer-bg, .page-template-page-contact .page-wrap .page-bg .footer-bg {
  flex-grow: 1;
  max-height: 100%;
}
.game-template-default .page-wrap .page-bg .footer-bg img, .page-template-default .page-wrap .page-bg .footer-bg img, .page-template-page-registration .page-wrap .page-bg .footer-bg img, .page-template-page-contact .page-wrap .page-bg .footer-bg img {
  height: 100%;
  object-fit: cover;
}
.game-template-default .page__content, .page-template-default .page__content, .page-template-page-registration .page__content, .page-template-page-contact .page__content {
  padding-top: 60px;
}
@media only screen and (max-width: 991px) {
  .game-template-default .page__content, .page-template-default .page__content, .page-template-page-registration .page__content, .page-template-page-contact .page__content {
    padding-top: 15px;
  }
}

.game-template-default.overlayed .header::before, .game-template-default.overlayed .page__content::before, .game-template-default.overlayed .footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, 0.85) !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.game-template-default .page__content .container {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 84px;
}
@media only screen and (min-width: 992px) {
  .game-template-default .page__content .container {
    padding-bottom: 100px;
    margin-bottom: 140px;
  }
}
.game-template-default .page__content .page__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .game-template-default .page__content .page__content-title {
    margin-bottom: 40px;
  }
}
.game-template-default .page__content .page__content-title .game-image {
  margin: 0 0 40px;
  max-width: 155px;
}
@media only screen and (max-width: 767px) {
  .game-template-default .page__content .page__content-title .game-image {
    margin: 0 auto 40px;
  }
}
.game-template-default .page__content .page__content-title .game-info .game-title {
  font-size: 42px;
  line-height: 100%;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
}
@media only screen and (min-width: 992px) {
  .game-template-default .page__content .page__content-title .game-info .game-title {
    font-size: 46px;
    line-height: 68px;
    margin-bottom: 5px;
  }
}
.game-template-default .page__content .page__content-title .game-info .game-description, .game-template-default .page__content .page__content-title .game-info .game-subtitle {
  color: #E0E0E0;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.game-template-default .page__content .page__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.game-template-default .page__content .page__content-wrapper .page__content-main {
  max-width: 799px;
  margin-bottom: 50px;
}
.game-template-default .page__content .page__content-wrapper .page__content-main h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  color: #FFFFFF;
  margin: 0 0 16px;
  text-transform: capitalize;
}
.game-template-default .page__content .page__content-wrapper .page__content-main p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E0E0E0;
  margin: 0 0 30px;
}
.game-template-default .page__content .page__content-wrapper .page__content-main a {
  color: #FAE100;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .game-template-default .page__content .page__content-wrapper .page__content-window {
    margin: 0 0 25px;
  }
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window {
  margin: 0 auto;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-button-wrapper {
  position: absolute;
  width: auto;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-button-wrapper .game-button {
  padding: 0;
  min-width: 220px;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-background-image {
  overflow: hidden;
  position: relative;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-background-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  pointer-events: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-background-image img {
  display: block;
  width: 100%;
  max-width: 830px;
  object-fit: cover;
  height: 540px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
@media only screen and (max-width: 991px) {
  .game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-background-image img {
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  .game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-background-image img {
    height: auto;
  }
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-image {
  position: absolute;
  bottom: 5px;
  left: 20px;
  max-width: 140px;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-provider {
  position: absolute;
  top: 22px;
  left: 34px;
  max-width: 120px;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-disclaimer {
  font-size: 16px;
  line-height: 24px;
  color: #E0E0E0;
  margin-top: 16px;
  text-transform: uppercase;
}

.page-template-default .page__content {
  background: transparent;
  padding-top: 0;
  padding-bottom: 60px;
}
@media only screen and (min-width: 992px) {
  .page-template-default .page__content {
    padding-bottom: 140px;
  }
}
.page-template-default .page__content .page__content-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 32px;
  margin: 40px 0 16px;
  color: #FFFFFF;
}
@media only screen and (min-width: 992px) {
  .page-template-default .page__content .page__content-title {
    font-size: 46px;
    line-height: 68px;
    margin: 80px 0 32px;
  }
}
.page-template-default .page__content h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0px 0 16px;
  color: #FFFFFF;
}
@media only screen and (min-width: 992px) {
  .page-template-default .page__content h2 {
    font-size: 46px;
    line-height: 68px;
    margin: 0px 0 32px;
  }
}
.page-template-default .page__content p {
  font-size: 18px;
  color: #E0E0E0;
  line-height: 27px;
  margin: 0 0 35px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.page-template-page-registration .page-content .button {
  min-width: 233px;
  border: none;
}

.page-template-page-contact .page-content .form-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .page-template-page-contact .page-content .form-block-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.page-template-page-contact .page-content .form-block-wrapper .form-block {
  flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page-template-page-contact .page-content .button {
  min-width: 233px;
  border: none;
}

/*# sourceMappingURL=style.css.map */
