* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include f-normal();
}
a {
  text-decoration: none;
  color: #000000;
  outline: none;
  @include max-large() {
    -webkit-tap-highlight-color: transparent;
  }
}
img {
  max-width: 100%;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
body.overflow-hidden {
  overflow: hidden;
}
// общие стили start
.container {
  width: 83%;
  margin: auto;
  @include max-medium() {
    width: 100%;
    padding: 0 15px;
  }
}
.section-title {
  @include f-2-normal();
  font-size: 47px;
  line-height: 1.2;
  color: #ffffff;
  @include max-medium() {
    font-size: 42px;
    line-height: 1.2;
  }
}
.menu-block {
  @include flexbox();
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 30px;
  width: 100%;
  .menu-col {
    @include flexbox();
    flex-direction: column;
    min-height: 186px;
    .menu-title {
      @include f-3-normal();
      font-size: 17px;
      color: #323234;
      margin: 0px 0px 25px;
      width: 100%;
    }
    .menu-list {
      @include flexbox();
      flex-direction: column;
      margin: -9px 0px;
      width: 100%;
      .menu-item {
        margin: 9px 0px;
        transition: 0.15s ease;
        a {
          @include f-3-normal();
          font-size: 13px;
          color: #ffffff;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            width: 0%;
            height: 1px;
            bottom: -3px;
            left: 0;
            background: #4DE845;
            transition: 0.15s ease;
          }
          @include min-large() {
            &:hover {
              &:after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
// общие стили end

// header start
.header {
  padding: 31px 0px 0px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 12px rgba(75, 90, 94, 0.11);
  @include max-medium() {
    padding: 0px;
    background: #151515;
  }
  .header-t {
    z-index: 10;
    @include max-medium() {
      box-shadow: 0px 4px 12px rgba(75, 90, 94, 0.11);
    }
    .header-t-wrap {
      width: 100%;
      @include flexbox();
      justify-content: space-between;
      height: 72px;
    }
    .header-logo {
      @include max-medium() {
        @include flexbox();
        align-items: center;
      }
    }
    .text {
      display: none;
    }
    .header-btn {
      @include flexbox();
      align-items: center;
      cursor: pointer;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      .burger {
        @include flexbox();
        position: relative;
        width: 21px;
        height: 12px;
        margin: 0px 10px 0px 0px;
        .burger-open {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 21px;
          height: 12px;
          transform: scale(1) translate(-50%, -50%);
          transition: all 0.3s ease;
          div {
            display: inline-block;
            height: 2px;
            background: #4DE845;
            position: absolute;
            border-radius: 5px;
        }
          .line-1 {
            top: -1px;
            left: 0;
            right: 0;
          }
          .line-2 {
            top: 4px;
            left: 0;
            right: 0;
          }
          .line-3 {
            bottom: 1px;
            left: 0;
            right: 0;
          }
        }
        .burger-close {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 16px;
          height: 12px;
          transform: scale(0) translate(-50%, -50%);
          transition: all 0.3s ease;
          div {
            display: inline-block;
            height: 2px;
            background: #4DE845;
            position: absolute;
            border-radius: 5px;
        }
          .line-1 {
            top: 4px;
            left: 0;
            right: 0;
            transform: rotate(-45deg);
          }
          .line-2 {
            top: 4px;
            left: 0;
            right: 0;
            transform: rotate(45deg);
          }
        }
      }
      .burger.active {
        .burger-open {
          opacity: 0;
          transform: scale(0) translate(-50%, -50%);
        }
        .burger-close {
          opacity: 1;      
          transform: scale(1) translate(-50%, -50%);
        }
      }
      .name {
        @include f-medium();
        font-size: 16px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        text-transform: uppercase;
      }
    }
  }
  
  
}
.header.active {  
  background: #000000;
  padding: 31px 0px 41px;
  .header-t.active {
    background: #000000;
  }
  
  .header-logo {
    margin: auto;
  }
  .header-btn {
    margin: 0px 0px 0px -82px;
  }
  
}
.header.fixed {

  .header-t {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: rgba(21, 21, 21, 0.7);
    box-shadow: 0px 4px 12px rgba(75, 90, 94, 0.11);
    @include max-medium() {
      background: #151515;
    }
  }
  .header-logo {
    @include flexbox();
    align-items: center;
    .text {
      @include flexbox();
      align-items: center;
      margin: 0px 0px 0px 16px;
    }
    .text.disabled {
      display: none;
    }
  }
}
.header.fixed.active {
  .header-t {
    height: 90px;
  }
}
// header end
// hero start
.hero {
  min-height: 750px;
  .bg {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 900px;
    background-image: url('../img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    z-index: -1;
    // @media (max-width: 1550px) {
      
    //   min-height: 900px;
    // }
    @include max-medium() {
      top: 72px;
      height: 800px;
    }
  }
  .hero-block {
    @include flexbox();
    flex-direction: column;
    align-items: center;
    padding: 200px 0px 80px;
    margin: 90px 0px 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    // opacity: 0;
    // visibility: hidden;
    transition: all .3s ease;
    @include max-large() {
      padding: 200px 0px 120px;
    }
    .menu-block {
      display: none;
    }
    .hero-title {
      max-width: 55%;
      text-align: center;
      margin: 0px auto 55px;
      min-height: 115px;
      @include max-large() {
        max-width: 100%;
        min-height: 250px;
      }
    }
    .hero-button-block.responsive {
      display: none;
      @include max-medium() {
        @include flexbox();
        flex-direction: column;
        margin: -10px 0px;
      }
    }
    .hero-button-block.non-responsive {
      @include max-medium() {
        display: none;
      }
    }
    .hero-button-block {
      @include flexbox();
      justify-content: center;
      min-height: 148px;
      .hero-button {
        cursor: pointer;
        font-size: 17px;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        color: #ffffff;
        min-width: 230px;
        height: 63px;
        @include flexbox();
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid #A2F21E;
        box-shadow: 0px 8px 20px rgba(162, 170, 192, 0.2);
        border-radius: 32px;
        margin: 0px 16px;
        transition: 0.15s;
        @include min-large() {
          &:hover {
            background: rgba(#ffffff, 0.1);
          }
        }
        @include max-medium() {
          height: 54px;
          font-size: 15px;
          margin: 10px auto;
          min-width: 200px;
        }
      }
    }
  }
}
.hero.active {
  z-index: 1000;
  position: fixed;
  height: 100%;
  top: 72px;
  left: 0;
  right: 0;

  .bg {
    background-image: none;
    background: #000000;
    height: 100%;
  }
  .hero-block {
    background: #000000;
    // margin: 90px 0px 0px;
    visibility: visible;
    opacity: 1;
    @include max-medium() {
      padding: 40px 0px 240px;
    }
  }
  .hero-title, .hero-button-block.non-responsive, .hero-button-block.responsive {
    display: none;
  }
  .menu-block {
    @include flexbox();
    @include max-medium() {
      justify-content: center;
    }
    .menu-responsive {
      display: none;
      @include max-medium() {
        @include flexbox();
        justify-content: center;
        flex-direction: column;
        margin: -17.5px 0px;
        .menu-responsive-item {
          @include f-2-normal();
          font-size: 42px;
          text-transform: uppercase;
          color: #ffffff;
          text-align: center;
          margin: 17.5px 0px;
        }
        .menu-responsive-item.active {
          color: #4DE845;
        }
      }
    }
    .menu-col {
      min-height: 224px;
      @include max-medium() {
        display: none;
      }
    }
    .menu-title {
      font-size: 24px;
    }
    .menu-item a {
      font-size: 18px;
    }
  }
}
.hero.fixed.active {
  .hero-block {
    position: fixed;
    top: 0;
    left: 0;
  }
}
// hero end
// wedo start
.wedo {
  background: #323234;
  padding: 150px 0px 175px;
  @include max-medium() {
    padding: 75px 0px 125px;
  }
  .container {
    padding: 0px 15px;
    @include max-medium() {
      width: 100%;
      padding: 0px;
    }
  }
  .wedo-block {
    @include flexbox();
    flex-direction: column;
    align-items: center;
  }
  .wedo-title {
    @include max-medium() {

      padding: 0px 15px;
    }
  }
  .wedo-subtitle {
    @include f-thin();
    font-size: 27px;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
    max-width: 40%;
    margin: 47px 0px 147px;
    @include max-medium() {
      font-size: 26px;
      margin: 40px 0px 70px;
      max-width: 100%;
      min-height: 171px;
      padding: 0px 15px;
    }
  }
  .wedo-card-list {
    @include flexbox();
    flex-direction: column;
    margin: -15px 0px;
    .card-item {
      @include flexbox();
      margin: 15px 0px;
      @include max-medium() {
        flex-direction: column;
      }
      &:nth-child(2n+1) {
        
        .card-subtitle {
          max-width: 50%;
          @media (max-width: 1349px) {
            max-width: 100%;
          }
        }
        .card-r {
          padding: 0px 0px 0px 125px;
          @include max-medium() {
            padding: 0 0 0 15px;
          }
        }
        .card-decor {
          left: -175px;
          right: -98px;
          bottom: -16px;
          height: 1px;
          @include max-medium() {
            width: 1px;
            left: 18px;
            right: auto;
            bottom: 114%;
            height: 75px;
          }
          &::before {
            left: -31px;
            top: -10px;
            width: 22px;
            height: 22px;
            border: 1px solid #a2f81d;
            @include max-medium() {
              left: -10px;
              top: -31px;
            }
          }
          &::after {
            width: 14px;
            height: 14px;
            background: #a2f81d;
            left: -26px;
            top: -5px;
            @include max-medium() {
              left: -5px;
              top: -26px;
            }
          }
        }
      }
      &:nth-child(2n) {
        flex-direction: row-reverse;
        @include max-medium() {
          flex-direction: column;
        }
        .card-decor {
          right: -175px;
          left: -98px;
          // bottom: 114%;
          height: 1px;
          @include max-medium() {
            right: 18px;
            left: auto;
            width: 1px;
            height: 75px;
            bottom: 114%;
          }
          &::before {
            right: -32px;
            left: auto;
            top: -10px;
            width: 22px;
            height: 22px;
            border: 1px solid #a2f81d;
            @include max-medium() {
              left: -11px;
              top: -31px;
            }
          }
          &::after {
            width: 14px;
            height: 14px;
            background: #a2f81d;
            right: -27px;
            top: -6px;
            left: auto;
            @include max-medium() {
              left: -6px;
              top: -26px;
            }
          }
        }      
        .card-r {
          padding: 0px 0px 0px 95px;
          @include max-medium() {
            padding: 0 0 0 15px;
          }
        }
        .card-subtitle {
          max-width: 57%;          
          @media (max-width: 1349px) {
            max-width: 100%;
          }
          @include max-medium() {
            padding: 0px 15px 0px 0px;
          }
        }
        .card-title, .card-subtitle {
          @include max-medium() {
            text-align: right;
            padding: 0px 15px 0px 0px;
          }
        }
      }
      .card-l {
        // flex-basis: 50%;
        position: relative;
        // min-width: 544px;
        // max-height: 375px;
        .image {
          @include max-medium() {
            // max-width: 375px;
            width: 100%;
            min-height: 234px;
          }
          img {
            object-fit: cover;
            width: 100%;
          }
          
        }
      }
      .card-r {
        @include flexbox();
        flex-basis: 50%;
        flex-direction: column;
        @media (max-width: 1349px) {
          padding: 0px 0px 0px 30px;
        }
        .card-title {
          @include f-2-normal();
          font-size: 27px;
          color: #A2F81D;
          margin: 65px 0px 45px;
          position: relative;
          .card-decor {
            position: absolute;
            background: #A2F81D;
            &::before, &::after  {
              content: '';
              position: absolute;
              border-radius: 50%;
            }
            

          }
        }
        .card-subtitle {
          @include f-thin();
          font-size: 21px;
          line-height: 1.4;
          letter-spacing: 0.02em;
          color: #FFFFFF;
        }
      }
    }
    .card-item.responsive {
      display: none;
      @include max-medium() {
        @include flexbox();
      }
    }
  }
}
// wedo end
// about start
.about {
  background: #151515;
  position: relative;
  padding: 0px 0px 40px;
  @include max-medium() {
    padding: 80px 0px 0px;
  }
  .bg {
    .bg-item {
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 5;

    }
    .bg-t {
      background-image: url('../img/about-bg-t.svg');
      top: -230px;
      height: 272px;
      @include max-medium() {
        top: -195px;
      }
    }
    .bg-b {
      background-image: url('../img/about-bg-b.svg');
      height: 205px;
      bottom: -160px;
      background-position: right bottom;
      @include max-medium() {
        height: 100px;
        bottom: -64px;
      }
    }
  }
  .about-list {
    @include flexbox();
    flex-wrap: wrap;
    width: 100%;
    margin: -45px 0px;
    @include max-medium() {
      margin: -35px 0px;
    }
    .about-item {
      width: 33%;
      @include flexbox();
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 45px 0px;
      height: 214px;
      @include max-medium() {
        width: 100%;
        margin: 35px 0px;
        // height: auto;
      }
      .title {
        @include f-bold();
        font-size: 45px;
        color: #ffffff;
        @include flexbox();
        span {
          font-size: 24px;
        }
      }
      .subtitle {
        @include f-thin();
        line-height: 1.4;
        font-size: 13px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        min-height: 36px;
      }
    }
  }
}
// about end
// slider start
.slider {
  position: relative;
  padding: 300px 0px;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/slider-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(5, 18, 26, 0.45);
    }
  }
  .slider-block {
    .slider-item {
      @include flexbox();
      flex-direction: column;
      align-items: center;
      .slider-title {
        margin: 50px 0px 80px;
        text-align: center;
        max-width: 70%;
        min-height: 224px;
      }
      .slider-subtitle {
        font-size: 27px;
        color: #63ED3B;
      }
    }
    .slider-dots {
      @include flexbox();
      justify-content: center;
      list-style-type: none;
      margin: 35px 0px 0px;
    }
    button {
      background: #ffffff;
      border-radius: 50%;
      padding: 5px;
      margin-right: 10px;
      border: none;
      outline: none;
      font-size: 0;
      cursor: pointer;
    }
    .slick-active button {
      background: #61EC3C;
      border-radius: 20px;
      padding: 5px 10px;
      margin-right: 10px;
    }
  }
}
// slider end
// achieve start
.achieve {
  @include flexbox();
  justify-content: space-between;
  position: relative;
  background: rgb(0,2,3);
  @include max-medium() {
    flex-direction: column;
    overflow: hidden;
  }
  .bg {    
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgb(0,0,0);
    z-index: 2;
    background: linear-gradient(90deg,rgba(0,0,0,0) 1%, rgba(0,0,0,1) 49%, rgba(26,38,50,0) 100%);
    @include max-medium() {
      width: 0%;
    }
  }
  .achieve-l {
    padding: 290px 0px 270px;
    @include max-medium() {
      padding: 74px 0px 0px;
    }
    .header-logo {
      display: none;
      @include max-medium() {
        @include flexbox();
        align-items: center;
        margin: 0px 0px 20px;
      }
      .image {
        margin: 0px 13px 0px 0px;
      }
    }
    .achieve-title {
      max-width: 65%;
      margin: 0px 0px 35px;
      @include max-medium() {
        max-width: 100%;
      }
    }
    .achieve-subtitle {
      font-size: 17px;
      line-height: 1.4;
      color: #ffffff;
      max-width: 65%;
      @include max-medium() {
        max-width: 100%;
      }
      span {
        color: #23D5FF;
      }
    }
  }
  .achieve-r {
    flex-basis: 50%;
    position: relative;
    // @include max-medium() {
    //   min-height: 375px;
    // }
    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../img/achieve-r-image.png');
      background-position: top left;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
      @include max-medium() {
        display: none;
      }
    }
    .image-responsive {
      display: none;
      position: relative;
      margin: 0px -120px -5px;
      @include max-medium() {
        display: block;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        background: -webkit-linear-gradient(bottom,rgba(0,0,0,0) 78%,rgba(0,0,0,.9332107843) 100%);
        background: linear-gradient(0deg,rgba(0,0,0,0) 78%,rgba(0,0,0,.9332107843) 100%);
      }
      img {
        width: 100%;
        max-width: 1392px;
      }
    }
  }
}
// achieve end
// contact start
.contact {
  padding: 150px 0px 160px;
  background: #0F1218;
  @include max-medium() {
    padding: 72px 0px;
  }
  .contact-block {
    @include flexbox();
    @include max-medium() {
      flex-direction: column;
    }
  }
  .contact-l , .contact-r {
    flex-basis: 50%;
  }
  .contact-l {
    @include flexbox();
    flex-direction: column;
    .contact-subtitle {
      font-size: 17px;
      line-height: 1.4;
      color: #ffffff;
      margin: 30px 0px 48px;
      max-width: 70%;
    }
    .contact-details {
      @include max-medium() {
        margin: 0px 0px 35px;
      }
      .title, .text {
        @include f-2-normal();
        font-size: 17px;
        @include max-medium() {
          font-size: 14px;
        }
      }
      .title {        
        color: #61EC3C;
        margin: 0px 0px 24px;
        text-transform: capitalize;
      }
      .image {
        margin: 0px 16px 0px 0px;
      }
      .text {
        color: #ffffff;
        line-height: 1.4;
        max-width: 35%;
        @include max-medium() {
          max-width: 100%;
        }
      }
      .contact-list {
        @include flexbox();
        flex-direction: column;
        margin: -22.5px 0px;
        .contact-item {
          @include flexbox();
          margin: 22.5px 0px;
        }
      }
    }
  }
  .contact-r {
    .contact-form {
      @include flexbox();
      flex-direction: column;
      .input-wrapper {
        margin: -9px 0px;
        @include flexbox();
        flex-direction: column;
      }
      input[type="file"] {
        visibility: hidden;
        height: 0px;
        margin: 0;
      }
      input[name="text"] {
        height: 100px;
        padding: 25px 25px 60px 25px;
        @include max-medium() {
          height: 80px;
        }
      }
      .contact-input {
        height: 63px;
        padding: 0px 25px;
        margin: 9px 0px;
        background: #323234;
        border-radius: 11px;
        border: none;
        outline: none;
        font-size: 17px;
        letter-spacing: 0.1em;
        color: #999999;
        @include max-medium() {
          height: 54px;
          font-size: 12px;
        }
      }
      .contact-attachment {
        margin: 24px 0px 35px;
        cursor: pointer;
        @include flexbox();
        align-items: center;
        @include max-medium() {
          margin: 35px auto;
        }
        .icon {
          margin: 0px 7px 0px 0px;
        }
        .name {
          font-size: 17px;
          letter-spacing: 0.1em;
          text-transform: capitalize;
          text-decoration-line: underline;
          color: #ffffff;
        }
      }
      .contact-btn {
        @include f-semibold();
        font-size: 17px;
        text-transform: capitalize;
        letter-spacing: 0.1em;
        color: #000000;
        @include flexbox();
        justify-content: center;
        align-items: center;
        height: 63px;
        background: linear-gradient(112.05deg, #A2F71E -31.66%, #3DE74C 70.81%);
        border-radius: 31.5px;
        border: none;
        cursor: pointer;
        outline: none;
        max-width: 47%;
        transition: 0.15s;
        @include min-large() {
          &:hover {
            background: linear-gradient(112.05deg, #3DE74C -31.66%, #A2F71E 70.81%);        
          }
        }
        @include max-medium() {
          margin: auto;
          min-height: 33px;
          padding: 0 40px;
          max-width: 100%;
        }
      }
    }
  }
}
// contact end
// footer start
.footer {
  background: #000000;
  padding: 75px 0px 30px;
  @include max-medium() {
    padding: 75px 0px 60px;
  }
  .menu-block {
    margin: 0px auto 30px;
    width: 43%;
    @include max-medium() {
      display: none;
    }
    
  }
  .social {
    display: none;
    @include max-medium() {
      @include flexbox();
      flex-direction: column;
      align-items: center;
    }
    .section-title {
      margin: 0px 0px 35px;
    }
    .social-list {
      margin: -12.5px 0px;
    }
    .social-item {
      margin: 12.5px 0px;
      a {
        @include flexbox();
        align-items: center;
      }
      .icon {
        margin: 0px 20px 0px 0px;
        width: 29px;
        height: 29px;
      }
      .name {
        @include f-3-normal();
        font-size: 17px;
        color: #FCFCFC;
      }
    }
  }
  .copyright {
    @include f-3-normal();
    font-size: 10px;
    color: #A1F421;
    @include max-medium() {
      text-align: center;
      margin: 72px 0px 0px;
      font-size: 13px;
    }
  }
}
// footer end