@font-face {
  font-family: 'Noah';
  src: url('../fonts/Noah-Bold.eot');
  src: url('../fonts/Noah-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Noah-Bold.woff2') format('woff2'),
  url('../fonts/Noah-Bold.woff') format('woff'),
  url('../fonts/Noah-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noah';
  src: url('../fonts/Noah-ExtraBold.eot');
  src: url('../fonts/Noah-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Noah-ExtraBold.woff2') format('woff2'),
  url('../fonts/Noah-ExtraBold.woff') format('woff'),
  url('../fonts/Noah-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Noah';
  src: url('../fonts/Noah-Medium.eot');
  src: url('../fonts/Noah-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Noah-Medium.woff2') format('woff2'),
  url('../fonts/Noah-Medium.woff') format('woff'),
  url('../fonts/Noah-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noah';
  src: url('../fonts/Noah-Regular.eot');
  src: url('../fonts/Noah-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Noah-Regular.woff2') format('woff2'),
  url('../fonts/Noah-Regular.woff') format('woff'),
  url('../fonts/Noah-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Indie-Flower';
  src: url('../fonts/Indie-Flower.ttf.woff') format('woff'),
  url('../fonts/Indie-Flower.ttf.svg#Indie-Flower') format('svg'),
  url('../fonts/Indie-Flower.ttf.eot'),
  url('../fonts/Indie-Flower.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}