$white: rgb(255, 255, 255);
$black: #0C1210;
$darkDustyBlue: #384757;
$green: #AAC9B1;
$melon: #DA8B67;
$yellow: #FDEE9C;
$brown: #9B6F59;
$sand: #EBE3D3;
$darkGray: #3D3D3D;
$grayDark: #E1E1E1;
$gray: #F2F2F2;
$whiteGray: #FAF8F8;


$msq_black: #0C1210;
$msq_gray: #ebebeb;
$msq_white: #fafafa;
$msq_mint: #0ac88d;
$msq_divider: #00EAA2;