.footer
  position: relative
.map
  width: 50%
  position: absolute
  left: 0
  top: 0
.contacts
  flex-basis: 50%
  padding-top: 90px
  padding-left: 212px
  &-block
    display: flex
    justify-content: flex-end
  &__title
    +bold
    font-size: 22px
    line-height: 33px
    margin-bottom: 92px
    margin-top: 0
  &-list
    padding: 0
    list-style: none
    &__icon
      width: 20px
      height: 20px
      text-align: center
      line-height: 26px
      margin-right: 23px
    &__text
      line-height: 26px
      a
        text-decoration: none
        color: $text-color  
    &__item
      display: flex
      align-items: flex-start
      margin-bottom: 30px
      &:nth-child(2)
        margin-bottom: 26px
@media (max-width: 768px)
  .footer
    display: flex
    flex-direction: column-reverse
  .contacts
    padding-top: 60px
    padding-left: 0px
    flex-basis: 100%
    &-block
    &__title
      font-size: 18px
      line-height: 22px
      margin-bottom: 30px
      display: flex
      justify-content: center
    &-list
      &__icon
        margin-right: 12px

  .map
    position: relative
    width: 100%
