.portfolio
  background: $secondary url('../img/portfolio/portfolio-pattern.jpg') repeat-y center left
  background-size: 50%
  &__title
    margin: auto
    margin-bottom: 99px
    font-size: 30px
    max-width: 800px
    line-height: 45px
  &__arrows
    max-width: 120px
    margin: auto
    margin-top: 68px
    display: flex
    justify-content: space-between
.slider
  &__image
    margin: auto
    max-width: 370px
    height: 280px
  &__item
    outline: none
    
@media (max-width: 768px)
  .portfolio
    padding-top: 40px
    padding-bottom: 60px
    &__title
      font-size: 18px
      max-width: 300px
      line-height: 22px
      margin-bottom: 36px
  .slider
    &__item img
      width: 246px
      height: 186px
