* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000000;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.header {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 5px rgba(187, 209, 231, 0.15);
          box-shadow: 0px 4px 5px rgba(187, 209, 231, 0.15);
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.header .header-logo {
  display: inline-block;
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #132A53;
  text-decoration: none;
}

@media (max-width: 991px) {
  .header .header-logo {
    font-size: 28px;
  }
}

.bg {
  position: relative;
  padding: 68px 0px 0px;
}

.bg-l, .bg-r {
  position: absolute;
  top: 75px;
  z-index: 3;
}

@media only screen and (max-width: 1200px) {
  .bg-l, .bg-r {
    display: none;
  }
}

.bg-l {
  left: 0;
}

.bg-r {
  right: 0;
}

.hero {
  background: #E0EDFA;
  padding: 48px 0px;
}

.hero .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #3D2F84;
  margin: 32px 0px;
}

.hero .text-block {
  margin: 32px 0px 0px;
}

.hero .hero-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}

.hero .hero-text-hidden {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.hero .hero-text_active {
  opacity: 1;
  height: 400px;
}

.hero .text_invisible {
  display: block;
  position: relative;
}

.hero .text_invisible::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 237, 250, 0.15)), color-stop(79.55%, #E0EDFA));
  background: linear-gradient(180deg, rgba(224, 237, 250, 0.15) 0%, #E0EDFA 79.55%);
}

.hero .text_visible::before {
  display: none;
}

.hero .more-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #DB1664;
  border: none;
  background: none;
  display: block;
  margin: 25px auto 0px;
  cursor: pointer;
  outline: none;
}

.recent {
  background: #DAFCFF;
  padding: 0px 0px 144px;
}

@media only screen and (max-width: 991px) {
  .recent {
    padding: 0px 0px 292px;
  }
}

.recent .list-wrapper .list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent .card-list {
  margin: -10px 10px;
}

@media only screen and (max-width: 991px) {
  .recent .card-list {
    margin: -10px 0px;
  }
}

.recent .card-item {
  width: 100%;
  margin: 10px 0px;
  padding: 0px 24px 0px 0px;
  background: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

@media only screen and (max-width: 991px) {
  .recent .card-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 36px 19px 36px 24px;
  }
}

@media (max-width: 374px) {
  .recent .card-item {
    padding: 36px 0px 36px 0px;
  }
}

@media (min-width: 992px) {
  .recent .card-item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.recent .card-item .list {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.recent .card-item .list .item {
  display: block;
}

@media only screen and (max-width: 991px) {
  .recent .card-item .list .item {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 3px 0px;
  }
}

.recent .card-item .list .item .image, .recent .card-item .list .item .title {
  display: inline-block;
  vertical-align: middle;
}

.recent .card-item .list .item .image {
  margin: 0px 8px 0px;
}

.recent .card-item .list .item .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
}

@media only screen and (max-width: 991px) {
  .recent .card-item .list .item .title {
    font-size: 16px;
  }
}

.recent .card-item .logo {
  width: 35%;
  min-width: 124px;
  height: 100%;
}

.recent .card-item .logo img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-height: 100%;
}

.recent .card-item .button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 12px rgba(255, 85, 95, 0.25);
          box-shadow: 0px 4px 12px rgba(255, 85, 95, 0.25);
  background: #DB1664;
  color: #ffffff;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

@media only screen and (max-width: 991px) {
  .recent .card-item .button {
    width: 100%;
    margin: 24px auto 0px;
  }
}

@media only screen and (max-width: 767px) {
  .recent .card-item .button {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .recent .card-item .button:hover {
    background: #9A164B;
  }
}

.recent .card-item .payments {
  display: none;
}

@media only screen and (max-width: 991px) {
  .recent .card-item .payments {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 28px 0px 0px;
  }
}

.recent .card-item .payments .item {
  margin: 0px 10px;
}

.recent .block-l {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent .block-r {
  width: 33.33%;
  margin: auto 0px auto auto;
}

@media only screen and (max-width: 991px) {
  .recent .block-r {
    margin: auto;
    width: 100%;
  }
}

.footer {
  background: #3D2F84;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 68px;
}

@media only screen and (max-width: 991px) {
  .footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 168px;
  }
}

.footer .copyright-icon {
  margin: 0 20px 0 0;
}

@media only screen and (max-width: 991px) {
  .footer .copyright-icon {
    margin: 0px 0px 10px;
  }
}

.footer .copyright-text {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

@media only screen and (max-width: 991px) {
  .footer .copyright-text {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */