* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include f-normal();
}
a {
  text-decoration: none;
  color: #000000;
  outline: none;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
.container {
  width: 1129px;
  margin: auto;
  @include max-large() {
    width: 90%;
  }
}
.header {
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 1;
  @include max-small() {
    height: 64px;
  }

}
.header-wrap-t {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  .block {
    @include flexbox();
    justify-content: space-between;
    padding: 21px 0px;
    @include max-large() {
      padding: 0;
    }
    &_active {
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding: 21px 0px 0px;
    }
  }
  .header-logo_active {
    margin: auto;
  }
  .logo {
    &_disabled {
      display: none;
    }
    .menu {
      display: none;
      &_active {
        display: flex;
        margin: auto;
        @include f-bold();
        font-size: 18px;
        line-height: 22px;
        color: #3D3F46;
      }
    }
    .title {
      font-size: 14px;
      line-height: 1.5;
      color: #AB1B40;
    }
    .extra {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 300%;
        height: 16px;
        background: #B73D5B;
        z-index: -1;
        @include max-small() {
          width: 100%;
        }
      }
      .title {
        color: #ffffff;
        z-index: 2;
      }
    }
  }
  .navbar {
    @include flexbox();
    align-items: center;
    
    .list {
      @include flexbox();
      @include max-large() {
        display: none;
      }
    }    
    .burger {
      display: none;
      position: relative;
      width: 26px;
      height: 16px;
      @include max-large {
        display: block;
      }
      span, span::before, span::after {
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -13px;
        width: 26px;
        height: 2px;
        background: #AB1C3F;
      }
      span::before, span::after {
        content: '';
      }
      span::before {
        transform: translateY(5px);
      }
      
      span::after {
        transform: translateY(-5px);
      }
    &_active {
      span::before {
        transform: rotate(35deg);
        width: 14px;
        transform-origin: left bottom;
        background: #3D3F46;
      }
      span {
        background: #3D3F46;
      }
      span::after {
        transform: rotate(-35deg);
        width: 14px;
        transform-origin: left top;
        background: #3D3F46;
      }
    }
    }
    .resp-list {
      display: none;
      @include max-large() {
        @include flexbox();
      }
    }
    
    .item {
      margin: 0px 25px;
    }
    .title {
      @include f-semibold();
      font-size: 16px;
      line-height: 19px;
      color: #B73D5B;
    }
  }
}
.header-wrap-b {
  display: none;
  &_active {
    display: block;
    position: absolute;
    width: 100%;
    background: #ffffff;
  }
  .list {
    @include flexbox();
    flex-direction: column;
    margin: 0px 0px 51px;
    .item {
      margin: 34px 0px 0px;
    }
    .title {
      font-size: 18px;
      line-height: 22px;
      color: #B73D5B;
    }
  }
}
.hero {
  .bg-wrap {
    position: relative;
    @include max-small() {
      display: none;
    }
    &::before, &::after {
      content: '';
      position: absolute;
      top: 30px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;
    }
    &::before {
      z-index: -1;
      height: 788px;
      background-image: url(../img/hero-bg-t.png);
      @include max-small() {
        height: 500px;
      }
    }
    &::after {
      z-index: -2;
      height: 852px;
      background-image: url(../img/hero-bg-b.png);
      @include max-small() {
        height: 535px;
      }
    }
    &-resp {
      position: relative;
      display: none;
      @include max-small() {
        display: block;
      }      
      &::before, &::after {
        content: '';
        position: absolute;
        top: 50px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
      }
      &::before {
        z-index: -1;
        height: 788px;
        background-image: url(../img/hero-bg-t-resp.png);
        @include max-small() {
          height: 500px;
          left: -20px;
          transform: rotate(5deg);
      }
    }
      &::after {
        z-index: -2;
        height: 852px;
        background-image: url(../img/hero-bg-b-resp.png);
        @include max-small() {
          height: 535px;
        }
    }
    }
  }
  .block {
    @include flexbox();
    @include max-small() {
      flex-direction: column;
    }
    &-l, &-r {
      width: 50%;
    }
    &-l {
      margin: 250px 0px 0px;
      @include max-large() {
        margin: 189px 0px 0px;
      }
      @include max-small() {
        width: 100%;
        margin: 0;
      }
      
    .title {
      @include f-bold();
      color: #ffffff;
      font-size: 38px;
      margin: 0px 0px 31px;
      @include max-small() {
        font-size: 22px;
        margin: 20px 0px 0px;
      }
    }
    .subtitle {
      font-size: 18px;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.9);
      margin: 0px 0px 36px;
      @include max-small() {
        font-size: 14px;
        line-height: 18px;
      }
    }
    }
    &-r {
      margin: 145px 0px 0px;
      @include max-large() {
        margin: 100px 0px 0px;
      }
      @include max-small() {
        display: none;
      }
    }
    .read-btn {
      display: block;
      text-decoration: underline;
      @include f-medium();
      font-size: 18px;
      color: #ffffff;
      margin: 0px 0px 43px;
    }
    .request-btn {
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      border-radius: 6px;
      @include f-semibold();
      color: #B73D5B;
      font-size: 18px;
      text-align: center;      
      padding: 0px 31px;
      @include inline-flex();
      align-items: center;
      height: 56px;
      @include max-small() {
        background: #AB1B3E;
        color: #ffffff;
        font-size: 14px;
        padding: 0px 17px;
        letter-spacing: 0.2px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

    }
    &-r-resp {
      display: none;
      @include max-small() {
        @include flexbox();
        margin: 64px 0px 0px;
      }
      .image {
        @include flexbox();
        margin: 0px 16px 0px 0px;
        img {
          width: 32px;
          opacity: 0.3;
        }
      }
      .title {
        @include f-logo();
        font-size: 54px;
        color: #ffffff;
        opacity: 0.3;
        letter-spacing: -0.02em;
      }
    }
  }
  
}
.praxis {
  padding: 80px 0px 110px;
  @include max-large() {
    padding: 160px 0px 110px;
  }
  @include max-medium() {
    padding: 160px 0px 153px;
  }
  .title {
    @include f-bold();
    font-size: 38px;
    color: #3C4152;
    margin: 80px 0px;
    @include max-medium() {
      margin: 68px 0px 32px;
    }
  }
  .cards {
    @include flexbox-center();
    margin: 0px -38px;
    @include max-medium() {
      margin: 0px -8px;
    }
    .item {
      background: #FFFFFF;
      box-shadow: 0px 2px 12px rgba(149, 121, 128, 0.2);
      border-radius: 4px;
      @include flexbox-center();
      flex-direction: column;
      padding: 32px 0px 46px 0px;
      margin: 0px 38px;
      width: 46%;
      @include max-medium() {
        margin: 0px 8px;
        width: 50%;
        padding: 22px 0px 37px 0px;
      }
    .card-image img{
      max-height: 121px;
    }
    .card-title {
      @include f-semibold();
      font-size: 20px;
      color: #B73D5B;
      margin: 20px 0px 0px;
      min-height: 23px;
      @include max-medium() {
        min-height: 17px;
        font-size: 14px;
      }
    }
    .card-subtitle {
      margin: 16px 0px 0px;
      @include f-normal();
      font-size: 18px;
      line-height: 22px;
      color: #887D7F;
      text-align: center;
      min-height: 80px;
      padding: 0px 100px;
      @include max-medium() {
        padding: 0px 25px;
        font-size: 13px;
        line-height: 16px;
        min-height: 64px;
      }
    }
    }
  }
}
.kompetenz {
  background: #B73D5B;
  color: #ffffff;
  &-title {
    @include f-bold();
    font-size: 20px;
  }
  &-subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 40%;
  }
}
.section-title {
  @include f-bold();
  font-size: 38px;
  color: #ffffff;
  margin: 80px 0px;
  @include max-medium() {
    margin: 68px 0px 32px;
  }
}
.section-block {
  @include flexbox();
  .block-l, .block-r {
    flex-basis: 50%;
  }
  .block-l {
    &-item {
      margin: 12px 0px;
      .button {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        color: #ffffff;
        padding: 24px;
        width: 384px;
        height: 64px;
        @include flexbox();
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffffff;
        &_active {          
          background: rgba(255, 255, 255, 0.2);
          border-radius: 4px;
          i {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
.block-r-0 {
  display: none;
}
#block-r-1 {
  display: block;
}