* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #000000;
  outline: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
.container {
    width: 940px;
    margin: 0 auto;
    @media (max-width: 991px) {
        width: 100%;
        padding: 0 15px;
    }
}

.header {
  background: #DB1664;
  box-shadow: 0px 5px 15px rgba(183, 219, 222, 0.25);
  height: 68px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  .header-logo {
    display: inline-block;
    font-size: 34px;
    @include f-bold();
    color: #ffffff;
    text-decoration: none;
  }
  @media (max-width: 991px) {
      .header-logo {
          font-size: 28px;
      }
  }
}
.bg {
  position: relative;
  padding: 68px 0px 0px;
  &-l, &-r {
    position: absolute;
    top: 75px;
    z-index: 3;
    @include max-large() {
      display: none;
    }
  }
  &-l {
    left: 0;
  }
  &-r {
    right: 0;
  }
}
.hero {
  background: #DAFCFF;
  padding: 48px 0px;
  .title {
    @include f-xbold();
    font-size: 24px;
    color: #3D2F84;
    margin: 32px 0px;
  }
  .text-block {
    margin: 32px 0px 0px;
  }
  .hero-text {
    @include f-thin();
    font-size: 14px;
    color: #000000;
    &-hidden {
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: 2s;
    }
    &_active {
      opacity: 1;
      height: 400px;
    }
  }
    .text {
      &_invisible {
        display: block;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(218, 252, 255, 0.15) 0%, #DAFCFF 79.55%);
        }
      }
      &_visible {
        &::before {
          display: none;
        }
    }
  }
  .more-btn {
    @include f-semibold();
    font-size: 14px;
    color: #DB1664;
    border: none;
    background: none;
    display: block;
    margin: 25px auto 0px;
    cursor: pointer;
    outline: none;

  }
}
.recent {
  background: #DAFCFF;
  padding: 0px 0px 144px;
  @include max-medium() {
    padding: 0px 0px 292px;
  }
  .list-wrapper .list {
    flex-direction: column;
  }
  .card-list {    
    margin: -10px 10px;
    @include max-medium() {
      margin: -10px 0px;
    }
  }
  .card-item {
    width: 100%;
    margin: 10px 0px;
    padding: 0px 24px 0px 0px;
    background: #ffffff;
    border-radius: 5px;
    @include flexbox();
    position: relative;
    transition: 0.15s;
    @include max-medium() {
      flex-direction: column;
      padding: 0px 0px 36px 0px;
    }
    &:hover {
      @media (min-width: 992px) {
        transform: scale(1.05);
      }
    } 
    .list {
      @include flexbox();
      .item {
        display: block;
        @include max-medium() {
          @include flexbox();
          margin: 9px 0px;
        }
        .image, .title {
          display: inline-block;
          vertical-align: middle;
        }
        .image {
          margin: 0px 8px 0px;
        }
        .title {
          @include f-medium();
          color: #000000;
          font-size: 12px;
          @include max-medium() {
            font-size: 16px;
          }
        }
      }
    }
    .logo {
      width: 240px;
      height: 140px;
      img {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        }
    }
    
    .button {
      @include f-bold();
      font-size: 16px;
      @include flexbox();
      justify-content: center;
      align-items: center;
      height: 48px;
      border-radius: 5px;
      box-shadow: 0px 4px 12px rgba(255, 85, 95, 0.25);
      background: #DB1664;
      color: #ffffff;
      transition: 0.15s;
      @include max-medium() {
        width: 100%;
        margin: 24px auto 0px;
      }
      @include max-small() {
        width: 100%;
      }
      &:hover {
        @media (min-width: 992px) {
          background: #9A164B;
        }
      }
    }
    .payments {
      display: none;
      @include max-medium() {
        @include flexbox();
        justify-content: center;
        margin: 28px 0px 0px;
      }
      .item {
        margin: 0px 10px;
      }
    }
  }
  .block-l, .block-r {
    @include max-medium() {
      justify-content: center;
    }
  }
  .block-l {
    @include flexbox();
    align-items: center;
  }
  .block-r {
    width: 33.33%;
    margin: auto 0px auto auto;
    @include max-medium() {
      margin: auto;
      width: 90%;
    }
  }
}
.footer {
  background: #3D2F84;
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 68px;
        @include max-medium() {
          flex-direction: column;
          min-height: 168px;
        }
        &-icon {
            margin: 0 20px 0 0;
            @include max-medium() {
              margin: 0px 0px 10px;
            }
        }
        &-text {
            font-size: 14px;
            line-height: 1.71;
            color: #ffffff;
            @include max-medium() {
              text-align: center;
            }
        }
    }
}
