* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000000;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.header {
  background: #2E3142;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.header .header-logo {
  display: inline-block;
  font-size: 34px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 991px) {
  .header .header-logo {
    font-size: 28px;
  }
}

.main-title {
  margin: 127px 0px 28px;
}

@media only screen and (max-width: 991px) {
  .main-title {
    margin: 142px 0px 28px;
  }
}

.main-title .title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 34px;
  color: #2E3142;
}

@media only screen and (max-width: 991px) {
  .main-title .title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
}

.top-rated {
  background: #ffffff;
}

.top-rated .card-list {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .top-rated .card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-rated .card-list .card-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.33%;
  margin: 68px 10px 72px;
  padding: 31px 0px 24px 0px;
}

@media only screen and (max-width: 991px) {
  .top-rated .card-list .card-item {
    width: 100%;
    margin: 0px 0px 0px;
  }
}

.top-rated .card-list .block-t {
  border-bottom: 2px solid #E6E7E8;
  padding: 0px 24px 31px;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 991px) {
  .top-rated .card-list .block-t {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.top-rated .card-list .block-b {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 991px) {
  .top-rated .card-list .block-b {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.top-rated .card-list .block-b .list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 24px 0px 0px;
}

.card-list .card-item {
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

@media (min-width: 992px) {
  .card-list .card-item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background: #fdefef;
  }
}

.card-list .card-item .logo img {
  border-radius: 100px;
}

.card-list .card-item .title-block {
  margin: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 991px) {
  .card-list .card-item .title-block {
    margin: 0px 0px 0px 8px;
  }
}

.card-list .card-item .title-block .name {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

@media only screen and (max-width: 991px) {
  .card-list .card-item .title-block .name {
    font-size: 19px;
  }
}

.card-list .card-item .title-block .rating {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-list .card-item .title-block .rating .list {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.card-list .card-item .title-block .rating .points {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2px 0px 0px 10px;
}

@media only screen and (max-width: 991px) {
  .card-list .card-item .title-block .rating .points {
    margin: 0px 0px 0px 10px;
  }
}

.card-list .card-item .title-block .rating .points .first, .card-list .card-item .title-block .rating .points .separator, .card-list .card-item .title-block .rating .points .second {
  margin: 0px 1px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #000000;
}

.card-list .card-item .list {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.card-list .card-item .list .item {
  display: block;
}

@media only screen and (max-width: 991px) {
  .card-list .card-item .list .item {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 9px 0px;
  }
}

.card-list .card-item .list .item .image, .card-list .card-item .list .item .title {
  display: inline-block;
  vertical-align: middle;
}

.card-list .card-item .list .item .image {
  margin: 0px 8px 0px;
}

.card-list .card-item .list .item .title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 12px;
}

@media only screen and (max-width: 991px) {
  .card-list .card-item .list .item .title {
    font-size: 16px;
  }
}

.card-list .card-item .button {
  margin: 24px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 12px rgba(255, 85, 95, 0.25);
          box-shadow: 0px 4px 12px rgba(255, 85, 95, 0.25);
  background: #FF555F;
  color: #ffffff;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

@media only screen and (max-width: 991px) {
  .card-list .card-item .button {
    width: 50%;
    max-width: 295px;
  }
}

@media only screen and (max-width: 767px) {
  .card-list .card-item .button {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .card-list .card-item .button:hover {
    background: #ff2b37;
  }
}

.card-list .card-item .payments {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px 0px;
}

.card-list .card-item .payments .item {
  margin: 0px 10px;
}

.recent {
  background: #ffffff;
  padding: 0px 0px 144px;
}

@media only screen and (max-width: 991px) {
  .recent {
    padding: 0px 0px 292px;
  }
}

.recent .list-wrapper .list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent .card-list {
  margin: -10px 10px;
}

@media only screen and (max-width: 991px) {
  .recent .card-list {
    margin: 0px 0px;
  }
}

.recent .card-item {
  width: 100%;
  margin: 10px 0px;
  padding: 31px 24px;
}

@media only screen and (max-width: 991px) {
  .recent .card-item {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    position: relative;
  }
  .recent .card-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(calc(-0% - 0px), calc(-0% - -135px));
            transform: translate(calc(-0% - 0px), calc(-0% - -135px));
    width: 100%;
    height: 2px;
    background: #E6E7E8;
  }
}

@media only screen and (max-width: 991px) {
  .recent .block-l, .recent .block-c, .recent .block-r {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.recent .block-l {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 66.67%;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .recent .block-l {
    width: 100%;
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .recent .block-l .logo, .recent .block-l .title-block {
    display: inline-block;
  }
}

.recent .block-l .logo {
  margin: 0px 30px 0px 0px;
  width: 80px;
}

@media only screen and (max-width: 991px) {
  .recent .block-l .logo {
    margin: 0;
  }
}

.recent .block-l .title-block {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 991px) {
  .recent .block-l .title-block {
    display: inline-block;
    margin: 26px 0px 0px 20px;
    vertical-align: top;
  }
}

.recent .block-l .list-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(calc(-0% - -100px), calc(-0% - -30px));
          transform: translate(calc(-0% - -100px), calc(-0% - -30px));
}

@media only screen and (max-width: 991px) {
  .recent .block-l .list-wrapper {
    position: static;
  }
}

@media only screen and (max-width: 991px) {
  .recent .block-l .list {
    width: 50%;
    margin: 30px auto 0px;
  }
}

.recent .block-r {
  width: 33.33%;
}

@media only screen and (max-width: 991px) {
  .recent .block-r {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .recent .block-r .button {
    width: 100%;
    margin: 24px auto 0px;
  }
}

.footer {
  background: #000000;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 68px;
}

@media only screen and (max-width: 991px) {
  .footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 168px;
  }
}

.footer .copyright-icon {
  margin: 0 20px 0 0;
}

@media only screen and (max-width: 991px) {
  .footer .copyright-icon {
    margin: 0px 0px 10px;
  }
}

.footer .copyright-text {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

@media only screen and (max-width: 991px) {
  .footer .copyright-text {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */