* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #000000;
  outline: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
.container {
    width: 940px;
    margin: 0 auto;
    @media (max-width: 991px) {
        width: 100%;
        padding: 0 15px;
    }
}

.header {
  background: #2E3142;
  height: 68px;
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  .header-logo {
    display: inline-block;
    font-size: 34px;
    @include f-normal();
    color: #ffffff;
    text-decoration: none;
  }
  @media (max-width: 991px) {
      .header-logo {
        font-size: 28px;
      }
  }
}
.main-title {
  margin: 127px 0px 28px;
  @include max-medium() {
    margin: 142px 0px 28px;
  }
  .title {
    @include f-bold();
    font-size: 34px;
    color: #2E3142;
    @include max-medium() {
      font-size: 30px;
      line-height: 40px;
      text-align: center;
    }
  }
}
.top-rated {
  background: #ffffff;
  .card-list {
    @include flexbox();
    width: 100%;
    position: relative;
    @include max-medium() {
      flex-direction: column;
    }
    .card-item {
      flex-direction: column;
      width: 33.33%;
      margin: 68px 10px 72px;
      padding: 31px 0px 24px 0px;
      @include max-medium() {
        width: 100%;
        margin: 0px 0px 0px;
      }
    }
    .block-t {
      border-bottom: 2px solid #E6E7E8;
      padding: 0px 24px 31px;
      @include flexbox();
      @include max-medium() {
        justify-content: center;
      }
      .logo {
        margin-right: 10px;
      }
    }
    .block-b {
      @include flexbox();
      padding: 0px 20px;
      flex-direction: column;
      @include max-medium() {
        align-items: center;
      }
      .list {
        flex-direction: column;
        margin: 24px 0px 0px;
      }
    }
  }
}
.card-list {
  .card-item {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    @include flexbox();
    position: relative;
    transition: 0.15s;
    &:hover {
      @media (min-width: 992px) {
        transform: scale(1.05);
        background: #fdefef;
      }
    }
    .logo img{
      border-radius: 100px;
    }
    .title-block {
      margin: 0px 0px 0px 0px;
      @include flexbox();
      flex-direction: column;
      justify-content: center;
      @include max-medium() {
        margin: 0px 0px 0px 8px;
      }
      .name {
        @include f-bold();
        font-size: 18px;
        color: #000000;
        @include max-medium() {
          font-size: 19px;
        }
      }
      .rating {
        @include flexbox();
        align-items: center;
        .list {
          @include flexbox();
        }
        .points {
          @include flexbox();
          margin: 2px 0px 0px 10px;
          @include max-medium() {
            margin: 0px 0px 0px 10px;
          }
          .first, .separator, .second {
            margin: 0px 1px;
            @include f-normal();
            font-size: 10px;
            color: #000000;
          }
        }
      }
    }
    .list {
      @include flexbox();
      .item {
        display: block;
        @include max-medium() {
          @include flexbox();
          margin: 9px 0px;
        }
        .image, .title {
          display: inline-block;
          vertical-align: middle;
        }
        .image {
          margin: 0px 8px 0px;
        }
        .title {
          @include f-bold();
          color: #000000;
          font-size: 12px;
          @include max-medium() {
            font-size: 16px;
          }
        }
      }
    }
    .button {
      margin: 24px 0px 0px;
      @include f-xbold();
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.04em; 
      @include flexbox();
      justify-content: center;
      align-items: center;
      height: 48px;
      border-radius: 5px;
      box-shadow: 0px 4px 12px rgba(255, 85, 95, 0.25);
      background: #FF555F;
      color: #ffffff;
      transition: 0.15s;
      @include max-medium() {
        width: 50%;
        max-width: 295px;
      }
      @include max-small() {
        width: 100%;
      }
      &:hover {
        @media (min-width: 992px) {
          background: #ff2b37;
        }
      }
    }
    .payments {
      @include flexbox();
      justify-content: center;
      margin: 20px 0px 0px;
      .item {
        margin: 0px 10px;
      }
    }
  }
}
.recent {
  background: #ffffff;
  padding: 0px 0px 144px;
  @include max-medium() {
    padding: 0px 0px 292px;
  }
  .list-wrapper .list {
    flex-direction: column;
  }
  .card-list {    
    margin: -10px 10px;
    @include max-medium() {
      margin: 0px 0px;
    }
  }
  .card-item {
    width: 100%;
    margin: 10px 0px;
    padding: 31px 24px;
    @include max-medium() {
      @include flexbox();
      flex-direction: column;
      align-items: center;
      margin: 24px 0px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(calc(-0% - 0px), calc(-0% - -135px));
        width: 100%;
        height: 2px;
        background: #E6E7E8;
      }

    }
  }
  .block-l, .block-c, .block-r {
    @include max-medium() {
      width: 100%;
      justify-content: center;
    }
  }
  .block-l {
    @include flexbox();
    width: 66.67%;
    position: relative;
    @include max-medium() {
      width: 100%;
      display: block;
      text-align: center;
    }
    .logo, .title-block {
      @include max-medium() {
        display: inline-block;
        // margin: 0px 0px 40px;
      }
    }
    .logo {
      margin: 0px 30px 0px 0px;
      width: 80px;
      @include max-medium() {
        margin: 0;
      }
    }
    .title-block {
      justify-content: flex-start;
      @include max-medium() {
        display: inline-block;
        margin: 26px 0px 0px 20px;
        vertical-align: top;
      }
    }
    .list-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(calc(-0% - -100px), calc(-0% - -30px));
      @include max-medium() {
        position: static;
      }
      .item {
        @include max-medium() {
          margin: 9px auto;
          min-width: 270px;
        }
      }
    }
    .list {
      @include max-medium() {
        margin: 30px auto 0px;
      }
    }
  }
  .block-r {
    width: 33.33%;
    @include max-medium() {
      width: 100%;
    }
    .button {
      @include max-medium() {
        width: 100%;
        margin: 24px auto 0px;
      }
    }
  }
}
.footer {
  background: #000000;
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 68px;
        @include max-medium() {
          flex-direction: column;
          min-height: 168px;
        }
        &-icon {
            margin: 0 20px 0 0;
            @include max-medium() {
              margin: 0px 0px 10px;
            }
        }
        &-text {
            font-size: 14px;
            line-height: 1.71;
            color: #ffffff;
            @include max-medium() {
              text-align: center;
            }
        }
    }
}
