@import 'common';

.contact {
  padding: 0 0 55px;
  .contact-section-wrapper {
    @include min-large() {
      @include display-flex();
    }
  }
  .contact-block, .form-block {
    flex-basis: 50%;
  }
  .contact-block {
    margin: 0 0 35px;
    @include min-large() {
      margin: 0;
    }
    .contact-title {
      font-size: 28px;
      margin: 35px 0;
    }
    .contact-info {
      @include display-flex();
      @include flex-wrap-wrap();
      width: 100%;
      .contact-info-item {
        @include display-flex();
        @include align-items-center();
        width: 100%;
        margin: 0 0 20px;
        .info-icon {
          display: block;
          text-align: center;
          margin: 0 15px 0 0;
          img {
            min-width: 32px;
            max-width: 32px;
            min-height: 32px;
            max-height: 32px;
          }
        }
        a, p {
          display: block;
          text-align: center;
          @include source-sans-bold();
        }
      }
    }
    .contact-social-list {
      .contact-social-item {
        @include display-flex();
        @include align-items-center();
        .contact-social-icon {
          display: block;
          text-align: center;
          margin: 0 15px 0 0;
          img {
            min-width: 32px;
            max-width: 32px;
            min-height: 32px;
            max-height: 32px;
          }
        }

        .contact-social-name {
          display: block;
          text-align: center;
          @include source-sans-bold();
        }
      }
    }
  }
  .form-block {
    form {
      @include display-flex();
      @include flex-direction-column();
      max-width: 350px;
      @include min-large() {
        max-width: 600px;
      }
      textarea {
        resize: none;
        height: 150px;
        border: none;
        margin: 0 0 30px;
        outline: none;
        padding: 20px;
        @include source-sans-semibold();
      }
      input {
        border: none;
        background: #fff;
        border-radius: 4px;
        padding: 0 0 0 20px;
        height: 40px;
        outline: none;
        @include source-sans-semibold();
      }
      input[name="c_name"] {
        margin: 0 0 30px;
      }
      input[name="c_email"] {
        margin: 0 0 30px;
      }
      input[type="submit"] {
        border-radius: 12px;
        @include display-flex();
        @include justify-content-center();
        min-width: 150px;
        max-width: 150px;
        height: 55px;
        padding: 0;
        background: $header-background-color;
        color: $header-text-color;
        @include source-sans-semibold();
        font-size: 20px;
        @include min-large() {
          @include transition(all .5s ease);
          cursor: pointer;
          @include transform(translateY(0px));
          &:hover {
            @include transform(translateY(-5px));
          }
        }
      }
    }
  }
}
.form {
  margin: 35px 0;
}