@font-face {
  font-family: "Source Sans Pro Extralight";
  src: url("../../fonts/Source Sans Pro/SourceSansPro-ExtraLight.eot");
  src: url("../../fonts/Source Sans Pro/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../fonts/Source Sans Pro/SourceSansPro-ExtraLight.woff2") format("woff2"), url("../../fonts/Source Sans Pro/SourceSansPro-ExtraLight.woff") format("woff"), url("../../fonts/Source Sans Pro/SourceSansPro-ExtraLight.ttf") format("truetype"), url("../../fonts/Source Sans Pro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro Light";
  src: url("../../fonts/Source Sans Pro/SourceSansPro-Light.eot");
  src: url("../../fonts/Source Sans Pro/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Source Sans Pro/SourceSansPro-Light.woff2") format("woff2"), url("../../fonts/Source Sans Pro/SourceSansPro-Light.woff") format("woff"), url("../../fonts/Source Sans Pro/SourceSansPro-Light.ttf") format("truetype"), url("../../fonts/Source Sans Pro/SourceSansPro-Light.svg#SourceSansPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("../../fonts/Source Sans Pro/SourceSansPro-Regular.eot");
  src: url("../../fonts/Source Sans Pro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Source Sans Pro/SourceSansPro-Regular.woff2") format("woff2"), url("../../fonts/Source Sans Pro/SourceSansPro-Regular.woff") format("woff"), url("../../fonts/Source Sans Pro/SourceSansPro-Regular.ttf") format("truetype"), url("../../fonts/Source Sans Pro/SourceSansPro-Regular.svg#SourceSansPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro Italic";
  src: url("../../fonts/Source Sans Pro/SourceSansPro-Italic.eot");
  src: url("../../fonts/Source Sans Pro/SourceSansPro-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Source Sans Pro/SourceSansPro-Italic.woff2") format("woff2"), url("../../fonts/Source Sans Pro/SourceSansPro-Italic.woff") format("woff"), url("../../fonts/Source Sans Pro/SourceSansPro-Italic.ttf") format("truetype"), url("../../fonts/Source Sans Pro/SourceSansPro-Italic.svg#SourceSansPro-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro Semibold";
  src: url("../../fonts/Source Sans Pro/SourceSansPro-SemiBold.eot");
  src: url("../../fonts/Source Sans Pro/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Source Sans Pro/SourceSansPro-SemiBold.woff2") format("woff2"), url("../../fonts/Source Sans Pro/SourceSansPro-SemiBold.woff") format("woff"), url("../../fonts/Source Sans Pro/SourceSansPro-SemiBold.ttf") format("truetype"), url("../../fonts/Source Sans Pro/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("../../fonts/Source Sans Pro/SourceSansPro-Bold.eot");
  src: url("../../fonts/Source Sans Pro/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Source Sans Pro/SourceSansPro-Bold.woff2") format("woff2"), url("../../fonts/Source Sans Pro/SourceSansPro-Bold.woff") format("woff"), url("../../fonts/Source Sans Pro/SourceSansPro-Bold.ttf") format("truetype"), url("../../fonts/Source Sans Pro/SourceSansPro-Bold.svg#SourceSansPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro Black";
  src: url("../../fonts/Source Sans Pro/SourceSansPro-Black.eot");
  src: url("../../fonts/Source Sans Pro/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Source Sans Pro/SourceSansPro-Black.woff2") format("woff2"), url("../../fonts/Source Sans Pro/SourceSansPro-Black.woff") format("woff"), url("../../fonts/Source Sans Pro/SourceSansPro-Black.ttf") format("truetype"), url("../../fonts/Source Sans Pro/SourceSansPro-Black.svg#SourceSansPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
* RENKO NORMALIZE
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
  font-family: "Source Sans Pro Regular", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

button {
  background: transparent;
  border: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 1201px) {
  button {
    cursor: pointer;
  }
}

ul, li {
  list-style-type: none;
}

body.overflow-hidden {
  overflow: hidden;
}

/**
* FOOTER TO BOTTOM
**/
html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
  z-index: 0;
}

footer {
  flex-shrink: 0;
}

/**
* COMMON STYLES
**/
.heading-1 {
  font-family: "Source Sans Pro Black", sans-serif;
  font-size: 40px;
}
@media only screen and (min-width: 1201px) {
  .heading-1 {
    font-size: 50px;
  }
}
.heading-1 span {
  color: #007aff;
  font-family: "Source Sans Pro Black", sans-serif;
  font-size: 40px;
}
@media only screen and (min-width: 1201px) {
  .heading-1 span {
    font-size: 50px;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.main-content {
  background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

.page-title-section .page-title {
  text-align: center;
  margin: 10px 0 15px;
}
@media only screen and (min-width: 1201px) {
  .page-title-section .page-title {
    margin: 35px 0;
    text-align: left;
  }
}

.header .header-top {
  min-height: 300px;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (min-width: 1201px) {
  .header .header-top {
    min-height: 450px;
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.header .header-top::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  pointer-events: none;
  z-index: 0;
}
.header .header-top .header-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 1;
}
.header .header-top .header-title-wrapper .header-title {
  z-index: 1;
  color: #fff;
  font-family: "Source Sans Pro Black", sans-serif;
  font-size: 40px;
}
@media only screen and (min-width: 1201px) {
  .header .header-top .header-title-wrapper .header-title {
    font-size: 70px;
  }
}
.header .header-top .header-title-wrapper .header-subtitle {
  display: none;
  font-family: "Source Sans Pro Bold", sans-serif;
}
@media only screen and (min-width: 1201px) {
  .header .header-top .header-title-wrapper .header-subtitle {
    display: block;
    font-size: 32px;
    letter-spacing: 0.14em;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
  }
}
.header .header-bottom {
  padding: 15px 0 10px;
  background: #7886c3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  top: 234px;
  left: 0;
  right: 0;
  z-index: 10;
}
@media only screen and (min-width: 1201px) {
  .header .header-bottom {
    padding: 15px 0;
    top: 379px;
  }
}
.header .header-bottom .header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .header-bottom .header-block .header-burger {
  width: 32px;
  height: 32px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 11;
}
@media only screen and (min-width: 1201px) {
  .header .header-bottom .header-block .header-burger {
    display: none;
  }
}
.header .header-bottom .header-block .header-burger div {
  width: 24px;
  height: 2px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .header-bottom .header-block .header-burger .line-1 {
  top: 8px;
}
.header .header-bottom .header-block .header-burger .line-2 {
  top: 16px;
}
.header .header-bottom .header-block .header-burger .line-3 {
  top: 24px;
}
.header .header-bottom .header-block .header-burger.opened .line-2 {
  display: none;
}
.header .header-bottom .header-block .header-burger.opened .line-1 {
  -moz-transform: translate(-50%, 0) rotate(-45deg);
  -o-transform: translate(-50%, 0) rotate(-45deg);
  -ms-transform: translate(-50%, 0) rotate(-45deg);
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
  transform: translate(-50%, 0) rotate(-45deg);
  top: 16px;
}
.header .header-bottom .header-block .header-burger.opened .line-3 {
  -moz-transform: translate(-50%, 0) rotate(45deg);
  -o-transform: translate(-50%, 0) rotate(45deg);
  -ms-transform: translate(-50%, 0) rotate(45deg);
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  transform: translate(-50%, 0) rotate(45deg);
  top: 16px;
}
.header .header-bottom .header-block .header-menu {
  padding: 15px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: -100%;
  background: #7886c3;
  position: absolute;
  z-index: 4;
  margin: 51px 0 0;
}
@media only screen and (min-width: 1201px) {
  .header .header-bottom .header-block .header-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: static;
    padding: 0;
    margin: 0;
  }
}
.header .header-bottom .header-block .header-menu .header-menu-item {
  margin: 6px 0;
}
@media only screen and (min-width: 1201px) {
  .header .header-bottom .header-block .header-menu .header-menu-item {
    margin: 0 10px;
    position: relative;
  }
  .header .header-bottom .header-block .header-menu .header-menu-item::before {
    content: "";
    position: absolute;
    width: 0%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #ffd900;
    height: 2px;
    bottom: -4px;
  }
  .header .header-bottom .header-block .header-menu .header-menu-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 2px;
    height: 80%;
    background: #fff;
  }
  .header .header-bottom .header-block .header-menu .header-menu-item:last-child::after {
    display: none;
  }
  .header .header-bottom .header-block .header-menu .header-menu-item:hover::before {
    width: 100%;
  }
}
.header .header-bottom .header-block .header-menu .header-menu-item a {
  color: #fff;
  font-family: "Source Sans Pro Semibold", sans-serif;
  font-size: 20px;
  position: relative;
}
.header .header-bottom .header-block .header-menu .header-menu-item.active a {
  color: #ffd900;
}
.header .header-bottom .header-block .header-menu .header-menu-item.active a::before {
  content: "";
  position: absolute;
  background: #ffd900;
  width: 100%;
  height: 2px;
  bottom: -4px;
}
@media only screen and (min-width: 1201px) {
  .header .header-bottom .header-block .header-menu .header-menu-item.active a::before {
    bottom: -3px;
  }
}
.header .header-bottom .header-block .header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: right;
}
.header .header-bottom .header-block .header-contact a {
  color: #fff;
  font-size: 18px;
  font-family: "Source Sans Pro Semibold", sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 1201px) {
  .header .header-bottom .header-block .header-contact a:hover {
    color: #ffd900;
  }
}

.header.opened .header-bottom .header-menu {
  left: 0%;
}

.header.scroll-down .header-bottom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}
@media only screen and (min-width: 1201px) {
  .header.scroll-down .header-bottom {
    padding: 5px 0;
  }
  .header.scroll-down .header-bottom .header-block .header-menu .header-menu-item a {
    font-size: 18px;
  }
  .header.scroll-down .header-bottom .header-block .header-contact a {
    font-size: 16px;
  }
}

.footer {
  background: #7886c3;
  padding: 35px 0;
}
.footer .footer-copyright {
  color: #fff;
}

.section {
  position: relative;
}
.section::before, .section::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/hoof.png");
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: -1;
}
.section::before {
  top: 10px;
  right: 20px;
}
.section::after {
  bottom: 10px;
  left: 20px;
}

.page-title-section .page-title {
  color: #007aff;
}

.contact {
  padding: 0 0 55px;
}
@media only screen and (min-width: 1201px) {
  .contact .contact-section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.contact .contact-block, .contact .form-block {
  flex-basis: 50%;
}
.contact .contact-block {
  margin: 0 0 35px;
}
@media only screen and (min-width: 1201px) {
  .contact .contact-block {
    margin: 0;
  }
}
.contact .contact-block .contact-title {
  font-size: 28px;
  margin: 35px 0;
}
.contact .contact-block .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.contact .contact-block .contact-info .contact-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0 0 20px;
}
.contact .contact-block .contact-info .contact-info-item .info-icon {
  display: block;
  text-align: center;
  margin: 0 15px 0 0;
}
.contact .contact-block .contact-info .contact-info-item .info-icon img {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.contact .contact-block .contact-info .contact-info-item a, .contact .contact-block .contact-info .contact-info-item p {
  display: block;
  text-align: center;
  color: #007aff;
  font-family: "Source Sans Pro Bold", sans-serif;
}
.contact .contact-block .contact-social-list .contact-social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact .contact-block .contact-social-list .contact-social-item .contact-social-icon {
  display: block;
  text-align: center;
  margin: 0 15px 0 0;
}
.contact .contact-block .contact-social-list .contact-social-item .contact-social-icon img {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.contact .contact-block .contact-social-list .contact-social-item .contact-social-name {
  display: block;
  text-align: center;
  color: #007aff;
  font-family: "Source Sans Pro Bold", sans-serif;
}
.contact .form-block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 350px;
}
@media only screen and (min-width: 1201px) {
  .contact .form-block form {
    max-width: 600px;
  }
}
.contact .form-block form textarea {
  resize: none;
  height: 150px;
  border: none;
  margin: 0 0 30px;
  outline: none;
  padding: 20px;
  font-family: "Source Sans Pro Semibold", sans-serif;
}
.contact .form-block form input {
  border: none;
  background: #fff;
  border-radius: 4px;
  padding: 0 0 0 20px;
  height: 40px;
  outline: none;
  font-family: "Source Sans Pro Semibold", sans-serif;
}
.contact .form-block form input[name=c_name] {
  margin: 0 0 30px;
}
.contact .form-block form input[name=c_email] {
  margin: 0 0 30px;
}
.contact .form-block form input[type=submit] {
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 150px;
  max-width: 150px;
  height: 55px;
  padding: 0;
  background: #7886c3;
  color: #fff;
  font-family: "Source Sans Pro Semibold", sans-serif;
  font-size: 20px;
}
@media only screen and (min-width: 1201px) {
  .contact .form-block form input[type=submit] {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .contact .form-block form input[type=submit]:hover {
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.form {
  margin: 35px 0;
}

/*# sourceMappingURL=contact-us.css.map */
