@import 'common';

.page-title-section {
  .page-title {
    color: $text-color;
    border-bottom: 2px solid $header-text-color;
    display: inline-block;
  }
}
.page-content {
  .container {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      right: 0;
      background-image: url('../img/icons/horseshoe.png');
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.25;
      width: 150px;
      height: 150px;
      @include min-large() {

        width: 200px;
        height: 200px;
      }
    }
  }
  .page-content-block {
    padding: 0 0 35px;
    @include min-large() {
      max-width: 900px;
    }
    h2 {
      margin: 0 0 30px;
      @include source-sans-bold();
      font-size: 28px;
    }
    p {
      margin: 0 0 20px;
      font-size: 18px;
      line-height: 1.4;
    }
    strong {
      @include source-sans-bold();
    }
    a {
      color: $header-background-color;
      font-size: 18px;
    }
    hr {
      margin: 15px 0;
      background: $header-text-color;
      height: 2px;
      border: none;
    }
    ul {
      padding: 0 0 0 20px;
      li {
        list-style: disc;
        margin: 10px 0;
        font-size: 18px;
      }
    }
  }
}