@import '../../global/mixins';
.hero {
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  padding: 0 0 91px;
  overflow-x: hidden;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(29, 31, 48, 0.20) 0%, #1D1F30 94.67%);

  }
  @include min-large() {
    &:hover {
      .hero-scroll__decor {
        //transform: rotate(360deg);
      }
    }
  }
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 88px 0 105px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
    @media (max-width: 1350px) {
      padding: 0 20px;
    }
  }
  .hero-title {
    font-weight: 500;
    font-size: 84px;
    line-height: 109px;
    color: #fff;
    max-width: 760px;
    margin: 200px 0 0;
    @include max-medium() {
      font-size: 42px;
      line-height: 52px;
      margin: 300px 0 0;
      max-width: 85%;
    }
  }
  .hero-scroll {
    min-width: 99px;
    height: 99.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;
    right: 0;
    @media (max-width: 1450px) {
      min-width: 75px;
      height: 75px;
    }
    .hero-scroll__arrow {
      display: flex;
      img {
        min-width: 14px;
        max-width: 14px;
        min-height: 23px;
        max-height: 23px;
        object-fit: contain;
      }
    }
    .hero-scroll__decor {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      //transition: all 7s ease;
      animation: rotateInfinite 7s infinite linear;
      animation-play-state: running;
      svg {
        @media (max-width: 1450px) {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}