.content
  &-section
    padding-top: 3px
    padding-bottom: 197px
    @media (max-width: 991px)
      padding-bottom: 50px
    @media (max-width: 485px)
      padding-bottom: 20px
  &-navigation
    display: flex
    &__item
      margin-right: 20px
      font-size: 14px
      letter-spacing: 0.35px
      position: relative
      border-bottom: 1px solid $maincolor
      &::after
        content: '/'
        position: absolute
        right: -10px
      &:last-child
        border-bottom: none
        &::after
          content: ''
  &-blocks
    display: flex
    margin-top: 17px
    @media (max-width: 800px)
      margin-top: 5px
    @media (max-width: 485px)
      flex-direction: column
  &-leftblock
    margin-right: 5px
    &__list
      font-size: 18px
      line-height: 30px
      &__item
        &__link
      &__sub
        font-size: 14px
        margin-left: 26px
        list-style: disc
        &__item
          line-height: 22px
          width: 178px
          &__link
          &_active
            +bold
            border-bottom: 1px solid $maincolor
    &__pricelist
      margin-top: 106px
      @media (max-width: 485px)
        margin-top: 20px
      &__image
        margin-left: 43px
        margin-right: 26px
        @media (max-width: 485px)
          margin-left: 0
          margin-right: 0
      &__title
        margin-bottom: 5px
        margin-right: 23px
        text-align: center
        font-size: 30px
        +bold
        line-height: 25px
        letter-spacing: 0.75px
        color: $pricecolor
        @media (max-width: 485px)
          font-size: 18px
          text-align: left
  &-rightblock
    margin-left: -10px
    &__card-list
      display: flex
      flex-wrap: wrap
      width: 795px
      margin-top: 10px
      @media (max-width: 1050px)
        width: 550px
      @media (max-width: 800px)
        justify-content: center
        width: auto
      @media (max-width: 485px)
        justify-content: center
      &__item
        margin-right: 15px
        margin-bottom: 20px
        background-color: $bgcolor
        padding: 20px
        &__image
        &__title
          color: $maincolor
          display: inline-block
          font-size: 18px
          line-height: 18px
          letter-spacing: 0.45px
          margin-top: 17px
          width: 210px
          margin-bottom: 55px
          @media (max-width: 1050px)
            font-size: 15px
            margin-bottom: 20px
            text-align: center
        &__price
          color: $maincolor
          display: block
          +bold
          font-size: 28px
          line-height: 18px
          letter-spacing: 0.7px
          color: $pricecolor
          p
            display: inline-block
          @media (max-width: 1050px)
            font-size: 22px
            text-align: center
        &__icon
          margin-left: 56px
          @media (max-width: 1050px)
            margin-left: 40px
            margin-right: 0
  &-pagination
    margin-top: 10px
    margin-left: 30px
    margin-right: 10px
    margin-bottom: 60px
    display: flex
    justify-content: center
    @media (max-width: 991px)
      margin-bottom: 20px
    &__item
      margin-right: 19px
      &_current
        color: $pricecolor
        font-size: 18px
  &-description
    border-top: 1px solid $maincolor
    width: 780px
    padding-top: 25px
    display: flex
    @media (max-width: 991px)
      width: auto
      flex-direction: column
    &__item
      margin-right: 55px
      font-size: 14px
      line-height: 22px
      width: 355px
      @media (max-width: 991px)
        width: auto
        margin-bottom: 20px
        margin-right: 0
      @media (max-width: 991px)
        margin: 0 10px
        font-size: 13px
      &:last-child
        margin-right: 0