.footer
  &-section
    background-color: $bgcolormenu
  &-block
    display: flex
    padding-top: 50px
    padding-bottom: 4px
  &-description
    margin-right: 150px
    &__item
      color: $menu
      &__link
        color: $menu
  &-menu-list
    &__item
      margin-bottom: 15px
      &__link
        color: $menu
        border-bottom: 2px solid $menu
        font-size: 14px
    