.menu
  &-section
    background-color: $bgcolormenu
    padding-top: 17px
    padding-bottom: 28px
    z-index: 10
    margin-bottom: 10px
  &-list
    display: flex
    justify-content: space-between
    margin-left: 34px
    margin-right: 30px
    @media (max-width: 991px)
      margin-left: 10px
      margin-right: 10px
    &__item
        
      @media (max-width: 991px)
        width: 50px
        text-align: center
      @media (max-width: 991px)
        &:nth-child(3)
          .menu-list__item__link
            &::before
              right: -50px
              bottom: 57px
        &:nth-child(4)
          .menu-list__item__link
            &::before
              right: -70px
              bottom: 32px
      @media (max-width: 767px)
        &:nth-child(3)
          .menu-list__item__link
            &::before
              right: -30px
              bottom: 36px
        &:nth-child(4)
          .menu-list__item__link
            &::before
              right: -35px
              bottom: 18px
      @media (max-width: 439px)
        &:nth-child(3)
          .menu-list__item__link
            &::before
              right: -13px
              bottom: 36px
        &:nth-child(4)
          .menu-list__item__link
            &::before
              right: -17px
              bottom: 19px
      
        
      &:last-child
        .menu-list__item__link
          &::before
            width: 0px
      &__link
        color: $menu
        font-size: 30px
        letter-spacing: 0.75px
        position: relative
        @media (max-width: 991px)
          font-size: 22px
          margin: 0
        @media (max-width: 767px)
          font-size: 14px
        @media (max-width: 513px)
          font-size: 13px

        &::before
          content: ''
          width: 2px
          height: 24px
          background: $menu
          position: absolute
          right: -22px
          bottom: 6px
          @media (max-width: 767px)
            bottom: 0px
          @media (max-width: 439px)
            right: -5px
            bottom: 0
        &:hover
          &::after
            content: ''
            width: 100%
            height: 2px
            position: absolute
            left: 0px
            bottom: 2px
            background: $menu
            @media (max-width: 1200px)
              width: 0
