.slider
  &-section
  &-list
    z-index: -1
    &__item
  &-arrows
    display: flex
    justify-content: space-between
    &__left
      outline: none
      border: none
      background: none
    &__right
      outline: none
      border: none
      background: none