.slider
  &-section
  &-block
    position: relative
    @media (max-width: 1248px)
      display: none
  &-list
    z-index: -1
    &__item
      height: 400px
      &__image
        img
          margin: 0
          position: absolute
          top: 50%
          left: 50%
          transform: translateX(calc(-50% - -6px)) translateY(calc(-50% - 33px))
          // @media (max-width: 1248px)
          //   display: none
          
  &-arrow
    outline: none
    border: none
    background: none
    position: absolute
    &_left
      left: 50%
      transform: translateX(calc(-50% - 472px)) translateY(calc(-50% - 216px))
    // @media (max-width: 1248px)
    //   display: none
    &_right
      right: 50%
      transform: translateX(calc(-50% - -482px)) translateY(calc(-50% - 219px)) rotate(180deg)
    // @media (max-width: 1248px)
    //   display: none