$header_height: 62px;
$header_bg: #300429;
$header_link: #FFFFFF;
$header_link__active: #FFEEB4;
$title_color: #FFEEB4;
$htp_icon__bg: #1C1D2E;
$footer_bg: #20041C;
$footer_text: #FFFFFF;
$subscribe_text: #FFFFFF;
$htp_title: #F6C82E;
$main_color: #F6C82E;
$input_bg: #3D1437;
$color__bg: #300429;
$color_danger: $main_color;
$modal_bg__outer: $color__bg;
$modal_bg__inner: transparent;
$form_bg: transparent;