
.header-section 
  background: url('../img/header/background.jpg') no-repeat
  background-size: cover
  background-position: center
  padding-bottom: 470px

.header-block 
  padding-top: 31px
.header-logo
  z-index: 5
  &__name
    display: none
.header-menu 
  display: flex
  justify-content: space-between
  padding-top: 20px
  margin: auto
  width: 1120px
  &_active
    display: flex
    justify-content: space-between
    background: rbga(0,0,0,0.7)
    margin: auto
    width: 1120px
  &__btn
    position: relative
    z-index: 5
    &_active
      position: fixed
      right: 230px
      .header-logo
        position: fixed
        left: 750px
    &__span
      position: absolute
      margin-top: 23px
      width: 21px
      height: 1.5px
      background-color: #4DE845
      &::before
        position: absolute  
        content: ''
        top: 50%
        margin-top: -1px
        width: 21px
        height: 1.5px
        background-color: #4DE845        
        transform: translateY(-6px)
        transition: 0.5s
      &::after
        position: absolute  
        content: ''
        top: 50%
        margin-top: -1px
        width: 21px
        height: 1.5px
        background-color: #4DE845
        transform: translateY(6px)        
        transition: 0.5s
  &__name
    letter-spacing: 0.1em
    margin-left: 35px
    font-size: 16px
    color: #ffffff
    text-transform: uppercase
.header-menu__btn_active
  span
    height: 0
    &::before
      transform: rotate(35deg)
    &::after
      transform: rotate(-35deg)

.header-title
  font-size: 47px
  margin-top: 220px
  color: #ffffff
  text-align: center
  +mr
.header-btns
  display: flex
  justify-content: center
.header-btn
  background: none
  border: 1px solid #A2F21E
  border-radius: 32px
  margin-right: 32px
  padding: 20px 40px
  color: #ffffff
  letter-spacing: 0.1em
  font-size: 17px
  +sf-sb
  &:hover
    background: rgba(255,255,255,0.1)
    border-color: #ffffff
    color: #A2F21E
    cursor: pointer