.games {
  padding-bottom: 73px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: 1200px) {
    width: 736px;
    margin: auto;
  }
  @media (max-width: 768px) {
    width: 345px;
  }
  @media (max-width: 370px) {
    width: 320px;
  }
  &-item {
    margin: 14px;
    width: 148px;
    height: 206px;
    text-decoration: none;
    position: relative;
    border-radius: 25px;
    @media (max-width: 1200px) {
      margin: 8px;
    }
    
    @media (max-width: 370px) {
      margin: 6px;
    }
    &__image {
      position: relative;
      z-index: -2;
    }
    &__title {
      color: #ffffff;
      @include mainsb;
      text-align: center;
      font-size: 16px;
      background: rgba(0,133,255, 0.8);
      border-radius: 0px 0px 25px 25px;
      min-height: 50px;
      position: absolute;
      bottom: 0px;
      width: 100%;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.6);
        transition: 0.25s;
        .games-item__button {
          opacity: 1;
        }
        .games-item__title {
          z-index: -1;
        }
      }
    &__button {
      border: 7px solid #ffffff;
      border-radius: 50%;
      width: 72px;
      height: 72px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(calc(-50% - 0px), calc(-50% - 10px));
      background: transparent;
      opacity: 0;
      cursor: pointer;
      &__image {
        padding-left: 5px;
      }
    }
  }
}