.header {
  padding-top: 18px;
  padding-bottom: 14px;
  display: flex;
  position: fixed;
  z-index: 10;
  background: #ffffff;
  width: 100%;
  &-burger {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 455px), calc(-50% - -13px));
    width: 35px;
    @media (max-width: 1200px) {
      left: 30px;
      transform: translate(calc(-50% - 0px), calc(-50% - -13px));
    }
    &_active &__span::before {
      transform: rotate(35deg);
      transition: 0.15s;
    }
    &_active &__span::after {
      transform: rotate(-35deg);
      transition: 0.15s;
    }
    &_active &__span {
      height: 0;
    }
    &__span {
      position: absolute;
      top: 50%; margin-top: -1px;
      left: 50%; margin-left: -10px;
      width: 28px;
      height: 2px;
      background: #0085FF;
    }
    &__span::before {
      content: '';
      transform: translateY(-8px);
      position: absolute;
      top: 50%; margin-top: -1px;
      left: 50%; margin-left: -14px;
      width: 28px;
      height: 2px;
      background: #0085FF;
    }
    &__span::after {
      content: '';
      transform: translateY(8px);
      position: absolute;
      top: 50%; margin-top: -1px;
      left: 50%; margin-left: -14px;
      width: 28px;
      height: 2px;
      background: #0085FF;
    }
  }
  &-search {
    width: 20px;
    margin-top: 6px;
    align-self: center;
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(calc(-50% - 440px), calc(-50% - -10px));
    @media (max-width: 1200px) {
      left: 92%;
      transform: translate(calc(-50% - 0px), calc(-50% - -10px));
    }
    @media (max-width: 992px) {
      left: 90%;
    }
    @media (max-width: 768px) {
      left: 85%;
    }
    @media (max-width: 576px) {
      left: 80%;
    }
    
    &__2 {
      display: none;
      @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 150%;
        left: 10%;
        transform: translate(calc(-50% - 0px), calc(-50% - 0px));
        opacity: 0;
      &_active {
        opacity: 1;
      }
  }
    }
    &_active {
      opacity: 0;
    }
    &__input {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(calc(-50% - 310px), calc(-50% - -2px));
      opacity: 0;
      width: 220px;
      @include mainr;
      padding-left: 38px;
      padding-top: 6px;
      padding-bottom: 6px;
      border-radius: 10px;
      border: 2px solid #C4C4C4;
      outline: none;      
      background: url('../img/search-icon.svg') no-repeat;
      background-position: 5% 50%;
      transition: 0.15s;
      @media (max-width: 1200px) {
        left: 92%;
        transform: translate(calc(-50% - 100px), calc(-50% - 0px));
      }
      @media (max-width: 992px) {
        left: 90%;
        width: 200px;
        transform: translate(calc(-50% - 90px), calc(-50% - 0px));
        // transform: translate(calc(-50% - -280px), calc(-50% - -2px));
      }
      @media (max-width: 768px) {
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% - 0px), calc(-50% - -60px));
        width: 95%;
        padding-left: 10%;
        padding-top: 11px;
        padding-bottom: 11px;
        background: #ffffff;
        border: none;
        z-index: -1;
      }
      @media (max-width: 576px) {
        padding-left: 12%;
      }
      &_active {
        opacity: 1;
      }
    }
    &__close {
      display: block;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 50%; margin-top: -1px;
      left: 50%; margin-left: -10px;
      transform: translate(calc(-50% - 165px), calc(-50% - -2px));
      opacity: 0;
      @media (max-width: 1200px) {
        left: 92%;
        transform: translate(calc(-50% - -45px), calc(-50% - -2px));
      }
      @media (max-width: 992px) {
        left: 90%;
      }
      @media (max-width: 768px) {
        left: 85%;
      }
      @media (max-width: 576px) {
        left: 80%;
      }
      &_active {
        opacity: 1;
      }
    }
    &__span {
      // position: absolute;
      // top: 50%; margin-top: -1px;
      // left: 50%; margin-left: -10px;
      // transform: translate(calc(-50% - 165px), calc(-50% - -2px));
      width: 28px;
      height: 0px;
      background: #0085FF;
      cursor: pointer;
      @media (max-width: 1200px) {
        left: 92%;
        transform: translate(calc(-50% - -45px), calc(-50% - -2px));
      }
      @media (max-width: 992px) {
        left: 90%;
      }
      @media (max-width: 768px) {
        left: 85%;
      }
      @media (max-width: 576px) {
        left: 80%;
      }
      &::before {
        content: '';
        transform: translateY(-8px);
        transform: rotate(35deg);
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -14px;
        width: 28px;
        height: 2px;
        background: #0085FF;
      }
      &::after {
        content: '';
        transform: translateY(8px);
        transform: rotate(-35deg);
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -14px;
        width: 28px;
        height: 2px;
        background: #0085FF;
      }
    }
  }
  &-logo {
    color: #0085FF;
    font-size: 24px;
    // margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 0px), calc(-50% - 0px));
    @include mainb;
  }
}