@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@mixin mainr {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
@mixin mainb {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@mixin mainsb {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
