.achieve
  &-section
    background: #000203
    padding: 200px 0
    z-index: -2
    position: relative
    @media (max-width: 1200px)
      padding: 20px 0
    &::before
      content: ''
      position: absolute
      top: 0
      right: 0
      background: url('../img/achieve/background.png') no-repeat 
      background-size: 60% 100%
      background-position: right center
      width: 1350px
      height: 100%
      z-index: -1
      // filter: blur(1px)
      opacity: 0.5
      @media (max-width: 1200px)
        background: none
  &-title
    +mr
    font-size: 47px
    line-height: 120%
    color: #ffffff
    filter: none
    @media (max-width: 1200px)
      text-align: center
      font-size: 36px
    @media (max-width: 576px)
      font-size: 28px
  &-subtitle
    color: #ffffff
    font-size: 17px
    line-height: 140%
    +sf
    @media (max-width: 1200px)
      text-align: center
      font-size: 16px
    @media (max-width: 576px)
      font-size: 13px
    span
      color: #23D5FF