.contact
  &-section
    background: #0F1218
    padding: 150px 0
  &-block
    display: flex
  &-info
    // display: flex
    &__title
      font-size: 47px
      +mr
      line-height: 120%
      color: #ffffff
    &__subtitle
      font-size: 17px
      +sf
      line-height: 140%
      color: #ffffff
      margin-bottom: 40px
    &__description
      font-size: 17px
      line-height: 140%
      +sf-sb
      color: #ffffff
      &__title
        color: #61EC3C
        +mr
      &__subtitle
        margin-left: 40px
      &-list
        &__item
          display: flex
          margin: 40px 0 
          &__icon
            align-self: flex-start
          &__address
            margin: 0
            margin-left: 15px
  &-form
    display: flex
    flex-direction: column
    flex-basis: 50%
    margin-left: 130px
    input[placeholder]
      +sf
      letter-spacing: 0.1em
    &__input
      font-size: 17px
      +sf
      color: #999999
      background: #323234
      border: none
      border-radius: 11px
      outline: none
      margin: 10px 0
      padding: 20px 10px 20px 10px
    &__attachment
      // display: inline-block
      // cursor: pointer
      margin: 10px 0 
      &__icon
        margin-right: 10px
      &__name
        font-size: 17px
        line-height: 132%
        text-decoration: underline
        +sf
        letter-spacing: 0.1em
        color: #ffffff
      &__input
        // width: 0.1px
        // height: 0.1px
        // opacity: 0
        // overflow: hidden
        // position: absolute
        // z-index: -1
    &__btn
      background: linear-gradient(112.05deg, #A2F71E -31.66%, #3DE74C 70.81%)
      border-radius: 30px
      color: #000000
      +sf
      border: none
      padding: 20px 40px
      outline: none
      width: 260px
  