.menu
  &-section
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 3
    background: #000000
    
  &-block
    display: flex
    justify-content: space-between
    margin: 200px 200px
    @media (max-width: 1200px)
      margin: 120px 150px
    @media (max-width: 992px)
      margin: 120px 100px
    @media (max-width: 768px)
      margin: 120px 50px
    @media (max-width: 576px)
      margin: 80px 10px
      flex-wrap: wrap
      justify-content: center
  &-block__main
    @media (max-width: 768px)
      display: none
  &-block__resp
    display: none
    @media (max-width: 768px)
      display: flex
    &-list
      +mr
      font-size: 42px
      text-align: center
      &__item
        margin: 20px auto
        text-transform: uppercase
        a
          color: #ffffff
        &:first-child
          a
            color: #4DE845
  &-list
    padding-left: 0
    +muli
    @media (max-width: 1200px)
      padding-left: 0
      margin: 10px
    &__title
      font-size: 24px
      color: #323234
      margin-bottom: 26px
      a
        color: #323234
        &:hover
          color: #ffffff
          @media (max-width: 1200px)
            color: #323234
        
      @media (max-width: 768px)
        font-size: 20px
      @media (max-width: 576px)
        font-size: 18px
    &__item
      font-size: 18px
      color: #ffffff
      margin-bottom: 10px
      a
        color: #ffffff
        &:hover
          color: #323234
          @media (max-width: 1200px)
            color: #ffffff
      @media (max-width: 768px)
        font-size: 16px
      @media (max-width: 576px)
        font-size: 14px


