.slider
  &-section
  &-block
    padding-top: 100px
    padding-bottom: 170px
    @media (max-width: 1200px)
      padding-top: 50px
      padding-bottom: 50px
  &-item
    outline: none
  &-title
    +mr
    font-size: 47px
    line-height: 120%
    text-align: center
    color: #ffffff
    margin-bottom: 66px
    @media (max-width: 1200px)
      font-size: 36px
      margin-bottom: 32px
    @media (max-width: 768px)
      font-size: 28px
    &__icons
      display: flex
      justify-content: center
      margin-bottom: 50px
    &__icon
      margin-right: 10px
  &-subtitle
    font-size: 27px
    text-align: center
    +sf
    color: #ffffff
    margin-bottom: 20px
    @media (max-width: 1200px)
      font-size: 22px
    @media (max-width: 768px)
      font-size: 18px
    span
      color: #63ED3B
  &-dots
    display: flex
    justify-content: center
    list-style-type: none
    button
      background: #ffffff
      border-radius: 50%
      padding: 5px
      margin-right: 10px
      border: none
      outline: none
      font-size: 0
      cursor: pointer
    &__active
      background: #61EC3C
      border-radius: 20px
      padding: 5px 10px
      margin-right: 10px
    &__default
      background: #ffffff
      border-radius: 50%
      padding: 5px 5px
      margin-right: 10px
.slick-active
  button
    background: #61EC3C
    border: none
    outline: none
    font-size: 0
    border-radius: 20px
    padding: 5px 10px
    margin-right: 10px
    cursor: pointer
    