
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

@import 'mixin';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.1;
  @include f-normal();
  color: #D6D6D6;
}
html, body {
  height: 100%;
  background: #060100;
}
body.overflow-hidden {
  overflow: hidden;
}
img {
  max-width: 100%;
}
ul,ol, li {
  @include list();
}
a {
  text-decoration: none;
  color: #fff;
  outline: none;
  @include max-large() {
    -webkit-tap-highlight-color: transparent;
  }
}
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  @include min-large() {
    max-width: 1180px;
    padding: 0;
  }
}
.button {
  @include f-bold();
  cursor: pointer;
  min-width: 130px;
  height: 48px;
  @include display-flex();
  @include justify-content-center();
  @include align-items-center();
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
  background: linear-gradient(86.42deg, #FFC700 -1.87%, #F3254C 119.59%, #F32525 119.59%);
  @include min-large() {
    padding: 0 53px;
    @include transition(all .5s ease);
    &:hover {
      box-shadow: 0px 4px 31px #FFC700;
    }
  }
  .name {
    @include f-bold();
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
  }
}
.header {
  @include transition(all .5s ease);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  padding-top: 16px;
  @include min-large() {
    padding-top: 44px;
  }
  &.active {
    background: #161616;
    height: 100%;
    @include transition(all .5s ease);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 101;
    .header-mobile {
      position: relative;
      height: 100%;
      @include transition(all .5s ease);
      .header-block {
        height: 85vh;
      }
      .header-bottom {
        overflow-y: auto;
        @include display-flex();
        //position: absolute;
        //top: 52%;
        //transform: translate(0, -50%);
        height: 100%;
      }
    }
  }
  .header-block {
    @include display-flex();
    @include align-items-center();
    @include justify-content-space-between();
    width: 100%;
    .header-logo {
      transition: all 0.4s ease;
      @include display-flex();
      @include min-large() {
        &:hover {
          transform: scale(1.1);
        }
      }
      img {
        max-width: 220px;
        max-height: 65px;
        object-fit: contain;
        @include min-medium() {
          max-width: 250px;
        }
      }
    }
    .header-menu {
      @include display-flex();
      li {
        margin: 0 20px 0 0;
        &:last-child{
          margin: 0;
        }
        a {
          @include f-medium();
          text-align: center;
          font-size: 16px;
          line-height: 20px;
          text-transform: uppercase;
          color: #fff;
          @include min-medium() {
            @include transition(all .5s ease);
            &:hover {
              color: #FEBB06;
            }
          }
        }
      }
      li.current-menu-item {
        a {
          color: #FEBB06;
        }
      }
    }
    .header-sign {
      //width: 33.33%;
      @include display-flex();
      @include justify-content-flex-end();
      .button-wrapper {
        position: relative;
        background: linear-gradient(180deg, #FEB745 0%, #FE903B 100%);
        box-shadow: 0px 8px 4px rgba(255, 167, 65, 0.09), 0px 3px 0px rgba(139, 139, 139, 0.2);
        border: 2px solid #FFFFFF;
        border-radius: 133px;
        @include display-flex();
        @include align-items-center();
        @include justify-content-center();
        min-width: 184px;
        max-width: 184px;
        height: 49px;

        @include min-large() {
          &:hover {
            .decor img {
              transform: translateY(-5px);
            }
          }
        }
        .decor {
          position: absolute;
          top: 50%;
          left: -26px;
          transform: translate(0, -50%);
          min-width: 223px;
          max-width: 223px;
          img {
            transform: translateY(0px);
            transition: all .5s ease;
          }

        }
        .name {
          font-size: 20px;
          line-height: 25px;

        }
      }
    }
  }
  .header-desktop {
    display: none;
    @include min-large() {
      display: block;
    }
  }
  .header-mobile {
    @include transition(all .5s ease);
    //background: rgba(47, 96, 255, 0.55);
    @include min-large() {
      display: none;
    }
    .header-block {
      @include display-flex();
      flex-direction: column;
    }
    .header-top{
      @include display-flex();
      @include justify-content-space-between();
      @include align-items-center();
      width: 100%;
      padding: 0 16px;
      .header-logo{}
      .burger {
        position: relative;
        width: 48px;
        height: 48px;
        cursor: pointer;
        @include transition(all .5s ease);
        @include max-large() {
          -webkit-tap-highlight-color: transparent;
        }
        .burger-wrapper {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
          width: 48px;
          height: 17px;
          @include transition(all .5s ease);
          div {
            position: absolute;
            display: inline-block;
            height: 4px;
            background: #fff;
            border-radius: 100px;
            @include transition(all .5s ease);
          }
          .line-1 {
            width: 48px;
          }
          .line-2 {
            width: 48px;
            bottom: 0;
            right: 0;
          }
        }
        &.active {
          .burger-wrapper {
            width: 38px;
            height: 38px;
            div {
              width: 40px;
              top: 50%;
            }
            .line-1 {
              transform: rotate(-45deg) translate(0, -50%);
            }
            .line-2 {
              transform: rotate(45deg) translate(0, -50%);
            }
          }
        }
      }

    }
    .header-bottom{
      display: none;
      @include flex-direction-column();
      width: 100%;
      @include transition(all .5s ease);
      .header-menu {
        width: 100%;
        @include flex-direction-column();
        align-items: center;
        margin: 0 0 40px;
        li {
          margin: 12px 0;
          a{
            font-size: 28px;
            line-height: 1.4;
            &.active {
              &::before {
                display: none;
              }
            }
          }
        }
        li.current-menu-item {
          a {
            &::before {
              display: none;
            }
          }
        }
      }
      .header-sign {
        width: 100%;
        @include justify-content-center();
      }
    }
  }
}
.footer {
  background: #161616;
  padding-top: 70px;
  .container {
    position: relative;
  }
  @include display-flex();
  @include flex-direction-column();

  .footer-top {
    .footer-block {
      max-width: 875px;
      margin: 0 auto;
      position: relative;
      padding-top: 50px;
      padding-bottom: 50px;
      @include display-flex();
      @include flex-direction-column();
      @include min-medium() {
        padding-top: 65px;
      }
      .footer-logo {
        display: block;
        text-align: center;
        max-width: 95px;
        img {
          @include transition(all 0.4s ease);
        }
        @include min-large() {
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
      .footer-info {
        @include display-flex();
        @include flex-direction-column();
        z-index: 1;
        b, strong {
          @include f-bold();
        }
        p {
          @include f-normal();
          color: #D6D6D6;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
          @include min-medium() {
            font-size: 16px;
            line-height: 23px;
          }
          b, strong {
            @include f-bold();
          }
        }
        a {
          @include f-semibold();
          font-size: 16px;
          line-height: 22px;
          text-decoration: underline;
          color: rgba(250, 225, 0, 1);
          @include min-medium() {
            font-size: 18px;
            line-height: 25px;
          }
          b,strong {
            @include f-bold();
          }
        }

        .disclaimer {
          color: #D6D6D6;
        }

        .description {
          color: #D6D6D6;
          margin-top: 16px;
          @include min-large() {
            width: 80%;
          }
          p {
            text-transform: none;
            margin-bottom: 30px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }

      }
      .footer-info-2 {
        margin-top: 24px;
        z-index: 1;
        @include min-medium() {
          margin-top: 32px;
        }
        @include max-large() {
          margin-bottom: 70px;
        }
        .description {
          p {
            font-size: 17px;
            line-height: 23px;
            color: #fff;
            @include min-medium() {
              font-size: 18px;
              line-height: 25px;
            }
            strong {
              color: #fff;
              font-size: inherit;
              font-weight: 700;
              font-family: inherit;
            }
          }
          a {
            font-size: 17px;
            line-height: 23px;
            color: #FAE100;
            text-decoration: underline;
            @include min-medium() {
              font-size: 18px;
              line-height: 25px;
            }
            strong {
              color: #fff;
              font-size: inherit;
              font-weight: 700;
              font-family: inherit;
            }
          }
        }
      }

      .decor {
        @include display-flex();
        @include justify-content-space-between();
        position: absolute;
        bottom: 24px;
        right: -130px;
        max-width: 214px;
        @include max-large() {
          position: relative;
          right: 0;
          bottom: 0;
          transform: none;
          @include display-flex();
          @include justify-content-center();
          max-width: 100%;
        }
      }

    }
  }
  .footer-bottom {
    background: #000;
    text-align: center;
    padding: 32px 0;
    @include max-large() {
      padding: 32px 16px;
    }
    .copyright {
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      @include f-normal();
      strong {
        @include f-bold();
      }
    }
  }
}

//common styles end
//homepage styles start
.hero {
  background: url(../img/bg-hero-min.jpg);
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 115px;
  padding-bottom: 295px;
  @include min-medium() {
    padding-top: 280px;
    padding-bottom: 524px;
  }
  .hero-block {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    .hero-title-wrapper {
      .hero-title {
        @include title-font();
        color: #fff;
        font-size: 46px;
        margin-bottom: 24px;
        text-align: left;
        @include min-medium() {
          font-size: 72px;
          line-height: 1;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .hero-description {
        font-size: 20px;
        line-height: 29px;
        text-align: left;
        @include min-medium() {
          font-size: 24px;
          line-height: 35px;
          text-align: center;
        }
      }
    }
    .hero-image-wrapper {
      @include display-flex();
      @include align-items-center();
    }
  }
}
.content {
  background: url(../img/bg-play.jpg) 50% 100% no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 75px;
  @include min-medium() {
    padding-top: 190px;
    padding-bottom: 210px;
  }
  .content-block {
    .content-title {
      width: 100%;
      text-align: center;
      h2 {
        @include title-font();
        font-size: 46px;
        line-height: 46px;
        color: #fff;
        text-align: center;
        margin: 0 0 22px;
      }
    }
    .content-description {
      @include f-medium();
      font-size: 18px;
      max-width: 600px;
      margin: 0 auto 63px auto;
      text-align: center;
      @include max-medium() {
        font-size: 16px;
      }
    }
    .content-list {
      width: 100%;
      @include display-flex();
      @include flex-wrap-wrap();
      @include justify-content-center();

      .content-list-item {
        width: 33.33%;
        padding: 0 20px;
        @include max-large() {
          width: 50%;
          padding: 0 20px 20px 20px;
        }
        @include max-small() {
          width: 100%;
        }
        .item-wrapper {
          background: #262626;
          padding: 65px 30px 36px 30px;
          min-height: 395px;
          @include max-small() {
            max-width: 420px;
            margin: 0 auto;
            min-height: 1px;
          }
          .icon {
            margin-bottom: 60px;
            @include display-flex();
            @include justify-content-center();
            img {
              height: 100px;
              width: auto;
              object-fit: contain;
            }
          }
          .title{
            @include title-font();
            color: #fff;
            font-size: 46px;
            line-height: 46px;
            text-align: center;
            margin: 0 0 8px;
          }
          .subtitle{
            @include f-medium();
            font-size: 18px;
            text-align: center;
            color: #D6D6D6;
            @include max-medium() {
              font-size: 16px;
            }
          }
        }
      }
    }

  }
}
.games, .related-posts {
  background: transparent;
  overflow-x: hidden;
  @include min-medium() {
    padding-bottom: 150px;
  }
  .games-block {
    .games-title-wrapper {
      margin-bottom: 56px;
      .games-title {
        @include min-medium() {
          @include display-flex();
          @include flex-direction-row();
          @include justify-content-space-between();
          width: 100%;
        }

        .title {
          @include title-font();
          font-size: 40px;
          line-height: 40px;
          color: #fff;
          text-transform: uppercase;
          @include max-medium() {
            width: 100%;
            margin-bottom: 24px;
            text-align: center;
          }
        }
        .description {
          font-size: 16px;
          line-height: 24px;
          width: 35%;
          @include max-medium() {
            width: 100%;
            text-align: center;
          }
        }
      }
      .slider-navigation {
        @include display-flex();
        @include align-items-flex-end();
        .slider-button-prev {
          @include transform(rotate(180deg));
          margin-right: 30px;
        }
        img {
          max-height: 35px;
        }
        .slider-button-prev, .slider-button-next {
          @include display-flex();
          cursor: pointer;
          max-height: 35px;
          &.swiper-button-disabled {
            opacity: 0.35;
            cursor: auto;
            pointer-events: none;
          }
        }
        display: none;
      }
    }
  }

  .games-card-list {
    @include max-small() {
      display: block;
    }
    .game-card {
      //width: 25%;
      outline: none;
      .game-card-wrapper {
        @include display-flex();
        @include flex-direction-column();
        border-radius: 0;
        cursor: pointer;
        transition: all .5s ease;
        outline: none;
        position: relative;
        @include min-large() {
          &:hover {
            transform: translateY(-10px);
          }
        }
        @include max-small() {
          width: 100%;
          max-width: 340px;
          margin: 0 auto 30px auto;
        }

        .info-wrapper {
          background: #212121;
          padding: 26px 16px 22px 16px;
          position: relative;
        }

        .image {
          min-height: 286px;
          max-height: 286px;

          img {
            width: 100%;
            object-fit: cover;
            min-height: 286px;
            max-height: 286px;
          }
        }

        .title-wrapper {
          @include display-flex();
          @include flex-direction-column-reverse();
          width: calc(100% - 70px);
          .title {
            @include title-font();
            font-size: 24px;
            text-transform: uppercase;
            color: #fff;
            line-height: 24px;
            margin: 0;
          }

          .rating {
            position: relative;
            max-width: 118px;
            margin: 0 0 14px;

            .rating-inner {
              z-index: 4;
              overflow: hidden;
              position: relative;
            }

            .rating-outer {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 3;
            }

            .rating-inner, .rating-outer {
              @include display-flex();

              .star {
                img {
                  min-width: 23.53px;
                  max-width: 23.53px;
                  min-height: 24.74px;
                  max-height: 24.74px;
                  @include max-large() {
                    min-width: 28.53px;
                    max-width: 28.53px;
                    min-height: 29.74px;
                    max-height: 29.74px;
                  }
                }
              }
            }
          }
        }
        .btn-play {
          display: block;
          width: 33px;
          height: 37px;
          background: url(../img/play-btn.svg) 0 0 no-repeat;
          background-size: 100%;
          position: absolute;
          right: 28px;
          top: 50%;
          @include transform(translateY(-50%));
        }
      }
    }
  }
}
.homepage-games {
  background: transparent;
  padding-bottom: 0;
  padding-top: 35px;
  @include min-medium() {
    margin-top: -290px;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.related-posts {
  background: none;
  padding: 0;
  @include min-medium() {
    padding-bottom: 120px;
  }
  .related-posts-title {
    @include title-font();
    color: #fff;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 40px;
  }
  .games-card-list {
    @include display-flex();
    @include flex-wrap-wrap();
    @include min-small() {
      @include justify-content-space-between();
    }
    .game-card {
      width: 100%;
      //margin-bottom: 40px;
      @include min-small() {
        width: 50%;
        padding: 0 10px;
      }
      @include min-medium() {
        width: 33.333%;
      }
    }
  }
}

.newsletter-block {
  @include display-flex();
  @include flex-direction-column();
  position: relative;

  .newsletter-title {
    text-align: center;
    @include title-font();
    margin: 0 auto 20px;
    font-size: 46px;
    line-height: 46px;
    color: #fff;
  }
  .newsletter-subtitle {
    @include f-semibold();
    text-align: center;
    font-size: 17px;
    line-height: 26px;
    color: #fff;
    margin: 0 auto 32px;
    max-width: 713px;
    @include max-medium() {
      font-size: 15px;
      line-height: 18px;
    }
  }
  .newsletter-form {
    @include display-flex();
    @include flex-direction-column();
    max-width: 442px;
    margin: 0 auto;
    width: 100%;

    .newsletter-input {
      margin-bottom: 16px;
      input {
        @include f-normal();
        color: #6A6A6A;
        font-size: 16px;
        background: #fff;
        width: 100%;
        height: 50px;
        @include display-flex();
        @include align-items-center();
        padding-left: 30px;
        padding-right: 30px;
        border: none;
        border-radius: 0;
        outline: none;
        &::placeholder {
          @include f-normal();
          color: #6A6A6A;
        }
      }
    }
    .newsletter-button {
      border: none;
      width: 100%;
      @include f-bold();
      font-size: 20px;
      line-height: 27px;
      text-transform: uppercase;
    }
  }
}
//homepage styles end
//contact page styles start
.content__form {
  background: url(../img/bg-play.jpg) 50% 100% no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 60px;
  @include min-medium() {
    padding-top: 213px;
    padding-bottom: 116px;
  }
  .content-block {
    .content-title {
      text-align: center;
      @include title-font();
      font-size: 42px;
      line-height: 42px;
      margin: 0 0 40px;
      color: #fff;
      @include min-medium() {
        font-size: 72px;
        line-height: 72px;
      }
    }
    form {
      display: block;
      width: 100%;
      max-width: 817px;
      margin: 0 auto;
      padding: 50px 32px 68px 32px;
      background: linear-gradient(223.01deg, #5A0505 -10.1%, #4A3822 61.59%);
      @include display-flex();
      @include flex-direction-column();
      .form-block {
        width: 100%;
        max-width: 532px;
        margin: 0 auto;
        .block-l{
        }
        .block-r{
        }
        .form-group {
          margin: 0 0 40px;
          @include max-large() {
            margin: 0 0 24px;
          }
          .label-wrapper{
            margin: 0 0 17px;
            padding-left: 15px;
            @include max-large() {
              margin: 0 0 12px;
              padding-left: 0;
            }
            label{
              @include f-semibold();
              font-size: 18px;
              line-height: 22px;
              color: #fff;

            }
            &.required {
              label {
                position: relative;
                &::before {
                  content: '*';
                  position: absolute;
                  right: -10px;
                  top: -5px;
                  color: #EE6B73;
                }
              }
            }
          }
          .input-wrapper {
            vertical-align: middle;
            position: relative;
            input {
              box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
              border-radius: 8px;
              border: none;
              background: #fff;
              color: #6A6A6A;
              outline: none;
              width: 100%;
              height: 77px;
              padding: 0 0 0 20px;
              @include display-flex();
              @include align-items-center();
              @include transition(all .5s ease);
              @include max-large() {
                height: 48px;
                padding: 0 0 0 18px;
              }
              @include min-large() {
                &:hover {
                  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
                }
              }
              &:focus {
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
              }
            }
            textarea {
              resize: none;
              box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
              border-radius: 8px;
              border: none;
              background: #fff;
              color: #6A6A6A;
              outline: none;
              width: 100%;
              height: 234px;
              padding:27px 27px 0;
              @include max-medium() {
                height: 150px;
              }
            }
            .wpcf7-form-control-wrap {
            }
          }
        }
      }
      .submit-block {
        width: 100%;
        max-width: 532px;
        margin-left: auto;
        margin-right: auto;
        @include display-flex();
        @include justify-content-center();
        .button {
          width: 100%;
          height: 50px;
          @include f-semibold();
          text-transform: uppercase;
          font-size: 20px;
          border: none;
          &:focus {
            outline: none;
          }
        }
      }
      .wpcf7-not-valid-tip {
        color: #EE6B73;
        font-size: 14px;
        min-width: 200px;
        position: absolute;
        left: 0;
      }
      .wpcf7-response-output {
        border: none!important;
        color: #EE6B73;
        font-size: 14px;
        text-align: center;

      }
    }
  }
}
//contact page styles end
//register page styles start

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.57);
  backdrop-filter: blur(11px);
  z-index: 10;
  display: none;
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(213.53deg, #440A0A -8.34%, #4A3822 94.43%);
    padding: 150px 0;
    border-radius: 0;
    @include max-medium() {
      padding: 70px 0 260px 0;
    }
    &:before {
      content: "";
      position: absolute;
      right: 26px;
      bottom: 26px;
      width: 100%;
      pointer-events: none;
      max-width: 234px;
      height: 200px;
      background: url(../img/footer-decor.png) 0 0 no-repeat;
      background-size: 100%;
    }

    .modal-close{
      position: absolute;
      top: 48px;
      right: 48px;
      cursor: pointer;
      outline: none;
      @include max-large() {
        -webkit-tap-highlight-color: transparent;
      }
      @include max-medium() {
        top: 13px;
        right: 13px;
      }
    }
    .modal-content{
      min-width: 770px;
      @include display-flex();
      @include flex-direction-column();
      @include justify-content-center();
      @include align-items-center();
      @include max-medium() {
        min-width: 343px;
      }
      .modal-title {
        @include title-font();
        color: #fff;
        font-size: 46px;
        line-height: 57px;
        margin: 0 auto 51px;
        max-width: 380px;
        text-align: center;
        @include max-medium() {
          margin: 0 auto 36px;
          max-width: 261px;
          font-size: 32px;
          line-height: 40px;
        }
      }
      .modal-btn {
        @include f-bold();
        cursor: pointer;
        width: 182px;
        height: 48px;
        @include display-flex();
        @include justify-content-center();
        @include align-items-center();
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        position: relative;
        background: linear-gradient(86.42deg, #FFC700 -1.87%, #F3254C 119.59%, #F32525 119.59%);
      }
    }
  }
}
//register page styles end
.content__form.game {
  min-height: auto;
  @include transition(all .5s ease);
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  &.show {
    visibility: visible;
    opacity: 1;
  }
  .game-content {
    border-radius: 8px;
    padding: 20px;
    position: relative;
    iframe {
      width: 100%;
      min-height: 85vh;
      border: none;
      border-radius: 8px;
    }
    .game-close {
      position: absolute;
      right: 40px;
      top: 40px;
      z-index: 103;
      cursor: pointer;
    }
  }
}

body.page-template {
  p {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  h2 {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 1.1;
  }
}

// bg styles
.page-wrap{
  position: relative;
}
.page-bg{
  position: absolute;
  top: 138px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include max-medium() {
    top: 150px;
  }
}
.page-content-bg{
  flex-grow: 1;
  background: rgb(48,27,101); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(48,27,101,1) 0%, rgba(33,28,92,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(48,27,101,1) 0%,rgba(33,28,92,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(48,27,101,1) 0%,rgba(33,28,92,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#301b65', endColorstr='#211c5c',GradientType=0 );
}
.page-content{
  position: relative;
}
// single game styles
.game-template-default, .page-template-default, .page-template-page-registration, .page-template-page-contact {
  .page-wrap {
    .page-bg {
      .hero-bg, .page-content-bg {
        display: none;
      }
      .footer-bg {
        flex-grow: 1;
        max-height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .page__content {
    background: url(../img/bg-play.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
}
.game-template-default{

  .page__content {
    @include max-medium() {
      padding: 0 8px;
    }
    .container {
      padding-top: 80px;
      @include min-medium() {
        padding-top: 140px;
      }
    }
    .page__content-title {
      @include display-flex();
      @include flex-wrap-wrap();
      @include flex-direction-column();
      @include align-items-center();
      width: 100%;
      max-width: 820px;
      margin: 0 auto 24px auto;
      @include min-medium() {
        margin: 0 auto 62px auto;

        @include flex-direction-row();
      }
      .game-image {
        width: 165px;
      }
      .game-info {
        @include min-medium() {
          width: calc(100% - 165px);
          padding-left: 42px;
        }
        .game-title {
          @include title-font();
          font-size: 46px;
          line-height: 50px;
          color: #fff;
          @include min-medium() {
            font-size: 64px;
            line-height: 64px;
          }

        }
        .game-description {
          color: #000;
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
    .page__content-wrapper {
      @include display-flex();
      @include justify-content-space-between();
      @include flex-direction-column();
      padding-bottom: 60px;
      width: 100%;
      max-width: 820px;
      margin: 0 auto;
      @include min-medium() {
        padding-bottom: 160px;
      }

      .game-subtitle {
        @include title-font();
        color: #fff;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 24px;
        @include min-medium() {
          font-size: 42px;
          line-height: 42px;
        }
      }

      .page__content-main {
        margin-bottom: 15px;
        h2 {
          font-size: 32px;
          line-height: 36px;
          color: #D6D6D6;
          margin: 0px 0 16px;
        }
        p {
          font-size: 16px;
          line-height: 24px;
          color: #D6D6D6;
          margin: 0 0 25px;
        }
        a {
          color: #FAE100;
          text-decoration: none;
        }
      }
      .page__content-window {
        position: relative;
        @include max-medium() {
          margin: 0 0 25px;
        }
        .game-window {
          //width: 100%;
          margin: 0 auto;
          cursor: pointer;
          display: inline-flex;
          @include align-items-center();
          position: relative;
          .game-button {
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
            z-index: 1;
            min-width: 220px;
          }
          .game-background-image {
            overflow: hidden;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.1);
              pointer-events: none;
              @include border-radius(10px);
            }
            img {
              display: block;
              width: 100%;
              object-fit: cover;
              height: 457px;
              @include border-radius(10px);
            }
          }
          .game-image {
            position: absolute;
            bottom: 5px;
            left: 20px;
            max-width: 140px;
          }
          .game-provider {
            position: absolute;
            top: 22px;
            left: 34px;
            max-width: 120px;
          }
        }
        .game-disclaimer {
          color: #fff;
          @include f-bold();
          text-align: center;
          text-transform: uppercase;
          font-size: 16px;
          background: #FF2E00;
          padding: 14px 0;
          position: absolute;
          left: 0;
          bottom: 30px;
          right: 0;
          @include transform(rotate(-1.6deg));
          @include min-medium() {
            font-size: 18px;
          }
        }
      }
    }
  }
}
.page-template-default {
  .page__content {
    padding-top: 100px;
    padding-bottom: 60px;
    @include min-medium() {
      padding-top: 213px;
      padding-bottom: 140px;
    }
    .page__content-title,
    h1,
    h2 {
      text-align: center;
      @include title-font();
      font-size: 42px;
      line-height: 42px;
      margin: 0 0 20px;
      color: #fff;
      @include min-medium() {
        font-size: 72px;
        line-height: 72px;
      }
    }
    h3 {
      @include title-font();
      text-align: center;
      font-size: 36px;
      margin: 0 0 20px;
      color: #fff;
      @include min-medium() {
        font-size: 42px;
      }
    }
    p {
      text-align: center;
      font-size: 16px;
      line-height: 23px;
      margin-bottom: 40px;
      color: #D6D6D6;
      b,strong {
        @include f-bold();
      }
    }
    b,strong {
      @include f-bold();
    }
  }
  .page__content-block {
    max-width: 725px;
    margin: 0 auto;
    text-align: center;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  @include title-font();
  line-height: 1.4;
  color: #fff;
}
h1 {
  margin-bottom: 35px;
  font-size: 34px;
  @include min-large() {
    font-size: 72px;
  }
}
h2 {
  margin-bottom: 30px;
  font-size: 32px;
  @include min-large() {
    font-size: 64px;
  }
}
h3 {
  margin-bottom: 25px;
  font-size: 30px;
  @include min-large() {
    font-size: 42px;
  }
}
h4, h5, h6 {
  margin-bottom: 20px;
}
h4 {
  font-size: 28px;
  @include min-large() {
    font-size: 34px;
  }
}
h5 {
  font-size: 26px;
  @include min-large() {
    font-size: 30px;
  }
}
h6 {
  font-size: 24px;
  @include min-large() {
    font-size: 28px;
  }
}
strong {
  font-weight: bold;
}