.main
  background-image: url('../img/adminpage-background.jpg')
  background-size: cover
  background-repeat: no-repeat
.links
  &-section
.links
    &-title
    &-block
      display: flex
      &__main
        flex-wrap: wrap
      &__study
        justify-content: space-between
        flex-direction: column
      &__etc
        display: flex
        flex-direction: column
    &-chapter
      display: flex
      flex-wrap: wrap
      
    &-subtitle
      img
        width: 100px
    &-list
      list-style-type: none
      display: flex
      &__study
        // flex-direction: column
        justify-content: center
        flex-wrap: wrap
      &__item
        a
          display: flex
          flex-direction: column
          text-align: center
          h2
          img
            margin: auto
            width: 50px
        input
          
          width: 100px
          margin-right: 5px
          
        button
          background: none
          border: none
          

.button-copy
  img
    width: 20px
