.contact
  &-section
    background-image: url('../img/contact-background.jpg')
    background-size: cover
    background-repeat: no-repeat
  &-block
    color: white
  &-subtitle
  &-links
    list-style: none
    &__item
      width: 200px
      margin: 0 10px
      padding: 20px
      border-right: 5px solid white

