.header
  &-section
    background: #487943
  &-title
    padding: 20px 0
    background: transparent
    color: #f9d137
    font-size: 51px
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: black
      
      
.navbar
  padding: 20px 0
  padding-left: 100px
  &-list
    display: flex
    list-style: none
    &__item
      margin-right: 10px
      border-right: 2px solid black
      padding: 0 15px
      text-transform: uppercase
      &:last-child
        border-right: none