.header-section
  background: rgb(91,10,99)
  background: linear-gradient(90deg, rgba(91,10,99,1) 0%, rgba(212,7,73,1) 25%, rgba(226,203,24,1) 100%)
.navbar
  padding: 20px 0
  padding-left: 100px
  &-list
    display: flex
    list-style: none
    &__item
      margin-right: 10px
      border-right: 2px solid black
      padding: 0 15px
      text-transform: uppercase
      &:last-child
        border-right: none