*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Alegreya Sans SC', sans-serif
img
  max-width: 100%
.container
  width: 1140px
  margin: auto
  @media (max-width: 1200px)
    width: 90%
body 
  color: #ffffff
a
  text-decoration: none
  color: #ffffff

@font-face
  font-family: Anastasia
  src: url(../fonts/18487.ttf)
.title
  background-color: #ffffff
  text-align: center
  font-size: 30px