.self
  &-section
    background-image: url('../img/self-background.jpg')
    background-size: 100% 70%
    background-repeat: no-repeat
  &-block
    padding-top: 150px
    // padding-bottom: 50px
    display: flex
    justify-content: space-between
  &-description
    display: flex
    justify-content: column
    &__image
    &__wrap
      align-self: flex-end
      padding: 10px 0 120px 20px
      font-size: 12px
  &-content
    width: 400px
    background-color: white
    padding: 20px 10px
    &__title
      font-size: 30px
      color: black
  &-slider
    list-style: none
    margin-top: 50px
    margin-bottom: 50px
  &-card
    &__image
      width: 300px
      height: 100px
    &__title
      color: black

.arrow
  &s
    display: flex
    justify-content: center
    
  width: 50px
  background: transparent
  border: none
  outline: none
  margin: 0 30px
  cursor: pointer
  
