* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include f-normal();
}
a {
  text-decoration: none;
  color: #000000;
  outline: none;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
.container {
  width: 940px;
  margin: auto;
  @include max-large() {
    width: 90%;
  }
}
.header {
  background: #CA01C4;
  // padding: 28px 0px 32px;
  // padding: 10px 0px;
  padding: 28px 0px;
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
  @include max-small() {
    padding: 20px 0px;
  }
  &_active {
    height: 100%;
  }
  .menu {
    @include max-small() {
      display: none;
    }
    .list {
      @include flexbox();
      justify-content: center;
      align-items: center;
      .item {
        margin: 0px 24px;
        .link {
          @include f-bold();
          color: #ffffff;
          font-size: 16px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
        }
      }
    }
    &-resp {
      display: none;
      position: relative;
      @include max-small() {
        @include flexbox();
        
      }    
    .burger {
      position: relative;
      width: 35px;
      height: 20px;
      span, span::before, span::after {
        position: absolute;
        top: 50%; margin-top: -1.5px;
        left: 50%; margin-left: -17.5px;
        width: 35px;
        height: 3px;
        background: #ffffff;
      }
      span::before, span::after {
        content: '';
        transition: 0.15s;
      }
      span::before {
        transform: translateY(7px);
      }
      
      span::after {
        transform: translateY(-7px);
      }
      &_active {
        span::before {
          transform: rotate(35deg);
        }
        span {
          height: 0px;
        }
        span::after {
          transform: rotate(-35deg);
        }
      }
    }
    .logo {
      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% - 0px), calc(-50% - 0px));
    }
    }
  }
  
  .list-resp {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 0px), calc(-50% - 0px));

    &_active {
      display: block;
      width: 100%;
    }
    .list {
      @include flexbox();
      flex-direction: column;
      align-items: center;
      .item {
        margin: 20px 0px;
        .link {
          @include f-medium();
          font-size: 36px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
    }
  }
}
.hero {
  background-image: url('../img/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
  @include max-small() {
    max-height: 485px;
  }
  .block {
    @include flexbox();
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    @include f-logo();
    font-size: 72px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 191px 0px 0px;
    @include max-small() {
      font-size: 42px;
      margin: 172px 0px 0px;
    }
  }
  .subtitle {
    @include f-logo();
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 65%;
    margin: 25px 0px 0px;
    max-height: 80px;
    @include max-small() {
      font-size: 28px;
      line-height: 24px;
      letter-spacing: 0.01em;
      margin: 28px 0px 0px;
      max-width: 100%;
      min-height: 48px;
      max-height: 48px;
    }
  }
  .google-btn {
    margin: 57px 0px 0px;
    @include max-small() {
      margin: 53px 0px 0px;
      // max-width: 42.967%;
      max-width: 189px;
    }
    // img {
    //   @include max-small() {
    //     max-width: 76.72%;
    //   }
    // }
  }
  .download-btn {
    position: relative;
    margin: -45px -65px 0px 0px;
    text-align: center;
    @include max-small() {
      margin: -25px 0px 0px 0px;
      text-align: right;
      left: 20px;
    }
    .image {
      position: relative;
      display: inline-block;
      img {
        @include max-small() {
          // max-width: 88.3%;
          max-width: 330px;
        }
        @media (max-width: 374px) {
          max-width: 280px;
        }
      }
      &::before {
        content: 'Download app';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% - 33px), calc(-50% - -13px));
        @include f-logo();
        text-transform: uppercase;
        color: #000000;
        font-size: 34px;
        width: 100%;
        @include max-small() {
          font-size: 24px;
          text-align: center;
          transform: translate(calc(-50% - 20px), calc(-50% - -5px));
        }
      }
    }
  }
}
.feedback {
  background: radial-gradient(50% 50% at 50% 50%, #FEC363 0%, #FEC363 0.01%, #FF9457 100%);
  padding: 121px 0px 88px;
  @include max-small() {
    padding: 96px 0px 72px;
  }
  .form {
    @include flexbox();
    flex-direction: column;
    .label {
      @include f-normal();
      color: #000000;
      text-align: center;
      font-size: 24px;
    }
    .input {
      background: #ffffff;
      border: none;
      border-radius: 50px;
      width: 76.597%;
      height: 56px;
      margin: 21px auto 0px;
      outline: none;
      padding: 0px 0px 0px 20px;
      @include max-small() {
        width: 100%;
      }
    }
    .consent {
      @include f-normal();
      color: #000000;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      max-width: 56%;
      margin: 21px auto 0px;
      @include max-small() {
        max-width: 100%;
      }
    }
    .feedback-btn {
      background: #8903AC;
      border: none;
      padding: 0px 62.594px;
      height: 56px;
      border-radius: 50px;
      @include f-logo();
      font-size: 28px;
      color: #ffffff;
      text-transform: uppercase;
      margin: 36px auto 0px;
      cursor: pointer;
    }
  }
}
.description {
  background: #CA01C4;
  padding: 72px 0px 72px;
  .title {
    @include f-logo();
    font-size: 48px;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    @include max-small() {
      font-size: 42px;
      line-height: 38px;
      letter-spacing: 0.01em;
    }
  }
  .list {
    @include flexbox();
    @include max-small() {
      flex-direction: column;
    }
    .item {
      @include flexbox();
      flex-direction: column;
      align-items: center;
      .image {
        max-height: 40%;
      }
      .title {
        font-size: 24px;
        line-height: 28px;
        max-width: 80%;
      }
      .subtitle {
        @include f-normal();
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        margin: 28px 0px 0px;
        max-width: 90%;
        @include max-small() {
          text-align: center;
        }
      }
    }
  }
}
.reviews {
  background: radial-gradient(50% 50% at 50% 50%, #FEC363 0%, #FEC363 0.01%, #FF9457 100%);
  padding: 75px 0px 96px;
  .block {
    .title {
      @include f-logo();
      font-size: 48px;
      letter-spacing: 0.02em;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      @include max-small() {
        font-size: 42px;
      }
    }
    .list {
      margin: 48px 0px 0px;
      @include flexbox();
      @include max-small() {
        flex-direction: column;
      }
    }
    .item {
      @include flexbox();
      flex-direction: column;
      align-items: center;
      @include max-small() {
        margin: 23px 0px;
      }
      .title {
        margin: 28px 0px 0px;
        @include f-semibold();
        font-size: 24px;
        color: #000000;
      }
      .city {
        margin: 11px 0px 0px;
        @include f-thin();
        font-size: 18px;
        color: #000000;
      }
      .rating {
        margin: 13px 0px 0px;
        @include flexbox();
      }
      .quote {
        margin: 20px 0px 0px;
        @include f-medium();
        font-size: 18px;
        line-height: 20px;
        color: #ffffff;
        text-align: center;
        max-width: 66%;
      }
      .thumb {
        margin: 32px 0px 0px;
      }
      .number {
        margin: 11px 0px 0px;
        @include f-medium();
        color: #ffffff;
        font-size: 18px;
      }
    }
  }
}
.footer {
  background: #590078;
  padding: 104px 0px 105px;
  .block {
    @include flexbox();
    flex-direction: column;
    align-items: center;
    .logo {
      @include max-small() {
        text-align: center;
      }
      img {
        @include max-small() {
          max-width: 52.59%;
        }
      }
    }
    .list {
      margin: 51px 0px 0px;
      @include flexbox();
      justify-content: center;
      @include max-small() {
        display: inline-block;
        text-align: center;
      }
      .item {
        margin: 0px 12px;
        @include max-small() {
          display: inline-block;
        }
        .link {
          @include f-medium();
          font-size: 18px;
          color: #FEC363;
          text-transform: uppercase;
        }
      }
    }
    .policy {
      margin: 48px 0px 0px;
      max-width: 98%;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
    }
    .secure {
      margin: 50px 0px 0px;
      @include flexbox();
      align-items: center;
      @include max-small() {
        display: inline-block;
        text-align: center;
      }
      .item {
        margin: 0px 12px;
        @include max-small() {
          display: inline-block;
          margin: 9px 12px;
        }
      }
    }
    .platforms {
      margin: 24px 0px 0px;
      @include flexbox();
      .item {
        margin: 0px 9px;
      }
    }
  }
}