.about-product-block {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 150px;
  padding-right: 180px;

  @media (max-width: 1200px) {
    padding-right: 15px;
  }

  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .info {
    width: 100%;
    max-width: 465px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    @media (max-width: 768px) {
      padding-left: 15px;
    }

    .title {
      font-family: 'Veneer Two';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 49px;
      color: #786854;
      margin-top: 0;
      margin-bottom: 20px;

      @media (max-width: 650px) {
        font-size: 30px;
        line-height: 1.2;
      }
    }

    .text {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #786854;

       p {
         margin: 0;
       }
    }
  }
}