@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'mixin';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.1;
  color: #D6D6D6;
  @include f-normal();
  @include max-large() {
    font-size: 16px;
  }
}
html, body {
  height: 100%;
  background: url(../img/bg-body.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: 50% 0;
}
body.overflow-hidden {
  overflow: hidden;
}
img {
  max-width: 100%;
}
ul,ol, li {
  @include list();
}
a {
  text-decoration: none;
  color: #fff;
  outline: none;
  @include max-large() {
    -webkit-tap-highlight-color: transparent;
  }
}
.container-wrapper {
  @include min-large() {
    //@include display-flex();
    //@include flex-wrap-wrap();
    //@include flex-direction-row();
    //max-width: 1150px;
    //margin: 0 auto;
    position: relative;
  }
  .header {
    @include min-large() {
      width: 300px;
      background: #141414;
      padding: 60px 0;
      //position: absolute;
      //left: 0;
      //top: 0;
      //bottom: 0;
      z-index: 10;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-575px);
    }
  }
  .content-wrapper {
    @include min-large() {
      //width: calc(100% - 320px);
      padding-left: 20px;
      margin-left: 300px;
    }
  }
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
  @include min-large() {
    //max-width: 1242px;
    padding: 0;
  }
}
.button {
  cursor: pointer;
  min-width: 182px;
  height: 49px;
  @include display-flex();
  @include justify-content-center();
  @include align-items-center();
  background: linear-gradient(84.97deg, #F9E10F -2.57%, #253AF3 90.31%);
  border-radius: 10px;
  text-align: center;
  @include min-large() {
    @include transition(all .5s ease);
    &:hover {
      box-shadow: 0px 4px 31px #F9E10F;
    }
  }
  .name {
    @include f-bold();
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
  }
}
.header {
  @include transition(all .5s ease);
  &.active {
    background: #141414;
    height: 100%;
    @include transition(all .5s ease);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 101;
    .header-mobile {
      position: relative;
      height: 100%;
      @include transition(all .5s ease);
      .header-block {
        height: 85vh;
      }
      .header-bottom {
        @include display-flex();
        //position: absolute;
        //top: 52%;
        //transform: translate(0, -50%);
        height: 100%;
        overflow-y: auto;
      }
    }
  }
  .header-block {
    width: 100%;
    .header-logo {
      @include display-flex();
      @include justify-content-center();
      @include align-items-center();
      width: 100%;
      max-width: 240px;
      transition: all 0.4s ease;
      @include min-large() {
        margin: 0 auto 40px auto;
        &:hover {
          transform: scale(1.1);
        }
      }
      img {
        max-width: 240px;
        object-fit: contain;
        max-height: 50px;
        object-position: left;
      }
    }
    .header-menu {
      //width: 33.33%;
      @include display-flex();
      @include flex-direction-column();
      li {
        margin: 0;
        a {
          display: block;
          padding: 15px 10px;
          text-align: center;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #FFF;
          text-transform: uppercase;
          @include min-medium() {
            @include transition(all .5s ease);
            &:hover {
              color: #fff;
              background: #242424;
            }
          }
        }
      }
      li.current-menu-item {
        a {
          color: #fff;
          background: #242424;
        }
      }
    }
    .header-sign {
      margin-top: 50px;
      @include display-flex();
      @include justify-content-center();
      .button-wrapper {
        position: relative;
        background: linear-gradient(84.97deg, #F9E10F -2.57%, #253AF3 90.31%);
        border-radius: 10px;
        @include display-flex();
        @include align-items-center();
        @include justify-content-center();
        min-width: 184px;
        max-width: 184px;
        height: 48px;

        @include min-large() {
          &:hover {
            .decor img {
              transform: translateY(-5px);
            }
          }
        }
        .decor {
          position: absolute;
          top: 50%;
          left: -26px;
          transform: translate(0, -50%);
          min-width: 223px;
          max-width: 223px;
          img {
            transform: translateY(0px);
            transition: all .5s ease;
          }

        }
        .name {
          font-size: 20px;
          line-height: 25px;

        }
      }
    }
  }
  .header-desktop {
    display: none;
    @include min-large() {
      display: block;
      position: sticky;
      top: 40px;
    }
  }
  .header-mobile {
    @include transition(all .5s ease);
    //background: rgba(47, 96, 255, 0.55);
    @include min-large() {
      display: none;
    }
    .header-block {
      @include display-flex();
      flex-direction: column;
    }
    .header-top{
      @include display-flex();
      @include justify-content-space-between();
      @include align-items-center();
      width: 100%;
      padding: 16px;
      .header-logo{}
      .burger {
        position: relative;
        width: 48px;
        height: 48px;
        cursor: pointer;
        @include transition(all .5s ease);
        @include max-large() {
          -webkit-tap-highlight-color: transparent;
        }
        .burger-wrapper {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
          width: 28px;
          height: 17px;
          @include transition(all .5s ease);
          div {
            position: absolute;
            display: inline-block;
            height: 4px;
            background: #fff;
            border-radius: 100px;
            @include transition(all .5s ease);
          }
          .line-1 {
            width: 28px;
          }
          .line-2 {
            width: 28px;
            bottom: 0;
            right: 0;
          }
        }
        &.active {
          .burger-wrapper {
            width: 38px;
            height: 38px;
            div {
              width: 40px;
              top: 50%;
            }
            .line-1 {
              transform: rotate(-45deg) translate(0, -50%);
            }
            .line-2 {
              transform: rotate(45deg) translate(0, -50%);
            }
          }
        }
      }

    }
    .header-bottom{
      display: none;
      @include flex-direction-column();
      width: 100%;
      @include transition(all .5s ease);
      .header-menu {
        width: 100%;
        @include flex-direction-column();
        align-items: center;
        margin: 0 0 40px;
        li {
          margin: 12px 0;
          a{
            font-size: 28px;
            line-height: 1.4;
            &.active {
              &::before {
                display: none;
              }
            }
          }
        }
        li.current-menu-item {
          a {
            &::before {
              display: none;
            }
          }
        }
      }
      .header-sign {
        width: 100%;
        @include justify-content-center();
      }
    }
  }
}
.footer {
  @include display-flex();
  @include flex-direction-column();
  position: relative;
  background: #000;
  .container {
    @include min-large() {
      max-width: 1150px;
      padding-left: 320px;
    }
  }
  .footer-top {
    position: relative;
    .footer-block {
      position: relative;
      padding-top: 32px;
      padding-bottom: 45px;
      @include display-flex();
      @include flex-direction-column();
      @include min-medium() {
        padding-top: 72px;
      }
      .footer-logo {
        display: block;
        text-align: center;
        max-width: 95px;
        img {
          @include transition(all 0.4s ease);
        }
        @include min-large() {
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
      .footer-info {
        @include display-flex();
        @include flex-direction-column();

        .disclaimer {
          margin-bottom: 30px;
          b,strong {
            @include f-bold();
          }
          p {
            color: #fff;
            font-size: 15px;
            line-height: 22px;
            b,strong {
              @include f-bold();
            }
          }
          a {
            font-size: 18px;
            @include f-semibold();
            line-height: 24px;
            text-decoration: underline;
            color: #FAE100;
            b,strong {
              @include f-bold();
            }
          }
        }
        .description {
          p {
            font-size: 16px;
            line-height: 23px;
            color: #fff;
            margin-bottom: 30px;
            b,strong {
              @include f-bold();
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          a {
            font-size: 18px;
            @include f-semibold();
            line-height: 24px;
            text-decoration: underline;
            color: #FAE100;
            b,strong {
              @include f-bold();
            }
          }
        }
      }
      .footer-info-2 {
        margin-top: 32px;
        @include min-medium() {
          margin-top: 32px;
        }
        .description {
          p {
            font-size: 16px;
            line-height: 23px;
            color: #fff;
            b,strong {
              @include f-bold();
            }
          }
          a {
            font-size: 18px;
            @include f-semibold();
            line-height: 24px;
            text-decoration: underline;
            color: #FAE100;
            b,strong {
              @include f-bold();
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    position: relative;
    background: #000;
    padding: 32px 0;
    @include max-large() {
      padding: 32px 16px;
    }
    .copyright {
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      @include max-large() {
        text-align: center;
      }
      b,strong {
        @include f-bold();
      }
    }
  }
}

//common styles end
//homepage styles start
.home-hero-wrapper {
  padding-top: 135px;
    position: relative;
    @include max-large() {
      padding-top: 45px;
    }
    &:before {
      display: none!important;
      content: "";
      display: block;
      width: 543px;
      height: 972px;
      position: absolute;
      top: 220px;
      right: 0;
      background: url(../img/bg-hero.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 0;
      //@media (max-width: 1500px) {
      //  //background: url(../img/bg-hero-crop.png);
      //  right: -122px;
      //  width: 465px;
      //  height: 830px;
      //}
      @media (max-width: 1368px) {
        //right: -33px;
        top: 350px;
        //opacity: 0.83;
        opacity: 0.33;
      }
      @include max-large() {
        width: 343px;
        height: 615px;
        background: url(../img/bg-hero-crop.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 0;
        right: 0;
        top: 330px;
        opacity: 0.8;
      }
      @media (max-width: 481px) {
        top: 430px;
      }
    }

  .container {
    position: relative;
  }
}
.hero {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 543px;
    height: 972px;
    position: absolute;
    top: 220px;
    right: 0;
    opacity: 0.33;
    background: url(../img/bg-hero.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
    //@media (max-width: 1500px) {
    //  //background: url(../img/bg-hero-crop.png);
    //  right: -122px;
    //  width: 465px;
    //  height: 830px;
    //}
    @media (max-width: 1368px) {
      //right: -33px;
      top: 350px;
      //opacity: 0.83;
      opacity: 0.33;
    }
    @include max-large() {
      width: 343px;
      height: 615px;
      background: url(../img/bg-hero-crop.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 0;
      right: 0;
      top: 330px;
      opacity: 0.8;
    }
    @media (max-width: 992px) {
      opacity: 0;
    }
    @media (max-width: 481px) {
      top: 430px;
    }
  }
  .hero-block {
    max-width: 690px;
    margin: 0 auto;
    text-align: center;
    .hero-title-wrapper {
      .hero-title {
        @include f-semibold();
        font-size: 42px;
        line-height: 1.1;
        color: #E2CF28;
        margin-bottom: 35px;
        @include min-medium() {
          font-size: 62px;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
      }
      .hero-description {
        font-size: 18px;
        line-height: 26px;
        @include f-medium();
        @include min-medium() {
          max-width: 495px;
          margin: 0 auto;
        }
      }
    }
  }
}
.home-hero-wrapper .games {
  padding-top: 260px;
}
.content {
  padding-bottom: 35px;
  @include min-medium() {
    padding-bottom: 115px;
  }
  .content-block {

    .content-title {
      @include display-flex();
      @include justify-content-center();
      margin-bottom: 20px;
      h2 {
        @include f-bold();
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        text-transform: uppercase;
        color: #E2CF28;
        @include max-medium() {
          font-size: 30px;
          line-height: 36px;
        }
      }
    }
    .content-description {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      @include min-medium() {
        width: 80%;
        margin: 0 auto;
      }
    }
    .content-list {
      width: 100%;
      .content-list-item {
        width: 100%;
        .item-wrapper {
          @include display-flex();
          @include flex-wrap-wrap();
          @include align-items-center();
          @include flex-direction-column();
          margin-bottom: 40px;
          @include min-small() {
            margin-bottom: 0;
            @include flex-direction-row-reverse();
            @include justify-content-space-between();
            .icon {
              width: 50%;

              img {
                width: 100%;
              }
            }
          }
          .item-wrapper-text {
            padding-right: 68px;
            @include max-medium() {
              padding-right: 30px;
            }
            @include max-small() {
              padding: 25px 0 0 0;
              width: 100%;
              max-width: 360px;
            }
            width: 50%;
            .title {
              @include f-medium();
              font-size: 36px;
              text-transform: uppercase;
              line-height: 41px;
              color: #E2CF28;
              margin-bottom: 20px;
              @include max-medium() {
                font-size: 32px;
                line-height: 36px;
              }
            }

            .subtitle {
              font-size: 18px;
              line-height: 26px;
              color: #D6D6D6;
              @include f-normal();
            }
          }
        }
        &:nth-child(2) {
          .item-wrapper {
            @include min-small() {
              @include flex-direction-row();
            }
            .item-wrapper-text {
              padding-right: 0;
              padding-left: 68px;
              @include max-medium() {
                padding-right: 0;
                padding-left: 30px;
              }
              @include max-small() {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
.games, .related-posts {
  .games-block {
    .games-title-wrapper {
      @include display-flex();
      @include align-items-center();
      margin-bottom: 35px;

      .games-title {
        width: 100%;
        text-align: center;

        .title {
          @include f-bold();
          font-size: 30px;
          line-height: 36px;
          color: #E2CF28;
          text-transform: uppercase;
          margin-bottom: 16px;
          @include min-medium() {
            font-size: 36px;
            line-height: 42px;
          }
        }

        .description {
          font-size: 18px;
          line-height: 26px;
          text-align: center;
          max-width: 560px;
          margin: 0 auto;
        }
      }
    }

    .games-card-list {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 240px;
      @include min-small() {
        grid-template-columns: repeat(2, 1fr);
      }
      .game-card {
        outline: none;
        &:first-child {
          @include min-small() {
            grid-column-start: 1;
            grid-column-end: 3;
          }
        }

        .game-card-wrapper {
          @include border-radius(20px);
          cursor: pointer;
          transition: all .5s ease;
          outline: none;
          position: relative;
          @include min-large() {
            &:hover {
              transform: translateY(-10px);
            }
          }

          .image {
            img {
              @include border-radius(20px);
              width: 100%;
              object-fit: cover;
              min-height: 240px;
              max-height: 240px;
            }
          }

          .info-wrapper {
            position: absolute;
            bottom: 20px;
            left: 24px;
            right: 24px;

            .title-wrapper {
              @include display-flex();
              @include flex-direction-column-reverse();
              .title {
                font-size: 16px;
                line-height: 1.1;
                @include f-semibold();
                text-transform: uppercase;
                @include max-medium() {
                  max-width: 222px;
                }
              }

              .rating {
                position: relative;
                max-width: 115px;
                margin: 0 0 12px;

                .rating-inner {
                  z-index: 4;
                  overflow: hidden;
                  position: relative;
                }

                .rating-outer {
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: 3;
                }

                .rating-inner, .rating-outer {
                  @include display-flex();

                  .star {
                    img {
                      min-width: 23.53px;
                      max-width: 23.53px;
                      min-height: 24.74px;
                      max-height: 24.74px;
                      @include max-large() {
                        min-width: 28.53px;
                        max-width: 28.53px;
                        min-height: 29.74px;
                        max-height: 29.74px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.related-posts {
  background: none;
  margin-top: 90px;
  margin-bottom: 60px;
  padding: 0;
  @include min-medium() {
    margin-top: 120px;
    margin-bottom: 90px;
  }
  .games-block {
    .related-posts-title {
      @include f-bold();
      text-align: center;
      font-size: 30px;
      line-height: 36px;
      color: #E2CF28;
      margin-bottom: 40px;
      @include min-medium() {
        font-size: 36px;
        line-height: 42px;
      }
    }

    .games-card-list {
      grid-auto-rows: 240px;
      @include min-small() {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 157px;
      }

      .game-card {
        &:first-child {
          grid-column-start: 1;
          grid-column-end: 1;
        }
        .game-card-wrapper {
          .image {
            img {
              min-height: 240px;
              max-height: 240px;
              @include min-small() {
                min-height: 157px;
                max-height: 157px;
              }
            }
          }
        }
      }
    }
  }
}
.newsletter {
  margin-top: 160px;
  margin-bottom: 100px;
  @include max-medium() {
    margin-top: 70px;
  }
  .newsletter-block {
    position: relative;
    background: linear-gradient(219.06deg, #29165E -2.05%, #3E4030 60.43%);
    @include border-radius(28px);
    padding: 83px 10px;
    @include max-small() {
      padding: 50px 8px 0 8px;
      @include display-flex();
      @include flex-direction-column-reverse();
      @include align-items-center();
    }
    .newsletter-decor {
      position: absolute;
      left: 0;
      bottom: -4px;
      max-width: 330px;
      @include max-small() {
        position: relative;
      }
    }
    .newsletter-inner {
      max-width: 372px;
      @include min-small() {
        margin-left: 35%;
      }

      .newsletter-title {
        @include f-semibold();
        text-align: center;
        font-size: 24px;
        margin: 0 auto 20px;
        line-height: 1.1;
        color: #fff;
        @include max-medium() {
          font-size: 20px;
        }
      }

      .newsletter-subtitle {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        margin: 0 auto 20px;
        @include max-medium() {
          font-size: 15px;
          line-height: 18px;
        }
      }

      .newsletter-form {
        @include display-flex();
        @include flex-direction-column();

        .newsletter-input {
          width: 100%;
          margin-bottom: 10px;

          input {
            @include f-normal();
            font-size: 16px;
            line-height: 1.2;
            color: #6A6A6A;
            background: #fff;
            width: 100%;
            height: 50px;
            @include display-flex();
            @include align-items-center();
            padding-left: 28px;
            padding-right: 28px;
            border: none;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
            @include border-radius(10px);
            outline: none;
            &::placeholder {
              @include f-normal();
              color: #6A6A6A;
            }
          }
        }

        .newsletter-button {
          width: 100%;
          border: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
//homepage styles end
//contact page styles start
.content__form {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 789px;
  padding: 71px 0 146px;
  .content-block {
    .content-title {
      @include f-semibold();
      color: #E2CF28;
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 30px;
      text-align: center;
      @include min-medium() {
        font-size: 60px;
        line-height: 67px;
        margin-bottom: 50px;
      }
    }
  }
}
//contact page styles end
//register page styles start
.content__form.register {
  background: transparent;
  form {
    padding: 50px 0px 50px 32px;
    @include max-large() {
      padding: 43px 20px 56px;
    }
    .form-block {

    }
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.57);
  backdrop-filter: blur(11px);
  display: none;
  z-index: 10;
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(219.06deg, #29165E -2.05%, #3E4030 60.43%);
    border-radius: 28px;
    padding: 119px 0 170px 0;
    @include max-medium() {
      padding: 100px 0;
    }
    .modal-close{
      position: absolute;
      top: 18px;
      right: 18px;
      cursor: pointer;
      outline: none;
      @include max-large() {
        -webkit-tap-highlight-color: transparent;
      }
      @include max-medium() {
        top: 13px;
        right: 13px;
      }
    }
    .modal-content{
      min-width: 770px;
      @include display-flex();
      @include flex-direction-column();
      @include justify-content-center();
      @include align-items-center();
      @include max-medium() {
        min-width: 343px;
      }
      .decor {
        position: absolute;
        left: 0;
        bottom: 0;
        pointer-events: none;
        max-width: 310px;
        @include max-medium() {
          display: none;
        }
      }
      .modal-title {
        @include f-semibold();
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        color: #E2CF28;
        margin: 0 auto 51px;
        max-width: 380px;
        @include max-medium() {
          margin: 0 auto 36px;
          max-width: 261px;
          font-size: 32px;
          line-height: 40px;
        }
      }
      .modal-btn {
        @include f-medium();
        min-width: 182px;
        height: 48px;
        @include display-flex();
        @include align-items-center();
        @include justify-content-center();
        background: linear-gradient(84.97deg, #F9E10F -2.57%, #253AF3 90.31%);
        border-radius: 10px;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
//register page styles end
.content__form.game {
  min-height: auto;
  @include transition(all .5s ease);
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  &.show {
    visibility: visible;
    opacity: 1;
  }
  .game-content {
    border-radius: 8px;
    padding: 20px;
    position: relative;
    iframe {
      width: 100%;
      min-height: 85vh;
      border: none;
      border-radius: 8px;
    }
    .game-close {
      position: absolute;
      right: 40px;
      top: 40px;
      z-index: 103;
      cursor: pointer;
    }
  }
}

body.page-template {
  p {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  h2 {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 1.1;
  }
}

// bg styles
.page-wrap{
 // position: relative;
}
.page-bg{
  position: absolute;
  top: 138px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include max-medium() {
    top: 150px;
  }
}
.page-content-bg{
  flex-grow: 1;
  background: rgb(48,27,101); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(48,27,101,1) 0%, rgba(33,28,92,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(48,27,101,1) 0%,rgba(33,28,92,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(48,27,101,1) 0%,rgba(33,28,92,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#301b65', endColorstr='#211c5c',GradientType=0 );
}
.page-content{
  position: relative;
}
// single game styles
.game-template-default, .page-template-default, .page-template-page-registration, .page-template-page-contact {
  .page-wrap {
    .page-bg {
      .hero-bg, .page-content-bg {
        display: none;
      }
      .footer-bg {
        flex-grow: 1;
        max-height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .page__content {
    padding-top: 50px;
    @include max-medium() {
      padding-top: 25px;
    }
  }
}
.game-template-default{

  &.overlayed {
    overflow: hidden;
    .container-wrapper, .header, .page__content, .footer {
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        background: rgba(0,0,0,0.85)!important;
        @include transition(all .5s ease);
      }
    }
  }
  .page__content {
    .container {
      background: transparent;
    }
    .page__content-title {

      .game-image {
        margin: 0 0 33px;
        width: 100%;
        @include display-flex();
        @include justify-content-center();
        img {
          max-width: 194px;
          height: auto;
        }
      }
      .game-subtitle {
        @include f-semibold();
        font-size: 30px;
        line-height: 1.1;
        color: #E2CF28;
        margin: 0 0 24px;
        @include min-medium() {
          font-size: 42px;
        }
      }
      .game-info {
        .game-title {
          max-width: 560px;
          margin: 0 auto 44px auto;
          @include f-semibold();
          font-size: 30px;
          line-height: 36px;
          text-align: center;
          color: #E2CF28;
          @include min-medium() {
            font-size: 42px;
            line-height: 51px;
          }
        }
        .game-description {
          color: #000;
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
    .page__content-wrapper {
      .page__content-main {
        h2 {
          @include f-semibold();
          font-size: 30px;
          line-height: 1.1;
          color: #E2CF28;
          margin: 0 0 24px;
          @include min-medium() {
            font-size: 42px;
          }
        }
        h3 {
          @include f-semibold();
          font-size: 24px;
          line-height: 1.1;
          color: #E2CF28;
          margin: 0 0 24px;
          @include min-medium() {
            font-size: 36px;
          }
        }
        p {
          @include f-normal();
          font-size: 16px;
          line-height: 24px;
          color: #fff;
          margin: 0 0 20px;
          @include min-medium() {
            font-size: 18px;
            margin: 0 0 30px;
          }
          b,strong {
            @include f-bold();
          }
        }
        a {
          color: #E2CF28;
          text-decoration: none;
          b,strong {
            @include f-bold();
          }
        }
        b,strong {
          @include f-bold();
        }
      }
      .page__content-window {
        margin-bottom: 105px;
        @include max-medium() {
          margin-bottom: 50px;
        }
        .game-window {
          margin: 30px auto 0 auto;
          cursor: pointer;
          display: inline-flex;
          @include align-items-center();
          position: relative;
          .game-button {
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
            z-index: 1;
            @include max-medium() {
              min-width: 205px;
            }

          }
          .game-background-image {
            overflow: hidden;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.1);
              pointer-events: none;
              @include border-radius(8px);
            }
            img {
              display: block;
              width: 100%;
              object-fit: cover;
              height: 457px;
              @include border-radius(10px);
            }
          }
          .game-image {
            position: absolute;
            bottom: 5px;
            left: 20px;
            max-width: 140px;
          }
          .game-provider {
            position: absolute;
            top: 22px;
            left: 34px;
            max-width: 120px;
          }
        }
        .game-disclaimer {
          margin-top: 16px;
          @include f-semibold();
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #E2CF28;
          @include min-medium() {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
.page-template-default {
  .page__content {
    background: transparent;
    padding-top: 40px;
    padding-bottom: 60px;
    @include min-medium() {
      padding-top: 90px;
      padding-bottom: 110px;
    }
    .page__content-title,
    h1,
    h2 {
      @include f-semibold();
      font-size: 30px;
      line-height: 1.1;
      text-align: center;
      color: #E2CF28;
      margin: 0 0 33px;
      @include min-medium() {
        font-size: 42px;
      }
      b, strong {
        @include f-bold();
      }
    }
    h3 {
      @include f-semibold();
      font-size: 22px;
      line-height: 28px;
      margin: 0px 0 16px;
      color: #E2CF28;
      @include min-medium() {
        font-size: 26px;
        line-height: 30px;
        margin: 0px 0 32px;
      }
    }
    p {
      @include f-medium();
      font-size: 16px;
      color: #fff;
      line-height: 26px;
      margin: 0 0 40px;
      b, strong {
        @include f-bold();
      }
      @include min-medium() {
        font-size: 18px;
      }
    }
  }
}
.page-template-page-registration {
  .page-content {
    .button {
      min-width: 233px;
      border: none;
    }
  }
}

form {
  display: block;
  background: linear-gradient(219.06deg, #29165E -2.05%, #3E4030 60.43%);
  border-radius: 28px;
  @include display-flex();
  @include flex-direction-column();
  padding: 50px 30px;
  @include max-small() {
    padding: 30px 16px;
  }

    .form-block {
      width: 100%;
      max-width: 532px;
      margin: 0 auto;
      .block-l {
        margin: 0 30.5px 0 0;
      }
      .block-r {
      }

      .form-group {
        margin: 0 0 40px;
        @include max-large() {
          margin: 0 0 24px;
        }

        .label-wrapper {
          margin: 0 0 17px;
          padding-left: 15px;
          @include max-large() {
            margin: 0 0 12px;
          }

          label {
            @include f-semibold();
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;
            @include min-medium() {
              font-size: 18px;
            }
          }

          &.required {
            label {
              position: relative;

              &::before {
                content: '*';
                position: absolute;
                right: -10px;
                top: -5px;
                color: #EE6B73;
              }
            }
          }
        }

        .input-wrapper {
          vertical-align: middle;
          position: relative;

          input {
            @include f-normal();
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
            border-radius: 14px;
            font-size: 16px;
            border: none;
            background: #fff;
            color: #6A6A6A;
            outline: none;
            width: 100%;
            height: 77px;
            padding: 0 20px;
            @include display-flex();
            @include align-items-center();
            @include transition(all .5s ease);
            @include max-large() {
              height: 48px;
              padding: 0 0 0 18px;
            }
            @include min-large() {
              &:hover {
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
              }
            }
            &::placeholder {
              @include f-normal();
              color: #6A6A6A;
              font-size: 16px;
            }
            &:focus {
              box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
            }
          }

          textarea {
            background: #FFFFFF;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
            border-radius: 14px;
            resize: none;
            border: none;
            color: #6A6A6A;
            outline: none;
            width: 100%;
            height: 234px;
            padding: 27px 20px;
            @include max-medium() {
              height: 150px;
            }
          }

          .wpcf7-form-control-wrap {
          }
        }
      }
    }

  .submit-block {
    @include display-flex();
    @include justify-content-center();
    .form-submit-btn {
      @include f-bold();
      text-transform: uppercase;
      font-size: 16px;
      line-height: 23px;
      border: none;
      background: linear-gradient(84.97deg, #F9E10F -2.57%, #253AF3 90.31%);
      border-radius: 10px;
      outline: none;
      color: #fff;
      width: 100%;
      max-width: 532px;
      margin: 0 auto;
      height: 50px;
      @include display-flex();
      @include justify-content-center();
      @include align-items-center();
      cursor: pointer;
      @include transition(all .5s ease);
      @include max-large() {
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
  .wpcf7-not-valid-tip {
    color: #EE6B73;
    font-size: 14px;
    min-width: 200px;
    position: absolute;
    left: 0;
  }
  .wpcf7-response-output {
    border: none!important;
    color: #EE6B73;
    font-size: 14px;
    text-align: center;

  }
}