@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
.header {
  padding-top: 18px;
  padding-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 10;
  background: #ffffff;
  width: 100%;
}

.header-burger {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-50% - 455px), calc(-50% - -13px));
          transform: translate(calc(-50% - 455px), calc(-50% - -13px));
  width: 35px;
}

@media (max-width: 1200px) {
  .header-burger {
    left: 30px;
    -webkit-transform: translate(calc(-50% - 0px), calc(-50% - -13px));
            transform: translate(calc(-50% - 0px), calc(-50% - -13px));
  }
}

.header-burger_active .header-burger__span::before {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.header-burger_active .header-burger__span::after {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.header-burger_active .header-burger__span {
  height: 0;
}

.header-burger__span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 28px;
  height: 2px;
  background: #0085FF;
}

.header-burger__span::before {
  content: '';
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -14px;
  width: 28px;
  height: 2px;
  background: #0085FF;
}

.header-burger__span::after {
  content: '';
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -14px;
  width: 28px;
  height: 2px;
  background: #0085FF;
}

.header-search {
  width: 20px;
  margin-top: 6px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(calc(-50% - 440px), calc(-50% - -10px));
          transform: translate(calc(-50% - 440px), calc(-50% - -10px));
}

@media (max-width: 1200px) {
  .header-search {
    left: 92%;
    -webkit-transform: translate(calc(-50% - 0px), calc(-50% - -10px));
            transform: translate(calc(-50% - 0px), calc(-50% - -10px));
  }
}

@media (max-width: 992px) {
  .header-search {
    left: 90%;
  }
}

@media (max-width: 768px) {
  .header-search {
    left: 85%;
  }
}

@media (max-width: 576px) {
  .header-search {
    left: 80%;
  }
}

.header-search__input {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(calc(-50% - 310px), calc(-50% - -2px));
          transform: translate(calc(-50% - 310px), calc(-50% - -2px));
  opacity: 0;
  width: 220px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-left: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 10px;
  border: 2px solid #C4C4C4;
  outline: none;
  background: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

@media (max-width: 1200px) {
  .header-search__input {
    -webkit-transform: translate(calc(-50% - -280px), calc(-50% - -2px));
            transform: translate(calc(-50% - -280px), calc(-50% - -2px));
  }
}

.header-search__input_active {
  opacity: 1;
}

@media (max-width: 1200px) {
  .header-search__input_active .header-search {
    opacity: 0;
  }
}

.header-search__span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transform: translate(calc(-50% - 165px), calc(-50% - -2px));
          transform: translate(calc(-50% - 165px), calc(-50% - -2px));
  width: 28px;
  height: 0px;
  background: #0085FF;
  cursor: pointer;
  opacity: 0;
}

@media (max-width: 1200px) {
  .header-search__span {
    -webkit-transform: translate(calc(-50% - -422px), calc(-50% - 0px));
            transform: translate(calc(-50% - -422px), calc(-50% - 0px));
  }
}

.header-search__span_active {
  opacity: 1;
}

.header-search__span::before {
  content: '';
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -14px;
  width: 28px;
  height: 2px;
  background: #0085FF;
}

.header-search__span::after {
  content: '';
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -14px;
  width: 28px;
  height: 2px;
  background: #0085FF;
}

.header-logo {
  color: #0085FF;
  font-size: 24px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.games {
  padding-bottom: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .games {
    width: 736px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .games {
    width: 345px;
  }
}

@media (max-width: 370px) {
  .games {
    width: 320px;
  }
}

.games-item {
  margin: 14px;
  width: 148px;
  height: 206px;
  text-decoration: none;
  position: relative;
  border-radius: 25px;
}

@media (max-width: 1200px) {
  .games-item {
    margin: 8px;
  }
}

@media (max-width: 370px) {
  .games-item {
    margin: 6px;
  }
}

.games-item__image {
  position: relative;
  z-index: -2;
}

.games-item__title {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  background: rgba(0, 133, 255, 0.8);
  border-radius: 0px 0px 25px 25px;
  min-height: 50px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.games-item:hover {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.games-item:hover .games-item__button {
  opacity: 1;
}

.games-item:hover .games-item__title {
  z-index: -1;
}

.games-item__button {
  border: 7px solid #ffffff;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(calc(-50% - 0px), calc(-50% - 10px));
          transform: translate(calc(-50% - 0px), calc(-50% - 10px));
  background: transparent;
  opacity: 0;
  cursor: pointer;
}

.games-item__button__image {
  padding-left: 5px;
}

.about {
  padding: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0085FF;
}

@media (max-width: 1200px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 72px 0;
  }
}

.about-item {
  width: 219px;
  margin: 0 14px;
}

@media (max-width: 1200px) {
  .about-item {
    margin: 36px 44px;
    width: 315px;
  }
}

.about-item__image {
  width: 148px;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  background: #ffffff;
}

.about-item__title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 14px;
}

@media (max-width: 1200px) {
  .about-item__title {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.about-item__subtitle {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 1200px) {
  .about-item__subtitle {
    font-size: 14px;
  }
}

.footer {
  padding-top: 89px;
  padding-bottom: 94px;
  background: #00154A;
}

@media (max-width: 1200px) {
  .footer {
    padding-top: 52px;
    padding-bottom: 51px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 54px;
    padding-bottom: 54px;
  }
}

.footer-sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

@media (max-width: 768px) {
  .footer-sponsors {
    margin-bottom: 0;
  }
}

.footer-sponsors__item {
  color: #0085FF;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0 32px;
}

@media (max-width: 1200px) {
  .footer-sponsors__item {
    margin: 0 13px;
  }
}

@media (max-width: 768px) {
  .footer-sponsors__item {
    margin: 0 10px;
  }
}

@media (max-width: 370px) {
  .footer-sponsors__item {
    margin: 0 5px;
  }
}

.footer-sponsors__item:first-child {
  margin-left: 140px;
}

@media (max-width: 768px) {
  .footer-sponsors__item:first-child {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .footer-sponsors__item:last-child {
    margin: 0;
  }
}

.footer-mga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .footer-mga {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-mga__logo {
  width: 111px;
}

@media (max-width: 1200px) {
  .footer-mga__logo {
    width: 75px;
  }
}

@media (max-width: 768px) {
  .footer-mga__logo {
    margin: 30px auto;
  }
}

.footer-mga__text {
  font-size: 12px;
  line-height: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #ffffff;
  width: 800px;
  margin-left: 44px;
}

@media (max-width: 1200px) {
  .footer-mga__text {
    font-size: 8px;
    line-height: 10px;
    width: 442px;
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .footer-mga__text {
    margin: auto;
    width: 343px;
  }
}

@media (max-width: 370px) {
  .footer-mga__text {
    width: 300px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.banner {
  padding-top: 118px;
  position: relative;
  top: 65px;
  height: 400px;
  min-height: 400px;
}

@media (max-width: 1200px) {
  .banner {
    height: 304px;
  }
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  min-height: 390px;
  background: url("../img/banner-bg.jpg") no-repeat;
  background-size: cover;
  z-index: -2;
}

@media (max-width: 1200px) {
  .banner::before {
    height: 304px;
    background-size: 100% cover;
    background-position: center center;
  }
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 400px;
  background: rgba(0, 21, 74, 0.15);
  z-index: -1;
}

@media (max-width: 1200px) {
  .banner::after {
    max-height: 304px;
  }
}

.banner-title {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 44px;
  width: 546px;
  margin: auto;
  text-align: center;
  line-height: 54px;
}

@media (max-width: 1200px) {
  .banner-title {
    font-size: 36px;
    line-height: 44px;
    width: 407px;
  }
}

@media (max-width: 576px) {
  .banner-title {
    font-size: 28px;
    line-height: 34px;
    width: 300px;
  }
}

.disclaimer {
  margin: 36px auto;
  margin-top: 101px;
  text-align: center;
  width: 468px;
  font-size: 15px;
  line-height: 18px;
  color: #0E1F49;
}

@media (max-width: 1200px) {
  .disclaimer {
    font-size: 16px;
    line-height: 20px;
    width: 320px;
  }
}

@media (max-width: 576px) {
  .disclaimer {
    width: 305px;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 36px;
}

.button {
  width: 220px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 11px;
  -webkit-box-shadow: 0px 5px 20px rgba(187, 202, 217, 0.5);
          box-shadow: 0px 5px 20px rgba(187, 202, 217, 0.5);
  margin: auto 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 32px;
  background: #ffffff;
  font-size: 15px;
}

@media (max-width: 576px) {
  .button {
    width: 163px;
    margin: auto 8px;
    padding: 12px 21px;
    font-size: 12px;
  }
}

@media (max-width: 370px) {
  .button {
    width: 120px;
  }
}

.button:hover {
  cursor: pointer;
  border-color: #0085FF;
}

.button_active {
  border: 2px solid #0085FF;
}

.button-icon {
  margin-right: 10px;
}

@media (max-width: 576px) {
  .button-icon {
    margin-right: 5px;
  }
}

@media (max-width: 370px) {
  .button-icon {
    width: 100%;
  }
}

.button-title {
  color: #0E1F49;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 136px;
}
/*# sourceMappingURL=product.css.map */