//===========================
// Main colors
//===========================

$primary_color: #021D49;
$light_color: #A3ADC7;
$medium_color: #888BAB;
$border_color: rgba(255,255,255,0.15);
$body_color: #1D1F30;
