@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300;400;500;600;700&display=swap");
:root {
  --page-bg: #0E1229;
  --accent-color: #FFB432;
  --text-color: #0E1229;
  --text-bg: linear-gradient(349.41deg, #FFB432 24.08%, #FFD996 69.89%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

html, body {
  height: 100%;
}

body.overflow-hidden {
  overflow: hidden;
}

img {
  max-width: 100%;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  outline: none;
}
@media only screen and (max-width: 1240px) {
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 1241px) {
  .container {
    max-width: 1200px;
    padding: 0;
  }
}

.main-title-big {
  background: var(--text-bg);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  line-height: 44px;
}
@media only screen and (min-width: 992px) {
  .main-title-big {
    font-size: 62px;
    line-height: 92px;
  }
}

.main-title-medium {
  background: var(--text-bg);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 26px;
  line-height: 39px;
}
@media only screen and (min-width: 992px) {
  .main-title-medium {
    font-size: 48px;
    line-height: 71px;
  }
}

.title-bg-default {
  background: var(--text-bg);
  -webkit-background-clip: text;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
@media only screen and (min-width: 992px) {
  .title-bg-default {
    font-size: 28px;
    line-height: 41px;
  }
}

.button {
  cursor: pointer;
  min-width: 211px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--text-color);
  font-size: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  background: linear-gradient(285.07deg, #FFAF30 0.61%, #FFE94F 99.41%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 1241px) {
  .button {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
  }
}
.button .name {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 20px;
}

.header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #000;
}
.header.active {
  background: var(--page-bg);
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 101;
}
.header.active .header-mobile {
  background: #000;
  position: relative;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header.active .header-mobile .header-block {
  height: 85vh;
}
.header.active .header-mobile .header-bottom {
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.header .header-block {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.header .header-block .header-logo {
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 1241px) {
  .header .header-block .header-logo:hover {
    transform: scale(1.1);
  }
}
.header .header-block .header-logo img {
  max-width: 180px;
  min-height: 65px;
  max-height: 65px;
  object-fit: contain;
}
.header .header-block .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-block .header-menu li {
  margin: 0 70px 0 0;
}
.header .header-block .header-menu li:last-child {
  margin: 0;
}
.header .header-block .header-menu li a {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #fff;
}
@media only screen and (min-width: 992px) {
  .header .header-block .header-menu li a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header .header-block .header-menu li a:hover {
    color: var(--accent-color);
  }
}
.header .header-block .header-menu li.current-menu-item a {
  color: var(--accent-color);
}
.header .header-block .header-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.header .header-block .header-sign .button-wrapper {
  position: relative;
  background: linear-gradient(180deg, #FEB745 0%, #FE903B 100%);
  box-shadow: 0px 8px 4px rgba(255, 167, 65, 0.09), 0px 3px 0px rgba(139, 139, 139, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 184px;
  max-width: 184px;
  height: 49px;
}
@media only screen and (min-width: 1241px) {
  .header .header-block .header-sign .button-wrapper:hover .decor img {
    transform: translateY(-5px);
  }
}
.header .header-block .header-sign .button-wrapper .decor {
  position: absolute;
  top: 50%;
  left: -26px;
  transform: translate(0, -50%);
  min-width: 223px;
  max-width: 223px;
}
.header .header-block .header-sign .button-wrapper .decor img {
  transform: translateY(0px);
  transition: all 0.5s ease;
}
.header .header-block .header-sign .button-wrapper .name {
  font-size: 20px;
  line-height: 25px;
}
.header .header-desktop {
  display: none;
}
@media only screen and (min-width: 1241px) {
  .header .header-desktop {
    display: block;
  }
}
.header .header-mobile {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 1241px) {
  .header .header-mobile {
    display: none;
  }
}
.header .header-mobile .header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.header .header-mobile .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}
.header .header-mobile .header-top .burger {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 1240px) {
  .header .header-mobile .header-top .burger {
    -webkit-tap-highlight-color: transparent;
  }
}
.header .header-mobile .header-top .burger .burger-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 48px;
  height: 17px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .header-mobile .header-top .burger .burger-wrapper div {
  position: absolute;
  display: inline-block;
  height: 4px;
  background: var(--accent-color);
  border-radius: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .header-mobile .header-top .burger .burger-wrapper .line-1 {
  width: 48px;
}
.header .header-mobile .header-top .burger .burger-wrapper .line-2 {
  width: 48px;
  bottom: 0;
  right: 0;
}
.header .header-mobile .header-top .burger .burger-wrapper .line-3 {
  width: 24px;
  bottom: -12px;
  left: 0;
}
.header .header-mobile .header-top .burger.active .burger-wrapper {
  width: 38px;
  height: 38px;
}
.header .header-mobile .header-top .burger.active .burger-wrapper div {
  width: 40px;
  top: 50%;
}
.header .header-mobile .header-top .burger.active .burger-wrapper .line-1 {
  transform: rotate(-45deg) translate(0, -50%);
}
.header .header-mobile .header-top .burger.active .burger-wrapper .line-3 {
  opacity: 0;
  visibility: hidden;
}
.header .header-mobile .header-top .burger.active .burger-wrapper .line-2 {
  transform: rotate(45deg) translate(0, -50%);
}
.header .header-mobile .header-bottom {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .header-mobile .header-bottom .header-menu {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px;
}
.header .header-mobile .header-bottom .header-menu li {
  margin: 12px 0;
}
.header .header-mobile .header-bottom .header-menu li a {
  font-size: 28px;
  line-height: 1.4;
}
.header .header-mobile .header-bottom .header-menu li a.active::before {
  display: none;
}
.header .header-mobile .header-bottom .header-menu li.current-menu-item a::before {
  display: none;
}
.header .header-mobile .header-bottom .header-sign {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer .decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0px;
}
.footer .footer-top .footer-block {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .footer .footer-top .footer-block {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.footer .footer-top .footer-block .footer-logo {
  display: block;
  text-align: center;
}
.footer .footer-top .footer-block .footer-logo img {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  max-width: 180px;
  min-height: 65px;
  max-height: 65px;
  object-fit: contain;
}
@media only screen and (min-width: 1241px) {
  .footer .footer-top .footer-block .footer-logo:hover img {
    transform: scale(1.1);
  }
}
.footer .footer-top .footer-block .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .footer .footer-top .footer-block .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer .footer-top .footer-block .footer-info .disclaimer {
  margin-top: 24px;
}
@media only screen and (min-width: 992px) {
  .footer .footer-top .footer-block .footer-info .disclaimer {
    margin-top: 22px;
    max-width: 570px;
  }
}
.footer .footer-top .footer-block .footer-info .disclaimer h2 {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}
.footer .footer-top .footer-block .footer-info .disclaimer h2 strong {
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.footer .footer-top .footer-block .footer-info .disclaimer p {
  text-transform: uppercase;
}
.footer .footer-top .footer-block .footer-info .disclaimer p strong {
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.footer .footer-top .footer-block .footer-info .disclaimer a {
  text-decoration: none;
  color: var(--accent-color);
}
.footer .footer-top .footer-block .footer-info .disclaimer a strong {
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.footer .footer-top .footer-block .footer-info .description {
  margin-top: 16px;
}
@media only screen and (min-width: 992px) {
  .footer .footer-top .footer-block .footer-info .description {
    max-width: 570px;
  }
}
.footer .footer-top .footer-block .footer-info .description p {
  font-size: 17px;
  line-height: 23px;
  color: #fff;
}
.footer .footer-top .footer-block .footer-info .description p strong {
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.footer .footer-top .footer-block .footer-info .description a {
  font-size: 17px;
  line-height: 23px;
  color: #FAE100;
}
.footer .footer-top .footer-block .footer-info .description a strong {
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.footer .footer-top .footer-block .footer-info-2 {
  margin-top: 24px;
}
@media only screen and (min-width: 992px) {
  .footer .footer-top .footer-block .footer-info-2 {
    margin-top: 40px;
  }
}
.footer .footer-top .footer-block .footer-info-2 .description p {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  text-transform: uppercase;
}
.footer .footer-top .footer-block .footer-info-2 .description p strong {
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.footer .footer-top .footer-block .footer-info-2 .description a {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--accent-color);
  text-decoration: underline;
}
.footer .footer-top .footer-block .footer-info-2 .description a strong {
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.footer .footer-bottom {
  background: #0E1229;
  text-align: center;
  padding: 52px 0;
}
@media only screen and (max-width: 1240px) {
  .footer .footer-bottom {
    padding: 20px 16px;
  }
}
.footer .footer-bottom .copyright {
  color: #fff;
}
.footer .footer-bottom .copyright strong {
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.hero {
  padding-top: 31px;
}
@media only screen and (min-width: 992px) {
  .hero {
    padding-top: 56px;
  }
}
.hero .hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .hero .hero-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 60px;
  }
}
.hero .hero-block .hero-title-wrapper {
  padding: 0 16px;
}
.hero .hero-block .hero-title-wrapper .hero-title {
  margin-bottom: 20px;
}
.hero .hero-block .hero-title-wrapper .hero-description {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .hero .hero-block .hero-title-wrapper .hero-description {
    max-width: 680px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 27px;
  }
}

.content {
  padding-bottom: 50px;
}
@media only screen and (min-width: 992px) {
  .content {
    padding-bottom: 100px;
  }
}
.content .content-block .content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}
.content .content-block .content-description {
  text-align: center;
}
.content .content-block .content-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -24px;
  margin-top: 60px;
}
@media only screen and (max-width: 1240px) {
  .content .content-block .content-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: -24px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .content .content-block .content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: -24px 0;
    margin-top: 32px;
  }
}
.content .content-block .content-list .content-list-item {
  width: 33.33%;
  padding: 0 24px;
}
@media only screen and (max-width: 1240px) {
  .content .content-block .content-list .content-list-item {
    width: 50%;
    padding: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .content .content-block .content-list .content-list-item {
    width: 100%;
    padding: 24px 0;
  }
}
.content .content-block .content-list .content-list-item .item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content .content-block .content-list .content-list-item .item-wrapper .icon {
  margin-bottom: 20px;
}
.content .content-block .content-list .content-list-item .item-wrapper .icon img {
  width: 100%;
  display: block;
  height: 282px;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  .content .content-block .content-list .content-list-item .item-wrapper .icon img {
    height: 404px;
  }
}
.content .content-block .content-list .content-list-item .item-wrapper .title {
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
}
@media only screen and (min-width: 992px) {
  .content .content-block .content-list .content-list-item .item-wrapper .title {
    font-size: 28px;
    line-height: 41px;
  }
}
.games, .related-posts {
  overflow-x: hidden;
  padding-bottom: 124px;
}
@media only screen and (min-width: 992px) {
  .games, .related-posts {
    padding-bottom: 150px;
  }
}
.games .games-block .games-title-wrapper, .related-posts .games-block .games-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 64px;
}
@media only screen and (max-width: 1240px) {
  .games .games-block .games-title-wrapper, .related-posts .games-block .games-title-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px;
  }
}
.games .games-block .games-title-wrapper .games-title, .related-posts .games-block .games-title-wrapper .games-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media only screen and (max-width: 991px) {
  .games .games-block .games-title-wrapper .games-title, .related-posts .games-block .games-title-wrapper .games-title {
    margin-bottom: 16px;
  }
}
.games .games-block .games-title-wrapper .games-title .title, .related-posts .games-block .games-title-wrapper .games-title .title {
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .games .games-block .games-title-wrapper .games-title .title, .related-posts .games-block .games-title-wrapper .games-title .title {
    margin-bottom: 60px;
  }
}
.games .games-block .games-title-wrapper .games-title .description, .related-posts .games-block .games-title-wrapper .games-title .description {
  text-align: center;
}
.games .games-block .games-title-wrapper .slider-navigation, .related-posts .games-block .games-title-wrapper .slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.games .games-block .games-title-wrapper .slider-navigation .slider-button-prev, .related-posts .games-block .games-title-wrapper .slider-navigation .slider-button-prev {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 30px;
}
.games .games-block .games-title-wrapper .slider-navigation img, .related-posts .games-block .games-title-wrapper .slider-navigation img {
  max-height: 35px;
}
.games .games-block .games-title-wrapper .slider-navigation .slider-button-prev, .games .games-block .games-title-wrapper .slider-navigation .slider-button-next, .related-posts .games-block .games-title-wrapper .slider-navigation .slider-button-prev, .related-posts .games-block .games-title-wrapper .slider-navigation .slider-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  max-height: 35px;
}
.games .games-block .games-title-wrapper .slider-navigation .slider-button-prev.swiper-button-disabled, .games .games-block .games-title-wrapper .slider-navigation .slider-button-next.swiper-button-disabled, .related-posts .games-block .games-title-wrapper .slider-navigation .slider-button-prev.swiper-button-disabled, .related-posts .games-block .games-title-wrapper .slider-navigation .slider-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.games .games-card-list, .related-posts .games-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.games .games-card-list .game-card, .related-posts .games-card-list .game-card {
  width: 100%;
  outline: none;
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  .games .games-card-list .game-card, .related-posts .games-card-list .game-card {
    width: 25%;
    margin-bottom: 4px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .games .games-card-list .game-card:hover, .related-posts .games-card-list .game-card:hover {
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.games .games-card-list .game-card .game-card-wrapper, .related-posts .games-card-list .game-card .game-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
  position: relative;
}
.games .games-card-list .game-card .game-card-wrapper .info-wrapper, .related-posts .games-card-list .game-card .game-card-wrapper .info-wrapper {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 7px 20px;
}
.games .games-card-list .game-card .game-card-wrapper .image, .related-posts .games-card-list .game-card .game-card-wrapper .image {
  min-height: 343px;
  max-height: 343px;
}
@media only screen and (min-width: 992px) {
  .games .games-card-list .game-card .game-card-wrapper .image, .related-posts .games-card-list .game-card .game-card-wrapper .image {
    min-height: 300px;
    max-height: 300px;
  }
}
.games .games-card-list .game-card .game-card-wrapper .image img, .related-posts .games-card-list .game-card .game-card-wrapper .image img {
  width: 100%;
  object-fit: cover;
  min-height: 343px;
  max-height: 343px;
}
@media only screen and (min-width: 992px) {
  .games .games-card-list .game-card .game-card-wrapper .image img, .related-posts .games-card-list .game-card .game-card-wrapper .image img {
    min-height: 300px;
    max-height: 300px;
  }
}
.games .games-card-list .game-card .game-card-wrapper .title, .related-posts .games-card-list .game-card .game-card-wrapper .title {
  margin-bottom: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}
.games .games-card-list .game-card .game-card-wrapper .rating, .related-posts .games-card-list .game-card .game-card-wrapper .rating {
  position: relative;
  max-width: 70px;
}
.games .games-card-list .game-card .game-card-wrapper .rating .rating-inner, .related-posts .games-card-list .game-card .game-card-wrapper .rating .rating-inner {
  z-index: 4;
  overflow: hidden;
}
.games .games-card-list .game-card .game-card-wrapper .rating .rating-outer, .related-posts .games-card-list .game-card .game-card-wrapper .rating .rating-outer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.games .games-card-list .game-card .game-card-wrapper .rating .rating-inner, .games .games-card-list .game-card .game-card-wrapper .rating .rating-outer, .related-posts .games-card-list .game-card .game-card-wrapper .rating .rating-inner, .related-posts .games-card-list .game-card .game-card-wrapper .rating .rating-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.games .games-card-list .game-card .game-card-wrapper .rating .rating-inner .star img, .games .games-card-list .game-card .game-card-wrapper .rating .rating-outer .star img, .related-posts .games-card-list .game-card .game-card-wrapper .rating .rating-inner .star img, .related-posts .games-card-list .game-card .game-card-wrapper .rating .rating-outer .star img {
  min-width: 14px;
  max-width: 14px;
  min-height: 14px;
  max-height: 14px;
}
.related-posts {
  background: none;
  margin-top: 30px;
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .related-posts {
    margin-top: 100px;
  }
}
.related-posts .related-posts-title {
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .related-posts .related-posts-title {
    margin-bottom: 60px;
    text-align: left;
  }
}
.related-posts .games-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.related-posts .games-card-list .game-card {
  width: 100%;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .related-posts .games-card-list .game-card {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .related-posts .games-card-list .game-card {
    width: 33%;
  }
}

.newsletter {
  margin-bottom: 40px;
}
@media only screen and (min-width: 992px) {
  .newsletter {
    margin-bottom: 100px;
  }
}
.newsletter .newsletter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 20px;
  background: #000;
}
@media only screen and (min-width: 992px) {
  .newsletter .newsletter-block {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 60px;
    padding-left: 70px;
  }
}
.newsletter .newsletter-block .newsletter-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .newsletter .newsletter-block .newsletter-block-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.newsletter .newsletter-block .newsletter-title {
  font-size: 28px;
  line-height: 41px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.newsletter .newsletter-block .newsletter-subtitle {
  text-align: center;
  margin-bottom: 20px;
}
.newsletter .newsletter-block .newsletter-image {
  margin-top: -130px;
  margin-right: 70px;
}
@media only screen and (max-width: 991px) {
  .newsletter .newsletter-block .newsletter-image {
    display: none;
  }
}
.newsletter .newsletter-block .newsletter-image img {
  width: 100%;
  display: block;
  min-width: 342px;
  max-width: 342px;
  min-height: 342px;
  max-height: 342px;
  object-fit: contain;
}
.newsletter .newsletter-block .newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 713px;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .newsletter .newsletter-block .newsletter-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.newsletter .newsletter-block .newsletter-form .newsletter-input {
  flex-grow: 1;
  margin-right: 10px;
}
@media only screen and (max-width: 991px) {
  .newsletter .newsletter-block .newsletter-form .newsletter-input {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.newsletter .newsletter-block .newsletter-form .newsletter-input input {
  color: #fff;
  background: #1B2144;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  outline: none;
  margin-right: 20px;
}
@media only screen and (max-width: 991px) {
  .newsletter .newsletter-block .newsletter-form .newsletter-input input {
    margin-right: 0;
  }
}
.newsletter .newsletter-block .newsletter-form .newsletter-button {
  height: 50px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  border: none;
}
.newsletter .newsletter-block .newsletter-form .newsletter-button .name {
  text-transform: capitalize;
}
.content__form {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 789px;
  padding: 71px 0 146px;
}
.content__form .content-block .content-title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  .content__form .content-block .content-title {
    font-size: 60px;
    line-height: 67px;
    margin-bottom: 44px;
  }
}
.content__form .content-block form {
  background: #000;
  padding: 50px 32px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block form {
    border: none;
  }
}
.content__form .content-block form .form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block form .form-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 8px;
  }
}
.content__form .content-block form .form-block .block-l {
  margin: 0 30.5px 0 0;
  flex-basis: 50%;
}
.content__form .content-block form .form-block .block-r {
  flex-basis: 50%;
}
.content__form .content-block form .form-block .form-group {
  margin: 0 0 40px;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block form .form-block .form-group {
    margin: 0 0 24px;
  }
}
.content__form .content-block form .form-block .form-group .label-wrapper {
  margin: 0 0 17px;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block form .form-block .form-group .label-wrapper {
    margin: 0 0 12px;
  }
}
.content__form .content-block form .form-block .form-group .label-wrapper label {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.content__form .content-block form .form-block .form-group .label-wrapper.required label {
  position: relative;
}
.content__form .content-block form .form-block .form-group .label-wrapper.required label::before {
  content: "*";
  position: absolute;
  right: -10px;
  top: -5px;
  color: var(--accent-color);
}
.content__form .content-block form .form-block .form-group .input-wrapper {
  vertical-align: middle;
  position: relative;
}
.content__form .content-block form .form-block .form-group .input-wrapper input {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: none;
  background: #1B2144;
  color: #fff;
  outline: none;
  width: 100%;
  height: 77px;
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 1240px) {
  .content__form .content-block form .form-block .form-group .input-wrapper input {
    height: 48px;
    padding: 0 0 0 18px;
  }
}
@media only screen and (min-width: 1241px) {
  .content__form .content-block form .form-block .form-group .input-wrapper input:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
  }
}
.content__form .content-block form .form-block .form-group .input-wrapper input:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
}
.content__form .content-block form .form-block .form-group .input-wrapper textarea {
  resize: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: none;
  background: #1B2144;
  color: #fff;
  outline: none;
  width: 100%;
  height: 234px;
  padding: 27px 27px 0;
}
@media only screen and (max-width: 991px) {
  .content__form .content-block form .form-block .form-group .input-wrapper textarea {
    height: 150px;
  }
}
.content__form .content-block form .submit-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content__form .content-block form .submit-block .form-submit-btn {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  height: 50px;
  min-width: 142px;
}

.content__form.register form {
  padding: 50px 0px 50px 32px;
}
@media only screen and (max-width: 1240px) {
  .content__form.register form {
    padding: 43px 20px 56px;
  }
}
.content__form.register form .form-block {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.content__form.register form .form-block .form-group {
  width: 50%;
  padding: 0 31.5px 0 0;
}
@media only screen and (max-width: 1240px) {
  .content__form.register form .form-block .form-group {
    width: 100%;
    padding: 0;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.57);
  backdrop-filter: blur(11px);
  display: none;
}
.modal-overlay .modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1B2144;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 119px 0 96px;
  border-radius: 15px;
}
.modal-overlay .modal-window .modal-close {
  position: absolute;
  top: 48px;
  right: 48px;
  cursor: pointer;
  outline: none;
}
@media only screen and (max-width: 1240px) {
  .modal-overlay .modal-window .modal-close {
    -webkit-tap-highlight-color: transparent;
  }
}
@media only screen and (max-width: 991px) {
  .modal-overlay .modal-window .modal-close {
    top: 13px;
    right: 13px;
  }
}
.modal-overlay .modal-window .modal-content {
  min-width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .modal-overlay .modal-window .modal-content {
    min-width: 343px;
  }
}
.modal-overlay .modal-window .modal-content .decor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.modal-overlay .modal-window .modal-content .modal-title {
  margin: 0 auto 51px;
  max-width: 375px;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .modal-overlay .modal-window .modal-content .modal-title {
    margin: 0 auto 36px;
    max-width: 700px;
  }
}
.modal-overlay .modal-window .modal-content .modal-btn {
  min-width: 240px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.content__form.game {
  min-height: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.content__form.game.show {
  visibility: visible;
  opacity: 1;
}
.content__form.game .game-content {
  border-radius: 8px;
  padding: 20px;
  position: relative;
}
.content__form.game .game-content iframe {
  width: 100%;
  min-height: 85vh;
  border: none;
  border-radius: 8px;
}
.content__form.game .game-content .game-close {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 103;
  cursor: pointer;
}

body.page-template p {
  margin-bottom: 20px;
  line-height: 1.5;
}
body.page-template h2 {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 1.1;
}

.page-wrap {
  position: relative;
}

.page-bg {
  position: absolute;
  top: 124px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--page-bg);
}
@media only screen and (max-width: 1240px) {
  .page-bg {
    top: 65px;
  }
}

.page-content-bg {
  flex-grow: 1;
  background: #14172c;
}

.page-content {
  position: relative;
  z-index: 100;
}

.hero-bg img {
  width: 100%;
  vertical-align: top;
}

.footer-bg img {
  width: 100%;
  vertical-align: top;
}

.game-template-default .page-wrap .page-bg .hero-bg, .game-template-default .page-wrap .page-bg .page-content-bg, .page-template-default .page-wrap .page-bg .hero-bg, .page-template-default .page-wrap .page-bg .page-content-bg, .page-template-page-registration .page-wrap .page-bg .hero-bg, .page-template-page-registration .page-wrap .page-bg .page-content-bg, .page-template-page-contact .page-wrap .page-bg .hero-bg, .page-template-page-contact .page-wrap .page-bg .page-content-bg {
  display: none;
}
.game-template-default .page-wrap .page-bg .footer-bg, .page-template-default .page-wrap .page-bg .footer-bg, .page-template-page-registration .page-wrap .page-bg .footer-bg, .page-template-page-contact .page-wrap .page-bg .footer-bg {
  flex-grow: 1;
  max-height: 100%;
}
.game-template-default .page-wrap .page-bg .footer-bg img, .page-template-default .page-wrap .page-bg .footer-bg img, .page-template-page-registration .page-wrap .page-bg .footer-bg img, .page-template-page-contact .page-wrap .page-bg .footer-bg img {
  height: 100%;
  object-fit: cover;
}
.game-template-default .page__content, .page-template-default .page__content, .page-template-page-registration .page__content, .page-template-page-contact .page__content {
  padding-top: 50px;
}
@media only screen and (max-width: 991px) {
  .game-template-default .page__content, .page-template-default .page__content, .page-template-page-registration .page__content, .page-template-page-contact .page__content {
    padding-top: 25px;
  }
}

.game-template-default.overlayed .header::before, .game-template-default.overlayed .page__content::before, .game-template-default.overlayed .footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, 0.85) !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.game-template-default h1, .game-template-default h2, .game-template-default h3, .game-template-default h4, .game-template-default h5, .game-template-default h6 {
  background: var(--text-bg);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.game-template-default .page__content .page__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 33px;
}
@media only screen and (min-width: 992px) {
  .game-template-default .page__content .page__content-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 100px;
  }
}
.game-template-default .page__content .page__content-title .game-image {
  margin: 0 auto 20px;
  max-width: 165px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .game-template-default .page__content .page__content-title .game-image {
    text-align: left;
    margin: 0 61px 0px 0px;
  }
}
.game-template-default .page__content .page__content-title .game-info .game-title {
  margin-bottom: 20px;
}
.game-template-default .page__content .page__content-title .game-info .game-subtitle {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
.game-template-default .page__content .page__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .game-template-default .page__content .page__content-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  .game-template-default .page__content .page__content-wrapper .page__content-main {
    flex-basis: 50%;
    max-width: 548px;
    margin-right: 50px;
  }
}
.game-template-default .page__content .page__content-wrapper .page__content-main h2 {
  background: var(--text-bg);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 26px;
  line-height: 39px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  .game-template-default .page__content .page__content-wrapper .page__content-main h2 {
    font-size: 48px;
    line-height: 71px;
  }
}
.game-template-default .page__content .page__content-wrapper .page__content-main h3 {
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 41px;
  text-transform: uppercase;
  color: #fff;
}
.game-template-default .page__content .page__content-wrapper .page__content-main p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 0 20px;
}
.game-template-default .page__content .page__content-wrapper .page__content-main a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--accent-color);
  text-decoration: none;
}
@media only screen and (min-width: 992px) {
  .game-template-default .page__content .page__content-wrapper .page__content-window {
    align-self: flex-end;
  }
}
@media only screen and (max-width: 991px) {
  .game-template-default .page__content .page__content-wrapper .page__content-window {
    margin: 0 0 25px;
  }
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window {
  margin: 0 auto;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-button {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}
@media only screen and (max-width: 991px) {
  .game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-button {
    min-width: 220px;
  }
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-background-image {
  overflow: hidden;
  position: relative;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-background-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  pointer-events: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-background-image img {
  display: block;
  width: 100%;
  max-width: 620px;
  object-fit: cover;
  height: 400px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-image {
  position: absolute;
  bottom: 5px;
  left: 20px;
  max-width: 140px;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-window .game-provider {
  position: absolute;
  top: 22px;
  left: 34px;
  max-width: 120px;
}
.game-template-default .page__content .page__content-wrapper .page__content-window .game-disclaimer {
  margin-top: 30px;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
}

.page-template-default .page__content {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 992px) {
  .page-template-default .page__content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.page-template-default .page__content .page__content-title {
  margin-bottom: 30px;
  text-align: left;
}
@media only screen and (min-width: 992px) {
  .page-template-default .page__content .page__content-title {
    margin-bottom: 30px;
  }
}
.page-template-default .page__content h1, .page-template-default .page__content h2, .page-template-default .page__content h3, .page-template-default .page__content h4, .page-template-default .page__content h5, .page-template-default .page__content h6 {
  background: var(--text-bg);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.page-template-default .page__content h1 {
  font-size: 30px;
  line-height: 44px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  .page-template-default .page__content h1 {
    font-size: 62px;
    line-height: 92px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.page-template-default .page__content h2 {
  font-size: 26px;
  line-height: 39px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  .page-template-default .page__content h2 {
    font-size: 48px;
    line-height: 71px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.page-template-default .page__content h3 {
  font-size: 22px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  .page-template-default .page__content h3 {
    font-size: 36px;
    line-height: 42px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.page-template-default .page__content h4 {
  font-size: 20px;
  line-height: 1.4;
  margin: 10px 0;
}
@media only screen and (min-width: 992px) {
  .page-template-default .page__content h4 {
    font-size: 34px;
  }
}
.page-template-default .page__content h5 {
  font-size: 18px;
  line-height: 1.4;
  margin: 10px 0;
}
@media only screen and (min-width: 992px) {
  .page-template-default .page__content h5 {
    font-size: 32px;
  }
}
.page-template-default .page__content h6 {
  font-size: 17px;
  line-height: 1.4;
  margin: 10px 0;
}
@media only screen and (min-width: 992px) {
  .page-template-default .page__content h6 {
    font-size: 30px;
  }
}

.page-template-page-registration .page-content .button {
  min-width: 233px;
  border: none;
}

.page-template-page-contact .page-content .form-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page-template-page-contact .page-content .form-block-wrapper .form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .page-template-page-contact .page-content .form-block-wrapper .form-block:first-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .page-template-page-contact .page-content .form-block-wrapper .form-block:first-child .form-group {
    flex-basis: 45%;
  }
}
.page-template-page-contact .page-content .button {
  min-width: 233px;
  border: none;
}

p {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
