* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include f-normal();
}
a {
  text-decoration: none;
  color: #000000;
  outline: none;
  @include max-large() {
    -webkit-tap-highlight-color: transparent;
  }
}
img {
  max-width: 100%;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
.container {
  // width: 73%;
  width: 90%;
  margin: auto;
}
.button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(44.19deg, #E72525 19.83%, #6700C5 142.84%);
  border-radius: 10px;
  text-transform: capitalize;
  @include f-x-bold();
  @include flexbox();
  align-items: center;
  justify-content: center;
}
.button-border {
  border-left: 5px solid #c13041;
  border-right: 5px solid #bd9600;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #c13041, #bd9600), linear-gradient(90deg, #c13041, #bd9600);
  background-size: 100% 5px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.games {
  padding: 60px 0px;
  .games-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    height: 100%;
  }
  .games-btn {
    background: transparent;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: 0.15s;
    // border: 2px solid linear-gradient(73.66deg, #E72525 19.83%, #6700C5 142.84%);
    .name {
      font-size: 40px;
      background: linear-gradient(73.66deg, #E72525 19.83%, #6700C5 142.84%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: 0.15s;
    }
  }
  .button-border {
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
  .button-border.disabled {
    border: none;
    background: none;
  }
  .games-btn.active {
    box-shadow: 0px 0px 20px rgba(255, 116, 174, 0.16);
    background: linear-gradient(73.66deg, #E72525 19.83%, #6700C5 142.84%);
    .name {
      background: #0E0034;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .games-item {
    width: 100%;
    height: 100%;
    padding: 20px;
    .games-item-wrapper {
      @include flexbox();
      flex-direction: column;
      background: #4C406A;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
    }
    .games-image {
      img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        height: 120px;
        object-fit: cover;
      }
    }
    .games-title {
      @include f-semibold();
      color: #ffffff;
      text-transform: capitalize;
      text-align: center;
      font-size: 17px;
      line-height: 21px;
      min-height: 58px;
      @include flexbox();
      align-items: center;
      justify-content: center;
    }
  }
}
.header {
  background: #29004E;
  border-bottom: 2px solid #E000AE;
  padding: 25px 0px;
  .header-block {
    @include flexbox();
    justify-content: space-between;
  }
  .registration-btn {
    height: 51px;
    color: #ffffff;
    padding: 0px 5%;
  }
}
.main {
  background: #0E0034;
  padding: 59px 0px 0px;
}
.new-games {
  background: linear-gradient(90deg, #2E1F54 0%, rgba(46, 31, 84, 0) 50%);
  padding: 41px 0px 60px;
}
.favorite-games {
  background: #0E0034;
}
.popular-games {
  background: linear-gradient(90deg, #2E1F54 0%, rgba(46, 31, 84, 0) 50%);
}
.about {
  background: #2E1F54;
  padding: 60px 0px 95px;
  .about-block {
    @include flexbox();
    flex-direction: column;
  }
  .about-logo {
    text-align: center;
    margin: 0 0 70px;
  }
  .about-list {
    @include flexbox();
    width: 100%;
    .about-item {
      width: 25%;
      @include flexbox();
      flex-direction: column;
      align-items: center;
      .image {
        margin: 0px 0px 18px;
      }
      .text {
        font-size: 15px;
        line-height: 19px;
        color: #FCFAFF;
        text-align: center;
      }
    }
  }
}
.footer {
  background: #2E1F54;
  padding: 0px 0px 113px;
  .footer-block {
    @include flexbox();
    flex-direction: column;
    .logo-list {
      @include flexbox();
      width: 100%;
      margin: 0px 0px 50px;
      .logo-item {
        width: 25%;
        .image {
          text-align: center;
        }
      }
    }
    .footer-text {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #FCFAFF;

    }
  }
}
.modal {
  position: fixed;
  .modal-window {
    background: #FFFFFF;
    margin: auto;
    padding: 65px 40px 89px;
    position: relative;
  }
  .close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    .close-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 21px;
        -webkit-tap-highlight-color: transparent;
        div {
          display: inline-block;
          height: 3px;
          background: linear-gradient(75.28deg, #E72525 19.83%, #6700C5 142.84%);
          position: absolute;
          border-radius: 2px;
      }
        .line-1 {
          top: 9px;
          left: 0;
          right: 0;
          transform: rotate(-45deg);
        }
        .line-2 {
          top: 9px;
          left: 0;
          right: 0;
          transform: rotate(45deg);
        }
      }
  }
  .modal-block {
    @include flexbox();
    flex-direction: column;
    align-items: center;
  }
  .modal-title {
    @include f-x-bold();
    font-size: 40px;
    background: linear-gradient(73.66deg, #E72525 19.83%, #6700C5 142.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 40px 0 50px;
  }
  .modal-text {
    font-size: 17px;
    line-height: 21px;
    color: #0E0034;
    margin: 0 0 40px;
  }
  .modal-subtitle {
    @include f-bold();
    font-size: 30px;
    line-height: 1.05;
    text-align: center;
    background: linear-gradient(73.66deg, #E72525 19.83%, #6700C5 142.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .modal-buttons {
    @include flexbox();
    margin: 0 -19px;
    width: 100%;
    .button {
      margin: 0 19px;
      height: 65px;
      width: 50%;
    }
    .accept-btn {
      background: linear-gradient(37.83deg, #E72525 19.83%, #6700C5 142.84%);
      .name {
        color: #ffffff;
        @include f-bold();
        font-size: 20px;
      }
    }
    .settings-btn {
      background: #ffffff;
      .name {
        @include f-bold();
        font-size: 20px;
        background: linear-gradient(73.66deg, #E72525 19.83%, #6700C5 142.84%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .home-btn {
    color: #ffffff;
    height: 65px;
    width: 80%;
    margin: 55px auto 0px;
  }
}
.modal-cookies {
  bottom: 0;
  left: 0;
  right: 0;
  .modal-window {
    width: 60%;
    height: 22%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 0px 0px;
  }
}
.modal-thanks {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  .modal-window {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px rgba(255, 116, 174, 0.5);
    border-radius: 10px;
    padding: 48px 5% 54px;
  }
  .modal-title {
    text-align: center;
  }
}
.sign-up, .log-in {
  position: relative;
  z-index: 2;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: -1;
  }
  .sign-up-block, .log-in-block {
    @include flexbox();
    flex-direction: column;
    padding: 115px 0px 113px;
  }
  .sign-up-title, .log-in-title {
    @include f-x-bold();
    font-size: 40px;
    color: #ffffff;
    align-self: center;
  }
  .form {
    @include flexbox();
    flex-direction: column;
    width: 32%;
    margin: auto;
    .form-wrapper {
      margin: 0 0 30px;
    }
    .form-group {
      @include flexbox();
      flex-direction: column;
      .form-label {
        @include f-bold();
        font-size: 17px;
        color: #FCFAFF;
        height: 55px;
        @include flexbox();
        align-items: center;
      }
      .form-input {
        background: #FCFAFF;
        border-radius: 5px;
        border: none;
        height: 55px;
        font-size: 17px;
        color: #978AA4;
        @include flexbox();
        align-items: center;
        padding: 0 0 0 36px;
        width: 100%;
        outline: none;
      }
      .form-group-hint {
        font-size: 14px;
        line-height: 1.05;
        color: #FCFAFF;
        @include flexbox();
        justify-content: flex-end;
        align-items: center;
        height: 40px;
      }
    }
    .form-name-wrapper {
      @include flexbox();
      width: 100%;
      .form-group {
        width: 50%;
      &:first-child {
        padding: 0 20px 0 0;
      }
      &:last-child {
        padding: 0 0px 0 20px;
      }
      }
    }
    .form-buttons-wrapper {
      @include flexbox();
      flex-direction: column;
      margin: 30px 0px 0px;
      .button {
        height: 65px;
        .name {
          @include f-bold();
          font-size: 20px;
        }
      }
      .log-in-btn {
        margin: 0 0 20px;
        .name {
          color: #ffffff;
        }
      }
      .cancel-btn {
        background: transparent;
        .name {
          background: linear-gradient(73.66deg, #E72525 19.83%, #6700C5 142.84%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      
    }
    .form-social-wrapper {
      margin: 42px 0px 0px;
      .title {
        @include f-bold();
        font-size: 30px;
        line-height: 1.05;
        color: #FFFFFF;
        text-align: center;
        max-width: 90%;
        margin: 0 auto 30px;
      }
      .form-social-btn-wrapper {
        @include flexbox();
        width: 100%;
        
        .button {
          height: 51px;
          width: 50%;
          &:first-child {
          margin: 0 20px 0 0;
          }
          &:last-child {
            margin: 0 0px 0 20px;
          }
          .icon {
            margin: 0 13px 0 0;
          }
          .name {
            @include f-bold();
            font-size: 17px;
            color: #ffffff;
          }
        }
      }
    }
    .form-hint {
      @include f-bold();
      font-size: 17px;
      line-height: 1.05;
      color: #FCFAFF;
      text-align: center;
      margin: 10px 0px 0px;
      height: 40px;
      .link {
        text-decoration: underline;
        color: #FCFAFF;
      }
    }
  }
}