.achieve
  &-section
    display: flex
    justify-content: space-between
    background: rgb(0,2,3)
    @media (max-width: 1200px)
      flex-direction: column
  &-info
    margin: auto
    margin-left: 115px
    @media (max-width: 1200px)
      margin: 0
      margin-top: 73px
    @media (max-width: 768px)
      margin-left: 16px
      
  &-image
    background: rgb(0,2,3)
    background: linear-gradient(90deg, rgba(3, 10, 20, 0.11) 25%, rgba(3, 10, 20, 0.11) 100%)
    @media (max-width: 1200px)
      display: none
    img
      opacity: 0.1
      width: 100%
      height: 100%
    @media (max-width: 1200px)
      padding: 20px 0
    &__resp
      display: none
      position: relative
      width: 320px
      @media (max-width: 1200px)
        display: block
        margin: auto
        background: linear-gradient(rgba(0,0,0,0.95) 30%,rgba(0,0,0,0) 100%), url('../img/achieve/background-resp.png') no-repeat
        
        width: 320px
        height: 375px
        img
          width: 100%
      &__list
      &__item
        display: none
        @media (max-width: 1200px)
          display: block
          width: 48px
          height: 48px
          position: absolute
          top: 50%
          left: 50%
          &:nth-child(1)
            top: 10%
            left: 50%
            transform: translate(calc(-50% - 0px), calc(-50% - 0px))
            &::after
              top: 65%
              left: 200%
              transform: translate(calc(-50% - -0px), calc(-50% - 0px))
          &:nth-child(2)
            top: 30%
            left: 90%
            transform: translate(calc(-50% - 0px), calc(-50% - 0px))
            &::after
              transform: translate(calc(-50% - 0px), calc(-50% - 0px))
              top: 150%
              left: 0%
              transform: rotate(75deg)
          &:nth-child(3)
            transform: translate(calc(-50% - -0px), calc(-50% - -0px))
            top: 72%
            left: 85%
            &::after
              transform: translate(calc(-50% - 0px), calc(-50% - 0px))
              top: 50%
              left: -160%
              transform: rotate(150deg)
          &:nth-child(4)
            transform: translate(calc(-50% - 0px), calc(-50% - -0px))
            top: 72%
            left: 37%
            &::after
              transform: translate(calc(-50% - 0px), calc(-50% - 0px))
              top: -80%
              left: -150%
              transform: rotate(215deg)
          &:nth-child(5)
            transform: translate(calc(-50% - 0px), calc(-50% - -0px))
            top: 37%
            left: 14%
            &::after
              transform: translate(calc(-50% - 0px), calc(-50% - 0px))
              top: -130%
              left: 0%
              transform: rotate(290deg)
                
          &::after
            content: ''
            width: 82px
            height: 100%
            background: url('../img/achieve/vector-after.png') no-repeat
            position: absolute
            top: 50%
            left: 50%
  &-title
    +mr
    font-size: 47px
    line-height: 120%
    color: #ffffff
    filter: none
    margin-bottom: 26px
    @media (max-width: 1200px)
      font-size: 42px
      text-align: center
    @media (max-width: 768px)
      text-align: left
  &-subtitle
    color: #ffffff
    font-size: 17px
    line-height: 140%
    +sf
    margin-right: 200px
    width: 370px
    @media (max-width: 1200px)
      text-align: center
      margin-right: 0
      width: 600px
      margin: auto
      margin-bottom: 15px
    @media (max-width: 768px)
      margin: 0      
      margin-bottom: 15px
      text-align: left
      width: 400px
    @media (max-width: 576px)
      width: 300px
    span
      color: #23D5FF
  &-resp
    margin-bottom: 20px
    display: none
    @media (max-width: 768px)
      display: block
    &__logo
      display: inline-block
      width: 27px
      height: 27px
      margin-right: 12px
      &-name
        display: inline-block
      &__image
        margin-left: -4px
    