.footer
  &-section
    background: #000000
    padding-top: 74px
    padding-bottom: 28px
    @media (max-width: 1200px)
      padding-top: 72px
      padding-bottom: 60px
  &-block
    +muli
    display: flex
    justify-content: center
    @media (max-width: 1200px)
      display: none
  &-resp
    display: none
    @media (max-width: 1200px)
      display: flex
      flex-direction: column
    &__title
      color: #ffffff
      font-size: 42px
      +mr
      display: block
      text-align: center
      margin-bottom: 36px
    &__list
      display: flex
      flex-direction: column
      margin: auto
      &__item
        margin-bottom: 26px
        a
          display: flex
        &__icon
          display: inline-block
          margin-right: 20px
        &__title
          display: flex
          align-items: center
          color: #FCFCFC
          +muli
  &-list
    padding-left: 0
    margin: 0 60px
    @media (max-width: 768px)
      margin: 20px 20px
    &__title
      color: #323234
      font-size: 17px
      line-height: 130%
      margin-bottom: 16px
      a
        color: #323234
        &:hover
          color: #ffffff
          @media (max-width: 1200px)
            color: #323234
    &__item
      color: #ffffff
      font-size: 13px
      line-height: 130%
      margin: 4px 0
      a
        color: #ffffff
        &:hover
          color: #323234
          @media (max-width: 1200px)
            color: #ffffff
  &-copyright
    color: #A1F421
    font-size: 10px
    +muli
    margin-top: 24px
    line-height: 130%
    @media (max-width: 1200px)
      text-align: center
      font-size: 13px