@import 'common';

.empty-section {
  margin: 120px 0 0;
  @include min-large() {
    margin: 100px 0 0;
  }
}
body.scroll-down {
  .banner {
    .banner-image {
      z-index: 9;
    }
  }
}
.banner {
  background: #068880;
  position: relative;
  min-height: 680px;
  @include min-large() {
    min-height: 350px;
  }
  .banner-block {
    padding: 55px 0 0;
    @include min-large() {
      padding: 101px 0 0;
    }
  }
  .banner-title {
    color: #fff;
    max-width: 523px;
  }
  .banner-image {
    position: absolute;
    right: 0;
    z-index: 11;
    @include min-large() {
      top: -100px;
      max-height: 450px;
    }
  }
  .banner-image.desktop {
    display: none;
    @include min-large() {
      display: block;
    }
  }
  .banner-image.mobile {
    display: block;
    @include min-large() {
      display: none;
    }
  }
}