@font-face {
  font-family: 'Rockit';
  src: url('../fonts/Rockit/');
  src: url('../fonts/Rockit/?#iefix') format('embedded-opentype'),
    url('../fonts/Rockit/Rockit.woff') format('woff'),
    url('../fonts/Rockit/Rockit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cambria-Regular';
  src: url('../fonts/Cambria-Regular/');
  src: url('../fonts/Cambria-Regular/?#iefix') format('embedded-opentype'),
    url('../fonts/Cambria-Regular/Cambria.woff') format('woff'),
    url('../fonts/Cambria-Regular/Cambria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cambria-Bold';
  src: url('../fonts/Cambria-Bold/');
  src: url('../fonts/Cambria-Bold/?#iefix') format('embedded-opentype'),
    url('../fonts/Cambria-Bold/Cambria-Bold.woff') format('woff'),
    url('../fonts/Cambria-Bold/Cambria-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Streamster';
  src: url('../fonts/Streamster/');
  src: url('../fonts/Streamster/?#iefix') format('embedded-opentype'),
    url('../fonts/Streamster/streamster.woff') format('woff'),
    url('../fonts/Streamster/streamster.ttf') format('truetype'),
    url('../fonts/Streamster/streamster.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Adagio';
  src: url('../fonts/Adagio/');
  src: url('../fonts/Adagio/?#iefix') format('embedded-opentype'),
    url('../fonts/Adagio/Adagio.woff') format('woff'),
    url('../fonts/Adagio/Adagio.ttf') format('truetype'),
    url('../fonts/Adagio/Adagio.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@mixin logo {
  font-family: 'Rockit', sans-serif;
  font-weight: 400;
}

@mixin mainr {
  font-family: 'Cambria-Regular', sans-serif;
  font-weight: 400;
}
@mixin mainb {
  font-family: 'Cambria-Bold', sans-serif;
  font-weight: 700;
}
@mixin title {
  font-family: 'Streamster', sans-serif;
  font-weight: normal;
}
@mixin subtitle {
  font-family: 'Adagio', sans-serif;
  font-weight: normal;
}