* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
.container {
  width: 1140px;
  margin: auto;
  @media (max-width: 1200px) {
    width: 90%;
  }
}

.button {
  box-shadow: 0 0 0 2px #ffffff;
  border: 2px solid #000000;
  border-radius: 11px;
  padding: 10px 13px;
  @include bg-red;
  color: #000000;
  font-size: 25px;
  @include subtitle();
  cursor: pointer;
  outline: none;
  transition: 0.15s;
  @include flexbox();
  margin: auto;
  justify-content: center;
  &:hover {
    color: #ffffff;
    @media (max-width: 1200px) {
      color: #000000;
    }
  }
}

.form {
  background: rgba(0,0,0,1);
  padding: 50px 150px;
  &-wrapper {
    @include flexbox();
    justify-content: space-between;
  }
  
  &-group {
    @include flexbox();
    flex-direction: column;
  }
  &-input {
    @include subtitle();
    border: none;
    outline: none;
    font-size: 25px;
    margin: 20px 0;
    padding: 10px;
    color: #ffffff;
    @include bg-blue;
  }
  input::placeholder {
    color: #ffffff;
  }
  input::selection {
    @include bg-red;
  }
  input[type="file"] {
    display: none;
  }
}
.section {
  position: relative;
  padding: 50px 0;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: -2;
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    pointer-events: none;
    z-index: -1;
  }
.title {
  color: #ffffff;
  font-size: 50px;
  text-transform: uppercase;
  margin: 20px 0;
  @include title();
}
.subtitle {
  color: #ffffff;
  font-size: 30px;
  margin: 40px 0;
  @include title();
}
.list {
  @include flexbox-center();  
  flex-wrap: wrap;
  &-item {
    width: 33%;
    padding: 0px 10px;
    margin: 20px 0;
    min-height: 300px;
    @include title();
    opacity: 0.6;
    transition: 0.15s;
    &:hover {
      opacity: 1;
    }
    .wrapper {
      @include bg-blue();
      border-radius: 5px;
      box-shadow: 0px 1px 10px #800900;
      &:hover {
        box-shadow: 0px 1px 20px #800900;
      }
    }
    
    &-image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 200px;
      border-radius: 5px 5px 0px 0px;
    }
    
    &-image-1 {
      background-image: url(../img/about-image-1.jpg);
    }
    &-image-2 {
      background-image: url(../img/about-image-2.jpg);
    }
    &-image-3 {
      background-image: url(../img/about-image-3.jpg);
    }
    &-image-4 {
      background-image: url(../img/about-image-4.jpg);
    }
    &-image-5 {
      background-image: url(../img/about-image-5.jpg);
    }
    &-image-6 {
      background-image: url(../img/about-image-6.jpg);
    }
    span {
      text-transform: capitalize;
      color: #ffffff;
      font-size: 26px;
      display: block;
      min-height: 80px;
      padding: 10px 0px 10px 10px;
    }
  }
}

}
//ABOUT SECTION START
.about-section {
  &::before {
    background-image: url('../img/about-bg.jpg');
  }
  .title {
    z-index: 0;
  }
}
//ABOUT SECTION END

//CALC SECTION START
.calc {
  &-section {
    &::before {
      background-image: url('../img/calc-bg.jpg');
    }
    &::after {
      background: rgba(0,0,0,0.8);
    }
  } 
  &-label {
    color: #ffffff;
    font-size: 30px;
  }
  &-input {
    border: none;
  }
  &-select {
    border: none;
  }
  &-button {
    @include flexbox();
    margin: 0px 0px 0px auto;
    width: 100%;
    max-width: 200px;
  }
  
}
  .image-label {
    @include subtitle();
    color: #ffffff;
    font-size: 20px;
    margin: 100px 0px 0px 0px;
  }
  .image-input {
    background: url(../img/upload-icon.svg) no-repeat;
    width: 80px;
    height: 80px;
  }
// CALC SECTION END

//PIERCING SECTION START
.piercing {
  &-section {
    &::before {
      background-image: url('../img/piercing-bg.jpg');
    }
  }
}
//PIERCING SECTION END

//BARBER SECTION START
.barber {
  &-section {
    &::before {
      background-image: url('../img/barber-bg.jpg');
    }
  }
}
//BARBER SECTION END