.focus
  &-section
    background-color: #f7f7f7
    position: relative
  &-block
    text-align: center
  &-background
    position: absolute
    z-index: 2
    top: -60px
    left: 40%
  &-title
  &-subtitle
    margin-bottom: 80px
  &-content
    z-index: 2
    display: flex
    justify-content: space-between
  &-card
    background-color: #ffffff
    margin-right: 30px
    padding: 60px 30px
    &:hover
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05)
      &:nth-child(1)
        border-bottom: 3px solid#fc5f45
      &:nth-child(2)
        border-bottom: 3px solid#38c695
      &:nth-child(3)
        border-bottom: 3px solid#b27cf5
      &:nth-child(4)
        border-bottom: 3px solid#feb960
    &__icon
      margin-bottom: 30px
    &__title
      font-size: 20px
      margin-bottom: 30px
      color: #313131
      +title
      width: 240px
    &__subtitle
      color: #616161
      font-size: 15px
@media (max-width: 1200px)
  .focus
    &-background
      top: -35px
    &-title
      margin-bottom: 40px
    &-subtitle
      margin-bottom: 40px
    &-content
      // flex-direction: column
      flex-wrap: wrap
    &-card
      width: 300px
      margin: 0 auto
      margin-bottom: 20px
      &__icon
        margin-bottom: 10px
      &__title
        margin: auto
        margin-bottom: 20px
        font-size: 18px
      &__subtitle
        margin: auto
        font-size: 13px
        line-height: 20px
@media (max-width: 768px)
  .focus
    &-background
      margin: 15px -30px
      
    &-title
      margin-bottom: 20px
    &-subtitle
      margin-bottom: 30px
    &-card
      &__icon
        img
          width: 50px
          height: 35px
      &__title
        font-size: 16px
      &__subtitle
        font-size: 12px