.price
  &-section
    background-color: #f7f7f7
  &-block
    text-align: center
    position: relative
  &-background
    position: absolute
    z-index: 2
    top: -210px
    left: 35%
  &-title
  &-subtitle
    margin-bottom: 80px
  &-content
    display: flex
    justify-content: space-between
  &-card
    background-color: #ffffff
    margin-right: 30px
    padding: 40px 80px
    &:nth-child(1)
      .price-card__counter
        box-shadow: 0 0 0 1px #fff, 0 0 0 4px #ffffff
      .price-card__button
        color: $green
        background-color: #ffffff
        border: 2px solid $green
        &:hover
          color: #ffffff
          background-color: $green
          font-size: 18px
          box-shadow: 0 0 20px $green, 0 0 20px $green
    &:nth-child(2)
      // border-top: 3px solid #fc5f45
      .price-card__text
        width: 300px
        margin-bottom: 140px
      .price-card__counter
        background-color: #fc5f45
        box-shadow: 0 0 0 1px #fff, 0 0 0 4px #ffffff
      .price-card__button
        &:hover
          color: $orange
          background-color: #ffffff
          border: 2px solid $orange
          border-color: $orange
          font-size: 18px
          box-shadow: 0 0 20px 0 $orange, 0 0 20px 0 $orange
    &:nth-child(3)
      // border-top: 3px solid #b27cf5
      .price-card__button
        color: #b27cf5
        background-color: #ffffff
        border: 2px solid #b27cf5
      .price-card__counter
        background-color: #b27cf5
        box-shadow: 0 0 0 1px #fff, 0 0 0 4px #ffffff
      .price-card__button
        &:hover
          color: #ffffff
          background-color: $purple
          box-shadow: 0 0 20px $purple, 0 0 20px $purple
          font-size: 18px
    &:hover
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05)
      .price-card__title
        font-weight: bold
      .price-card__text
        span
          font-weight: bold
      
      &:nth-child(1)
        border-top: 3px solid #38c695
        .price-card__counter
          box-shadow: 0 0 0 1px #fff, 0 0 0 4px $green
      &:nth-child(2)
        border-top: 3px solid #fc5f45
        .price-card__counter
          box-shadow: 0 0 0 1px #fff, 0 0 0 4px $orange
      &:nth-child(3)
        border-top: 3px solid #b27cf5
        .price-card__counter
          box-shadow: 0 0 0 1px #fff, 0 0 0 4px $purple


    &__title
      color: #313131
      font-size: 20px
      margin-bottom: 70px
    &__counter
      font-size: 25px
      color: #ffffff
      border: 3px solid #ffffff
      border-radius: 50%
      background-color: #38c695
      width: 100px
      height: 100px
      margin: auto
      padding: 15px
      margin-bottom: 80px
      box-shadow: 0 0 0 1px #fff, 0 0 0 4px #38c695
      p
        font-size: 13px
        margin: 0
        margin-top: 5px
    &__text
      color: #272727
      font-size: 15px
      line-height: 40px
      margin-bottom: 60px
      width: 200px
    &__button
      font-weight: bold
@media (max-width: 1200px)
  .price
    &-background
      margin: 95px 50px
    &-content
      flex-wrap: wrap
      justify-content: center
    &-card
      margin-bottom: 20px
      padding: 20px 40px
      &__title
        margin-bottom: 30px
        font-size: 18px
      &__counter
        font-size: 16px
        height: auto
        width: 85px
        margin-bottom: 40px
      &__text
        display: none
@media (max-width: 768px)
  .price
    &-background
      margin: 125px 0
    &-card
      &__text
      &__title
        font-size: 16px
      &__counter
        font-size: 14px
      

        