.select
  &-section
  &-block
    position: relative
    text-align: center
  &-background
    position: absolute
    z-index: 2
    top: -210px
    left: 35%
  &-title
  &-subtitle
    margin-bottom: 80px
  &-content
  &-card
    margin-bottom: 80px
    margin-right: 60px
    position: relative
    &s
      display: flex
      flex-wrap: wrap
      text-align: left
    &__icon
      display: inline-block
      margin-right: 10px
      img
        width: 49px
        height: 49px
    &__title
      display: inline-block
      color: #272727
      font-size: 18px
      line-height: 26px
      font-weight: bold
      margin-bottom: 40px
      position: absolute
      top: 10px
    &__subtitle
      width: 320px
      color: #616161
      font-size: 15px
      line-height: 27px
  &-submit
    &__text
      display: inline-block
      font-size: 25px
      color: #272727
      font-weight: bold
      margin-right: 25px
    &__button
      font-weight: bold

@media (max-width: 1200px)
  .select
    &-background
      margin: 95px 30px
    &-subtitle
      margin-bottom: 20px
    &-card
      &s
        justify-content: center
      margin-right: 0px
      margin-left: 20px
      margin-bottom: 40px
      &__title
        font-size: 16px
      &__subtitle
        font-size: 12px
        line-height: 20px
    &-submit
      &__text
        font-size: 20px
@media (max-width: 768px)
  .select
    &-background
      margin: 125px 0
    &-card
      margin-bottom: 20px
      &__title
        font-size: 14px
      &__subtitle
        font-size: 11px
        width: auto
      &__icon
        img
          width: 30px
          height: 30px
    &-submit
      &__text
        display: block
        font-size: 16px
