* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include f-bold();
}
*:focus {
    outline: none;
}
a {
  text-decoration: none;
  color: #000000;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
// общие стили start
.container {
  width: 1170px;
  margin: auto;
  @include max-large() {
    width: 90%;
  }
}
.button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.button-style-1 {
  background: #1E306E;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 11px 32px;
}
.section-title {
  @include f-2-bold();
  font-size: 50px;
  color: #1E306E;
  @include flexbox();
  align-items: center;
  margin: 0px 0px 65px;
  max-width: 585px;
  @include max-medium() {
    justify-content: center;
    margin: 0px 0px 27px;
  }
  span {
    margin: 0px 0px 0px 35px;
    content: '';
    flex: 1 1 auto;
    border-top: 1px solid #000;
    @include max-medium() {
      display: none;
    }
  }
}
.share-btn {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 0px 14px 0px 13px;
  height: 48px;
  @include flexbox();
  align-items: center;
}

.more-btn {
  @include flexbox();
  align-items: center;
  width: 100%;
  margin: 0px 38px 0px 0px;
  justify-content: flex-end;
  .text {
    font-size: 14px;
    text-transform: uppercase;
    color: #1E306E;
  }
  .image {
    margin: 0px 0px 0px 5px;
  }
}
.card-list {
  @include flexbox();
  flex-wrap: wrap;
  width: 100%;
  margin: -15px 0px;
  .list-item {
    width: 33%;
    margin: 15px 0px;
    @include max-medium() {
      width: 50%;
    }
    @include max-small() {
      width: 100%;
    }
    .card-t {
      .card-image {
        position: relative;
        padding: 22px 0px 22px 22px;
        @include max-medium() {
          .background, img {
            width: 100%;
          }
        }
      }
      .wrapper {
        @include flexbox();
      }
      .author {
        background: #ffffff;
        border-radius: 6px;
        padding: 0px 0px 0px 4px;
        @include flexbox();
        align-items: center;
        .author-info {
          @include flexbox();
          flex-direction: column;
          margin: 0px 0px 0px 13px;
          min-width: 124px;
          .name {
            font-size: 14px;
            color: #3D3D3D;
          }
          .date {
            @include f-normal();
            color: rgba(0,0,0,0.5);
          }
        }
      }
      .share-btn {
        margin: 0px 22px 0px 0px;
      }
    }
    .card-b {
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #375BCD;        
      border-radius: 6px;
      @include max-medium(){
        border-radius: 0px;
      }
      .card-title {
        @include f-2-bold();
        font-size: 24px;
        min-height: 49px;
        color: #375BCD;
      }
      .card-subtitle {
        @include f-normal();
        font-size: 16px;
        line-height: 1.37;
        color: #000000;
        min-height: 84px;
      }
      .card-wave {
        display: block;
        margin: 20px 0px;
      }
    }
  }
}
.header-menu, .footer-menu {
    @include flexbox();
    margin: 0px -25.5px;
    .menu-item {
      margin: 0px 25.5px;
      svg {
        transition: 0.15s ease;
      }
    }
    .main-item.active {
      svg {
        transform: rotate(90deg);
      }
    }
    .link {
      color: #ffffff;
      font-size: 14px;
      @include flexbox();
      align-items: center;
      span {
        margin: 0px 0px 0px 11.5px;
        height: 13px;
      }
    }
  }
  .search-btn {
    height: 18px;
    position: relative;
    padding: 0px 24px 0px 0px;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      top: 50%; margin-top: -17.5px;
      right: 0;
      width: 1px;
      height: 35px;
      background: #ffffff;
      opacity: 0.3;
    }
    .search-block {
      visibility: hidden;
      position: absolute;
      top: 48px;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 626px;
      height: 512px;
      background: #ffffff;
      z-index: 4;
      padding: 16px;
    }
    .search-block.active {
      visibility: visible;
    }
  }
  .social {
    @include flexbox();
    padding: 0px 0px 0px 24px;
    margin: 0px -12px;
    .social-item {
      margin: 0px 12px;
      .link {
        display: block;
        max-height: 16px;
      }
    }
  }
.form {
  @include flexbox();
  align-items: center;
  .form-input {
    outline: none;
  }
}
// общие стили end
.header {
  background: linear-gradient(0deg, #375BCD, #375BCD);
  height: 79px;
  @include flexbox();
  @include max-medium() {
    height: 50px;
  }
  .header-block {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    @include max-medium() {
      width: 100%;
      flex-direction: column;
    }
    .block-l, .block-r {
      @include flexbox();
      align-items: center;
    }
    .block-l {
      position: relative;
      @include max-medium() {
        width: 100%;
        justify-content: space-between;
      }
      
      .main-item-block {
        visibility: hidden;
        position: absolute;
        top: 38px;
        left: 50%;
        transform: translate(calc(-50% - 0px), calc(-0% - 0px));
        max-width: 626px;
        width: 100%;
        height: 514px;
        background: #ffffff;
        z-index: 4;
        padding: 16px;
        box-shadow: 0px 8px 16px rgba(30, 48, 110, 0.17);
        border-radius: 4px;
        .top-arrow {
          position: absolute;
          left: 50%;
          transform: translate(calc(-50% - 0px), calc(-0% - 22px));
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 6px 6px 6px;
          border-color: transparent transparent #ffffff transparent;
        }
        .categories-menu {
          @include flexbox();
          flex-wrap: wrap;
          width: 100%;
          .categories-item {
            width: 50%;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            position: relative;
            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 4px;
              height: 0%;
              background: #375BCD;
            }
            &:hover {
              &::before {
                height: 100%;
              }
              .link {
                background: #F2F2F2;
              }
            }
            &:nth-child(2n+1) {
              border-right: 1px solid rgba(0,0,0,0.2);
            }
            // &:nth-last-child(2) {
            //   border-right: none;
            //   border-bottom: none;
            // }
            &:last-child{
              border-bottom: none;
            }
            
            .link {
              @include flexbox();
              align-items: center;
            }
            .image {
              width: 60px;
              height: 60px;
            }
            .title {
              @include f-bold();
              font-size: 18px;
              text-transform: uppercase;
              color: #375BCD;
              text-shadow: 2px 2px 0px rgba(55, 91, 205, 0.1);
            }
          }
        }
      }
      .main-item-block.active {
        visibility: visible;
      }
      .logo {
        @include max-medium() {
          margin: 0px;
        }
      }
      .header-menu {
        @include max-medium() {
          display: none;
      }
      }
      .burger-btn {
        display: none;
        position: relative;
        width: 16px;
        height: 12px;
        @include max-medium() {
          @include flexbox();
        }
        
        .burger-open {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 16px;
          height: 12px;
          transform: scale(1) translate(-50%, -50%);
          transition: all 0.3s ease;
          div {
            display: inline-block;
            height: 2px;
            background: #ffffff;
            position: absolute;
            border-radius: 5px;
        }
          .line-1 {
            top: -1px;
            left: 0;
            right: 0;
          }
          .line-2 {
            top: 4px;
            left: 0;
            right: 0;
          }
          .line-3 {
            bottom: 1px;
            left: 0;
            right: 0;
          }
        }
        .burger-close {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 16px;
          height: 12px;
          transform: scale(0) translate(-50%, -50%);
          transition: all 0.3s ease;
          div {
            display: inline-block;
            height: 2px;
            background: #ffffff;
            position: absolute;
            border-radius: 5px;
        }
          .line-1 {
            top: 3px;
            left: 0;
            right: 0;
            transform: rotate(-45deg);
          }
          .line-2 {
            top: 3px;
            left: 0;
            right: 0;
            transform: rotate(45deg);
          }
        }
      }
    }
    .block-r {
      .search-btn, .sign-up-btn, .wrapper-resp, .social {
        @include max-medium() {
          display: none;
        }
      }
      .wrapper-resp {
        display: none;
      }
      
    }
  }
  
  .logo {
    height: 27px;
    margin: 0px 52px 0px 0px;
  }
  
  .sign-up-btn {
    margin: 0px 0px 0px 47px;
    font-size: 14px;
  }
}
.header.active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 12px 0px 0px;
  .container {
    margin: 0px auto;
  }
  .burger-btn.active {
    // span::before {
    //   transform: rotate(45deg);
    // }
    // span::after {
    //   transform: rotate(-45deg);
    // }
    // span {
    //   height: 0px;
    // }
    .burger-open {
      opacity: 0;
      transform: scale(0) translate(-50%, -50%);
    }
    .burger-close {
      opacity: 1;      
      transform: scale(1) translate(-50%, -50%);
    }
      }
  .block-r {
    flex-direction: column;
    width: 100%;
    margin: 14px 0px 0px;
    .wrapper-resp {
      @include flexbox();
      flex-direction: column;
      width: 100%;
    }
    .header-form {
      @include flexbox();
      background: #ffffff;
      box-shadow: 0px 8px 16px rgba(30, 48, 110, 0.17);
      border-radius: 4px;
      padding: 8px;
      height: 59px;
      margin: 0px 0px 56px;
    }
    .header-input {
      height: 43px;
      border: 1px solid rgba(55,90,205, 0.2);
      border-radius: 4px 0px 0px 4px;
      background: transparent;
      padding: 0px 0px 0px 12px;
      font-size: 18px;
      color: #375BCD;
      width: 100%;
    }
    .header-btn {
      background: #375ACD;
      width: 57px;
      height: 100%;
      border-radius: 0px 4px 4px 0px;
    }
    .header-menu {
      flex-direction: column;
      align-items: center;
      margin: -14px 0px;
      .menu-item {
        margin: 14px 0px;
        .link {
          text-transform: uppercase;
          text-shadow: 2px 2px 0px rgba(55, 91, 205, 0.1);
          font-size: 18px;
          span {
            align-self: flex-start;
          }
        }
      }
    }
    .social {
      @include flexbox();
      margin: 62px 0px 0px;
      padding: 0px;
      .social-item {
        margin: 0px 24px;
        .link {
          svg {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}
.hero {
  padding: 100px 0px 180px;
  @include max-medium() {
    padding: 10px 0px 0px;
  }
  .container {
    width: 1296px;
    @include max-large() {
      width: 90%;
    }
  }
  .hero-block {
    position: relative;
    min-height: 400px;
    max-height: 400px;
    @include max-medium() {
      min-height: auto;
      max-height: 100%;
    }
    &::before {
      content: '';
    }
    .hero-bg {
      position: absolute;
      top: 16px;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: 1px solid rgba( 30, 48, 110, 0.2);
      @include flexbox();
      @include max-large() {
        left: 32px;
      }
      @include max-medium() {
        display: none;
      }
      .bg-l {
        background: transparent;
        width: 100%;
      }
      .bg-r {
        background: url(../img/hero-bg-r.png);
        background-repeat: no-repeat;
        background-position: center right;
        width: 100%;
        @include max-medium () {
          display: none;
        }
      }
    }
  }
  .slider {
    width: 100%;
    .flex-row{
      @include flexbox();
      @include max-medium() {
        flex-direction: column-reverse;
      }
    }
  }
  .block-l {
    @include flexbox();
    flex-direction: column;
    flex-basis: 52%;
    padding: 61px 0px 61.5px 63px;
    @include max-medium() {
      padding: 0px;
      margin: 70px 0px 0px;
    }
    .title {
      @include f-2-bold();
      font-size: 60px;
      line-height: 1.117;
      color: #375BCD;
      max-width: 82%;
      margin: 0px 0px 45px;
      @include max-medium() {
        font-size: 37px;
        margin: 0px auto 37px;
        text-align: center;
      }
    }
    .read-btn {
      max-width: 142px;
      @include flexbox();
      justify-content: center;
      @include max-medium() {
        align-self: center;
      }
    }
  }
  .block-r {
    .image {
      height: 433px;
      @include max-medium() {
        height: 218px;
        width: 288px;
        margin: auto;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .slider-nav {
    @include flexbox();
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 33px 0 0 52%;
    @include max-medium() {
      width: 100%;
      margin: -190px 0px 0px;
      position: relative;
    }
    @media (max-width: 840px) {
      margin: -225px 0px 0px;
    }
    @media (max-width: 416px) {
      margin: -270px 0px 0px;
    }
  }
  .slider-arrow {
    @include flexbox();
    margin: 0px 77px 0px 0px;
    justify-content: flex-end;
    align-items: center;
    @include max-medium() {
      justify-content: space-between;
      margin: 0;
      width: 100%;
    }
    .slider-arrow-l {
      margin: 0px 20px 0px 0px;
      img {
        transform: rotate(180deg);
      }
    }
    .slick-arrow {
      @include max-medium() {
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
  .slider-dots {
    @include flexbox();
    @include max-medium() {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    li {
      margin: 0px 9px;
      position: relative;
      flex-shrink: 0;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 33px; 
        max-width: 65px;
        width: 0%;
        height: 1px;
        background: #3D3D3D;
        transition: 0.25s ease;
      }
    }
    li a {
      font-size: 18px;
      color: #3D3D3D;
    }
  }
  .slick-active {
    position: relative;
    min-width: 100px;
    &::after {
      width: 100%!important;
    }
    &::before {
      width: 100%!important;
    }
    
    .slick-dots-btn {
      padding: 0px 0px 0px 0px;
    }
    
    li {
      &:first-child() {
        .slick-dots-btn {
          padding: 0px;
        }
    }
    }
    
  }
}
.categories {
  @include max-medium() {
    margin: 190px 0px 0px;
  }
  .block {
    padding: 78px 0px;
    background: linear-gradient(0deg, #375BCD, #375BCD);
    .container {
      width: 970px;
      @include max-large() {
        width: 90%;
      }
    }
  }
  .categories-list {
    width: 100%;
    @include flexbox();
    flex-wrap: wrap;
    position: relative;
    .list-item {
      width: 33%;
      padding: 10px;
      @include max-medium() {
        width: 50%;
      }
      @include max-small() {
        width: 100%;
      }
      .categories-popup {
        display: none;
        background: #ffffff;
        box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% - 0px), calc(-50% - 0px));
        flex-direction: column;
        align-items: center;
        width: 350px;
        height: 490px;
        padding: 33px 40px 0px 40px;
        .popup-title {
          @include flexbox();
          align-items: center;
          .title {
            @include f-2-bold();
            font-size: 24px;
            line-height: 1.33;
            color: #375BCD;
            text-shadow: 2px 2px 0px rgba(55, 91, 205, 0.15);
          }
        }
        .popup-subtitle {
          @include f-2-bold();
          font-size: 18px;
          line-height: 1.35;
          color: #000000;
          text-align: center;
          max-width: 85%;
        }
        .popup-wave {
          margin: 10px 0px;
        }
        .popup-list {
          @include flexbox();
          flex-direction: column;
          align-items: center;
          margin: -7.5px 0px;
          .popup-item {
            margin: 7.5px 0px;
            .link {
              @include f-normal();
              font-size: 16px;
              color: #000000;
              cursor: pointer;
              text-transform: capitalize;
              &:hover {
                text-decoration-line: underline;
                color: #375BCD;
                @include f-bold();

              }
            }
          }
        }
      }
    }
  }
  .categories-btn {
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 100%;
    height: 92px;
    padding: 6px 20px;
    @include flexbox();
    align-items: center;
    .text {
      margin: 0px auto;
      @include f-2-bold();
      font-size: 24px;
      text-shadow: 2px 2px 0px rgba(55, 91, 205, 0.15);
      color: #375BCD;
      max-width: 50%;
      line-height: 1.33;
    }
    .image {
      margin: 0px -80px 0px 0px;
    }
  }
}
.blog {
  padding: 105px 0px;
  .card {
    margin: 0px 22px 0px 0px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  }
  .card-b {
    padding: 32px 21px 32px 21px;
  }
  .card-image {
    min-height: 257px;
  }
  .wrapper {
    justify-content: space-between;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
.guides {
  .block {
    padding: 174px 0px 108px;
    background: linear-gradient(0deg, #375BCD, #375BCD);
  }
  .list-item {
    padding: 0px 15px;
    &:nth-child(2) {
      .share-btn {
        z-index: 3;
      }
    }
  }
  .card {
    margin: 0px 43px 0px 0px;
  }
  .card-t {
    padding: 0px 13px 0px 14px;
  }
  .card-b {
    padding: 180px 21px 32px 21px;
  }
  .background {
    position: absolute;
    top: 0px;
    left: 0;
  }
  .wrapper {
    justify-content: flex-end;
  }
}
.subscribe {
  padding: 100px 0px 150px;
  .logo {
    @include max-medium() {
      text-align: center;
    }
  }
  .block {
    @include flexbox();
    @include max-medium() {
      flex-direction: column;
    }
  }
  .block-l {
    flex-basis: 54%;
    .title {
      @include f-2-bold();
      font-size: 28px;
      color: #2D48A4;
      margin: 34px 0px;
    }
    .subtitle {
      @include f-2-normal();
      color: #2D48A4;
      font-size: 18px;
      line-height: 1.36;
      max-width: 84%;
      @include max-medium() {
        max-width: 100%;
      }
    }
  }
  .block-r {
    flex-basis: 46%;
    @include flexbox();
    align-items: center;
    .form {
      @include flexbox();
      width: 100%;
      @include max-medium() {
        flex-direction: column;
      }
    }
    .form-input {
      background: rgba(0, 0, 0, 0.01);
      border: 1px solid rgba(0, 0, 0, 0.07);
      border-radius: 4px;
      padding: 14px 0px 14px 16px; 
      margin: 0px 20px 0px 0px;
      width: 67%;
      @include max-medium() {
        width: 50%;
        margin: 35px 0px 25px;
      }
      @include max-small() {
        width: 100%;
      }
      @include placeholder() {
        @include f-normal();
        font-size: 16px;
        line-height: 1.37;
        color: #666666;
      }
    }
    .form-button {
      @include max-medium() {
        width: 50%;
      }
      @include max-small() {
        width: 100%;
      }
    }
  }
}
.footer {
  .block-t {
    padding: 45px 0px;
    .container {
      @include flexbox();
      justify-content: space-between;
    }
    .block-l {
      @include max-medium() {
        display: none;
      }
      .footer-menu {
        .link {
          color: #3D3D3D;
        }
        path {
          fill: #1E306E;
        }
      }
    }
    .block-r {
      @include flexbox();
      @include max-medium() {
        width: 100%;
      }
      path {
        fill: #1E306E;
      }
      .search-btn {
        margin: 0;
        @include max-medium() {
          display: none;
        }
        &::after {
          background: #D8DFF4;
          opacity: 1;
    }
      }
      .social {
        @include max-medium() {
          width: 100%;          
          padding: 0px;
          margin: 0;
          justify-content: center;
          svg {
            width: 32px;
            height: 32px;
          }
        }
        .social-item {
          @include max-medium() {
            margin: 0px 24px;
          }
        }
      }
    }
  }
  .block-b {
    padding: 27px 0px;
    background: #1E306E;
    .copyright-list {
      @include flexbox();
      justify-content: flex-end;
      align-items: center;
      @include max-medium() {
        justify-content: center;
        flex-wrap: wrap;
      }
    }
    .copyright-item {
      margin: 0px 7px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 50%; margin-top: -7.5px;
        right: -7px;
        width: 2px;
        height: 15px;
        background: #ffffff;
      }
      p, a {
        color: #ffffff;
        font-size: 12px;
        line-height: 1.39;
      }
    }
  }
}