@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Playfair+Display:wght@400;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include f-normal();
  color: #ffffff;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
ul, li {
  list-style-type: none;
}
body.overflow-hidden {
  overflow: hidden;
}
.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;

  @media (min-width: 992px){
    width: 90%;
    padding: 0;
  }
}

.swal2-popup {
  height: 370px;

  border-color: transparent;
  width: 100%;
  background: #F2FAFC!important;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 150px 0;
  .swal2-title {
    span {
      font-size: 21px!important;
      font-weight: bold!important;
      color: #23272B!important;
    }
  }
  .swal2-actions {
    span {
      text-transform: uppercase;
      color: #093250!important;
      font-size: 15px;
      font-weight: bold!important;
      letter-spacing: 0.02em;
    }
  }

  .smal2-confirm {
    border: 2px solid #BFE2EB!important;
    height: 48px;
    @include flexbox();
    align-items: center;
    justify-content: center;
    min-width: 200px!important;
    background: transparent!important;
  }
}