@font-face {
  font-family: 'Gilroy Light';
  src: url('../../fonts/Gilroy-Light.eot');
  src: url('../../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-Light.woff2') format('woff2'),
  url('../../fonts/Gilroy-Light.woff') format('woff'),
  url('../../fonts/Gilroy-Light.ttf') format('truetype'),
  url('../../fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy Regular';
  src: url('../../fonts/Gilroy-Regular.eot');
  src: url('../../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-Regular.woff2') format('woff2'),
  url('../../fonts/Gilroy-Regular.woff') format('woff'),
  url('../../fonts/Gilroy-Regular.ttf') format('truetype'),
  url('../../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy Semibold';
  src: url('../../fonts/Gilroy-Semibold.eot');
  src: url('../../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-Semibold.woff2') format('woff2'),
  url('../../fonts/Gilroy-Semibold.woff') format('woff'),
  url('../../fonts/Gilroy-Semibold.ttf') format('truetype'),
  url('../../fonts/Gilroy-Semibold.svg#Gilroy-Semibold') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy Bold';
  src: url('../../fonts/Gilroy-Bold.eot');
  src: url('../../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-Bold.woff2') format('woff2'),
  url('../../fonts/Gilroy-Bold.woff') format('woff'),
  url('../../fonts/Gilroy-Bold.ttf') format('truetype'),
  url('../../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy Black';
  src: url('../../fonts/Gilroy-Black.eot');
  src: url('../../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-Black.woff2') format('woff2'),
  url('../../fonts/Gilroy-Black.woff') format('woff'),
  url('../../fonts/Gilroy-Black.ttf') format('truetype'),
  url('../../fonts/Gilroy-Black.svg#Gilroy-Black') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abyssinica SIL';
  src: url('../../fonts/AbyssinicaSIL.eot');
  src: url('../../fonts/AbyssinicaSIL.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/AbyssinicaSIL.woff2') format('woff2'),
  url('../../fonts/AbyssinicaSIL.woff') format('woff'),
  url('../../fonts/AbyssinicaSIL.ttf') format('truetype'),
  url('../../fonts/AbyssinicaSIL.svg#AbyssinicaSIL') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Algenta';
  src: url('../../fonts/Algenta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Inter Light';
  src: url('../../fonts/Inter-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Inter Medium';
  src: url('../../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

